<tr id="backup-table-{{b.0}}">
					<td class="padding10 first-collumn">
						<span id="backup-server-{{b.0}}">{{ b.1 }}</span>
					</td>
					<td>
						{{ input('backup-rserver-'+b.0|string(), value=b.2, size='14') }}
					</td>
					<td>

						{{ input('backup-rpath-'+b.0|string(), value=b.3) }}
					</td>
					<td>
						{% set values = {'backup':'backup','synchronization':'synchronization'} %}
						{{ select('backup-type-'+b.0|string(), values=values, selected=b.4, required='required', class='force_close') }}
					</td>
					<td>
					{% set values = {'hourly':'hourly','daily':'daily','weekly':'weekly', 'monthly':'monthly'} %}
						{{ select('backup-time-'+b.0|string(), values=values, selected=b.5, required='required', class='force_close') }}
						
					</td>
					<td>
						<select id="backup-credentials-{{b.0}}" required>
							<option disabled selected>Choose credentials</option>
							{% for ssh in sshs %}
								{% if ssh.2 == 1 %}
									{% if ssh.0 == b.6 %}
										<option value="{{ssh.0}}" selected="selected">{{ssh.1}}</option>
									{% else %}
										<option value="{{ssh.0}}">{{ssh.1}}</option>
									{% endif %}
								{% endif %}
							{% endfor %}
						</select>
					</td>
					<td>
						{% if b.7 != 'None' %}
							{{ input('backup-description-'+b.0|string(), value=b.7) }}
						{% else %}
							{{ input('backup-description-'+b.0|string()) }}
						{% endif %}
					</td>
					<td>
					<a class="add" onclick="cloneBackup({{b.0}})" id="clone-backup{{b.0}}" title="Clone {{b.1}}" style="cursor: pointer;"></a>
				</td> 
				<td>
					<a class="delete" onclick="confirmDeleteBackup({{b.0}})" title="Delete backup {{b.1}}" style="cursor: pointer;"></a>
				</td> 
				</tr>