<td class="padding10 first-collumn">
					{% if user.6 == 1%}
						<input type="text" id="login-{{user.0}}" value="{{user.1}}" class="form-control" readonly>
					{% else %}
						<input type="text" id="login-{{user.0}}" value="{{user.1}}" class="form-control">
					{% endif %}
				</td> 
				<td>
					{% if user.6 != 1%}
					<span  title="Change password" style="cursor: pointer">
						<img src="/inc/images/edit.png" alt="Edit" width="15" style="margin-bottom: -3px; padding-left: 15px;" onclick="openChangeUserPasswordDialog('{{user.0}}')" />
					</span>
					{% endif %}
				</td>
				<td class="checkbox">
					{% if user.7 == 1 %}
						<label for="activeuser-{{user.0}}"></label><input type="checkbox" id="activeuser-{{user.0}}" checked>
					{% else %}
						<label for="activeuser-{{user.0}}"></label><input type="checkbox" id="activeuser-{{user.0}}">
					{% endif %}
				</td>
				<td>
					{% if user.6 == 1%}
						<input type="text" id="email-{{user.0}}" value="{{user.2}}" class="form-control" readonly>
					{% else %}
						<input type="text" id="email-{{user.0}}" value="{{user.2}}" class="form-control">
					{% endif %}
				</td>