{% from 'include/input_macros.html' import input, checkbox %}
<tr>
	<td class="padding20">
		New hostname
		<span class="need-field">*</span>
	</td>
	<td>{{ input('new-server-add') }}</td>
<tr>
	<td class="padding20">
		IP
		<span class="need-field">*</span>
	</td>
	<td>{{ input('new-ip') }}</td>
<tr>
	<td class="padding20" title="SSH port">
		Port
		<span class="need-field">*</span>
	</td>
	<td>{{ input('new-port', value='22', type='number') }}</td>
</tr>
<tr>
	<td class="padding20">Enable</td>
	<td>{{ checkbox('enable', checked='checked') }}</td>
</tr>
<tr>
	<td class="padding20" title="Virtual IP(VRRP)">Virt</td>
	<td>{{ checkbox('typeip') }}</td>
</tr>
<tr>
	<td class="padding20 help_cursor" title="Scan the server for HAProxy, Nginx, Keepalived and Firewalld services">Scan the server</td>
	<td>{{ checkbox('scan_server', checked='checked') }}</td>
</tr>
<tr class="services_for_scan" style="display: none">
	<td class="padding20" title="Is there HAProxy?">HAProxy</td>
	<td>{{ checkbox('haproxy') }}	</td>
</tr>
<tr class="services_for_scan" style="display: none">
	<td class="padding20" title="Is there Nginx?">Nginx</td>
	<td>{{ checkbox('nginx') }}</td>
</tr>
<tr class="services_for_scan" style="display: none">
	<td class="padding20" title="Is there Firewall?">Firewall</td>
	<td>{{ checkbox('firewall') }}</td>
</tr>
<tr>
	<td class="padding20 help_cursor" title="Actions with master config will automatically apply on slave">Slave for</td>
	<td>
		<select id="slavefor">
			<option value="0" selected>Not slave</option>
			{% for master in masters %}
				<option value="{{master.0}}">{{master.1}}</option>
			{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<td class="padding20">Description</td>
	<td>{{ input('desc', size='30') }}</td>
</tr>