<table id="settings">
    <tbody>
        {% set section = namespace(section='') %}
        {% for set in settings %}
        {% if section.section|string() != set.section|string() %}
        <th colspan="3" title="Show {{ set.section }} section" id="{{set.section}}-section-head" style="cursor: pointer; padding-top: 10px;">
            <h3 class="plus-after" id="{{set.section}}-section-h3" style="font-size: 1em; padding-left: 15px;">
                {% if set.section == 'ldap' %}
                {{ set.section|upper}}
                {% else %}
                {{ set.section[0]|upper}}{{set.section[1:] }}
                {% endif %}
            </h3>
        </th>
        <tr class="overviewHead {{set.section}}-section" style="display: none">
            <td class="padding10 first-collumn">Parameter</td>
            <td class="addOption">Value</td>
            <td class="addOption">Description</td>
        </tr>
        {% endif %}
        {% set section.section = set.section %}
        <tr class="{{ loop.cycle('odd', 'even') }} {{set.section}}-section" style="display: none">
            <td class="addName">
                <a href="#{{set.param}}" title="{{set.param}}" style="color: #000;">{{set.param}}</a>
            </td>
            <td class="addOption">
                {% if set.param == 'ldap_password' %}
                {% if set.value == 'None' %}
                <input type="password" name="{{set.param}}" id="{{set.param}}" value="" title="" size="25" class="form-control" autocomplete="new-password">
                {% else %}
                <input type="password" name="{{set.param}}" id="{{set.param}}" value="" placeholder="*****" title="" size="25" class="form-control" autocomplete="new-password">
                {% endif %}
                {% else %}
                {% if set.value == 'None' %}
                <input type="text" name="{{set.param}}" id="{{set.param}}" value="" title="" size="25" class="form-control">
                {% else %}
                <input type="text" name="{{set.param}}" id="{{set.param}}" value="{{set.value}}" title="" size="25" class="form-control">
                {% endif %}
                {% endif %}
            </td>
            <td class="addOption">
                {{set.desc}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>