<table id="settings">
    <tbody>
        {% set section = namespace(section='') %}
        {% for set in settings %}
        {% if section.section|string() != set.section|string() %}
        <th colspan="3" title="Show {{ set.section }} section" id="{{set.section}}-section-head" style="cursor: pointer; padding-top: 10px;">
            <h3 class="plus-after" id="{{set.section}}-section-h3" style="font-size: 1em; padding-left: 15px;">
                {% if set.section == 'ldap' %}
                {{ set.section|upper}}
                {% else %}
                {{ set.section[0]|upper}}{{set.section[1:] }}
                {% endif %}
            </h3>
        </th>
        <tr class="overviewHead {{set.section}}-section" style="display: none">
            <td class="padding10 first-collumn">Parameter</td>
            <td class="addOption">Value</td>
            <td class="addOption">Description</td>
        </tr>
        {% endif %}
        {% set section.section = set.section %}
        <tr class="{{ loop.cycle('odd', 'even') }} {{set.section}}-section" style="display: none">
            <td class="addName">
                {{set.param}}
            </td>
            <td class="addOption">
                {% if set.param == 'ldap_password' or set.param == 'stats_password' or set.param == 'nginx_stats_password' %}
                    {% if set.value is none %}
                        {{ input(set.param, size='25', type='password') }}
                    {% else %}
                        {{ input(set.param, size='25', type='password', placeholder='*****') }}
                    {% endif %}
                {% elif set.param == 'nginx_stats_port' or set.param == 'session_ttl' or set.param == 'token_ttl' or
					set.param == 'stats_port' or set.param == 'haproxy_sock_port' or set.param == 'ldap_type' or
					set.param == 'ldap_port' or set.param == 'ldap_enable' or set.param == 'log_time_storage' or
					set.param == 'syslog_server_enable' or set.param == 'smon_check_interval' or
					set.param == 'checker_check_interval' or set.param == 'port_scan_interval' or
					set.param == 'smon_keep_history_range' or set.param == 'checker_keep_history_range' or
					set.param == 'portscanner_keep_history_range' or set.param == 'haproxy_enterprise' %}

                    {{ input(set.param, value=set.value, style='width: 210px;', type='number') }}
                {% else %}
                    {% if set.value is none %}
                        {{ input(set.param, size='25') }}
                    {% else %}
                        {{ input(set.param, value=set.value, size='25') }}
                    {% endif %}
                {% endif %}
            </td>
            <td class="addOption">
                {{set.desc}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>