{% from 'include/input_macros.html' import input, checkbox %}
<tr>
	<td class="padding20">
		New user
		<span class="need-field">*</span>
	</td>
	<td>
		{{ input('new-username') }}
			{% if ldap_enable == 1 %}
				<a href="#" title="Search user in AD" id="search_ldap_user">Search user in AD</a>
			{% endif %}
	</td>
</tr>
<tr>
	<td class="padding20">
		Password
		<span class="need-field">*</span>
	</td>
	<td>{{ input('new-password', type='password') }}</td>
</tr>
<tr>
	<td class="padding20">Active</td>
	<td>{{ checkbox('activeuser', checked='checked') }}</td>
</tr>
<tr>
	<td class="padding20">
		Email
		<span class="need-field">*</span>
	</td>
	<td>{{ input('new-email', type='email') }}</td>
</tr>