<div class="auto-refresh-div">
    <div class="auto-refresh-head">
        {{lang.words.refresh|title()}} {{lang.words.interval|title()}}
    </div>
    <div class="auto-refresh-interval">
        <div class="auto-refresh-ul">
            <ul style="width: 130px;">
                <li>
                    <a class="ui-button ui-widget ui-corner-all" onclick="setRefreshInterval(0)" title="Turn off auto-refresh">{{lang.words.no|title()}} {{lang.words.auto}}-{{lang.words.refresh}}</a>
                </li>
            </ul>
        </div>
        <div class="auto-refresh-ul" id="secIntervals">
            <ul style="width: 100px;">
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 5 {{lang.words.seconds2}}" onclick="setRefreshInterval(5000)">5 {{lang.words.seconds2}}</a></li>
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 10 {{lang.words.seconds2}}" onclick="setRefreshInterval(10000)">10 {{lang.words.seconds2}}</a></li>
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 30 {{lang.words.seconds2}}" onclick="setRefreshInterval(30000)">30 {{lang.words.seconds2}}</a></li>
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 45 {{lang.words.seconds2}}" onclick="setRefreshInterval(45000)">45 {{lang.words.seconds2}}</a></li>
            </ul>
        </div>
        <div class="auto-refresh-ul">
            <ul style="width: 100px;">
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every2}} 1 minute" onclick="setRefreshInterval(60000)">1 {{lang.words.minute}}</a></li>
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 5 {{lang.words.minutes}}" onclick="setRefreshInterval(300000)">5 {{lang.words.minutes}}</a></li>
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 15 {{lang.words.minutes}}" onclick="setRefreshInterval(900000)">15 {{lang.words.minutes}}</a></li>
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 30 {{lang.words.minutes}}" onclick="setRefreshInterval(1800000)">30 {{lang.words.minutes}}</a></li>
            </ul>
        </div>
        <div class="auto-refresh-ul">
            <ul style="width: 100px;">
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every3}} 1 {{lang.words.hour}}" onclick="setRefreshInterval(3600000)">1 {{lang.words.hour}}</a></li>
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 2 {{lang.words.hours}}" onclick="setRefreshInterval(7200000)">2 {{lang.words.hours}}</a></li>
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 12 {{lang.words.hours}}" onclick="setRefreshInterval(43200000)">12 {{lang.words.hours2}}</a></li>
                <li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every3}} 1 {{lang.words.day}}" onclick="setRefreshInterval(86400000)">1 {{lang.words.day}}</a></li>
            </ul>
        </div>
    </div>
</div>
