<center>
	<h4 style="font-size: 25px">Welcome and let's get started!</h4>
	<img src="/inc/images/no_servers.png" alt="There is no server">
	<br />
	<br />
	<h4>
		You don't have servers yet.
		Read how to <a href="https://roxy-wi.org/howto/add-existing-server" title="How to add an existing server">add an existing server</a>
		or create <a href="https://roxy-wi.org/howto/add-new-server" title="How to add a new server">a new one</a>
		{% if role == 2 %}
			and go to the "<a href="servers.py#servers" title="Servers">Servers</a>"
		{% elif role == 1 %}
			and go to the "<a href="users.py#servers" title="Servers">Admin area</a>"
		{% endif %}
		to add your first server
	</h4>
</center>
