{% if user %}
	<span id="show-user-settings-button" class="menu-bar login" title="User settings for user {{ user }}" style="margin-top: 7px;"></span>
{% else %}
	<a href=/app/login.py title="Login" class="login"> Login</a>
{% endif %}
{% if guide_me %}
	{% if page %}
		<style>
			.guid_me {
				float: right;
				position: absolute;
				color: #fff !important;
				cursor: pointer;
				top: 13px;
				right: 11px;
				font-size: 15px;
				margin-right: 10px
			 }
		</style>
	{% else %}
		<style>
			.guid_me {
				float: right;
				position: absolute;
				color: #fff !important;
				cursor: pointer;
				top: 8px;
				right: 7px;
				font-size: 17px;
				margin-right: 10px
			}
		</style>
	{% endif %}
	<span class="info guid_me" title="Guide me" onclick="startIntroAgain()"></span>
{% endif %}