{% if g.user_params['user'] %}
	<span id="show-user-settings-button" class="user-circle login" title="{{lang.words.user3|title()}} {{lang.words.settings}}" style="margin-top: 5px;" onclick="openUserSettings('{{g.user_params['user_id']}}')">{{g.user_params['user']}}</span>
{% else %}
	<a href=/login title="Login" class="login"> Login</a>
{% endif %}
<a href="/logout" title="{{lang.words.logout|title()}}" style="float: right;
    right: 27px;
    position: absolute;
    top: 8px;
	font-size: 17px;
"><i class="fas fa-sign-out-alt"></i></a>
