    <table>
        {% if page == 'users.py' %}
        <caption><h3>Installing Grafana and Prometheus servers</h3></caption>
        <tr class="overviewHead">
            <td class="padding10 first-collumn">Current installation</td>
            <td class="padding10 first-collumn" style="width: 40%;">Available Versions</td>
            <td class="padding10 first-collumn" style="width: 30%;">Note</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td id="cur_grafana_ver" class="padding10 first-collumn">
                {% if grafana == "active" %}
                Grafana and Prometheus servers have benn installed
                {% else %}
                There are no Grafana and Prometheus servers
                {% endif %}
            </td>
            <td class="padding10 first-collumn" style="width: 20%;">
                Roxy-WI will try to install the latest Grafana and Prometheus servers versions
            </td>
            <td class="padding10 first-collumn">
                Before installing any exporters, first install Grafana and Prometheus servers
            </td>
            <td></td>
            <td>
                {% if grafana != "active" %}
                <span class="ui-button ui-widget ui-corner-all" id="grafna_install" title="Install Grafana and Prometheus server">Install</span>
                {% endif %}
            </td>
        </tr>
    </table>
    {% endif %}
    <table>
        <caption><h3>Install HAProxy Exporter</h3></caption>
        <tr class="overviewHead">
            <td class="padding10 first-collumn">Current installation</td>
            <td class="padding10 first-collumn" style="width: 30%;">Available Versions</td>
            <td class="help_cursor" style="width: 20%;" title="This exporter will be used by an external Prometheus. Also use this checkbox if you update the Exporter">External Prometheus</td>
            <td class="padding10 first-collumn" style="width: 30%;">Server</td>
            <td></td>
        </tr>
        <tr>
            <td id="cur_haproxy_exp_ver" class="padding10 first-collumn"></td>
            <td class="padding10 first-collumn" style="width: 20%;">
                {% set values = dict() %}
                {% set values = {'0.7.0':'0.7.0','0.7.1':'0.7.1', '0.8.0':'0.8.0', '0.9.0':'0.9.0', '0.10.0':'0.10.0',
                '0.11.0':'0.11.0', '0.12.0':'0.12.0', '0.13.0':'0.13.0'} %}
                {{ select('hapexpver',  values=values, selected='0.13.0') }}
            </td>
            <td style="padding-left: 50px;">{{ checkbox('haproxy_ext_prom', title="This exporter will be used by an external Prometheus. Also use this checkbox if you update the Exporter") }}</td>
            <td class="padding10 first-collumn">
                <select autofocus required name="haproxy_exp_addserv" id="haproxy_exp_addserv">
                    <option disabled selected>------</option>
                    {% for select in servers %}
                    <option value="{{ select.2 }}">{{ select.1 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <span class="ui-button ui-widget ui-corner-all" id="haproxy_exp_install" title="Install HAProxy Exporter">Install</span>
            </td>
        </tr>
    </table>
    <table>
        <caption><h3>Install NGINX Exporter</h3></caption>
        <tr class="overviewHead">
            <td class="padding10 first-collumn">Current installation</td>
            <td class="padding10 first-collumn" style="width: 30%;">Available Versions</td>
            <td class="help_cursor" style="width: 20%;" title="This exporter will be used by an external Prometheus. Also use this checkbox if you update the Exporter">External Prometheus</td>
            <td class="padding10 first-collumn" style="width: 30%;">Server</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td id="cur_nginx_exp_ver" class="padding10 first-collumn"></td>
            <td class="padding10 first-collumn" style="width: 20%;">
                {% set values = dict() %}
                {% set values = {'0.5.0':'0.5.0', '0.6.0':'0.6.0', '0.7.0':'0.7.0', '0.9.0':'0.9.0', '0.10.0':'0.10.0'} %}
                {{ select('nginxexpver',  values=values, selected='0.10.0') }}
            </td>
            <td style="padding-left: 53px;">{{ checkbox('nginx_ext_prom', title="This exporter will be used by an external Prometheus. Also use this checkbox if you update the Exporter") }}</td>
            <td class="padding10 first-collumn">
                <select autofocus required name="nginx_exp_addserv" id="nginx_exp_addserv">
                    <option disabled selected>------</option>
                    {% for select in servers %}
                    <option value="{{ select.2 }}">{{ select.1 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <span class="ui-button ui-widget ui-corner-all" id="nginx_exp_install" title="Install NGINX Exporter">Install</span>
            </td>
        </tr>
    </table>
    <table style="margin-top: 20px">
        <caption><h3>Install Node Exporter</h3></caption>
        <tr class="overviewHead">
            <td class="padding10 first-collumn">Current installation</td>
            <td class="padding10 first-collumn" style="width: 30%;">Available Versions</td>
            <td class="help_cursor" style="width: 20%;" title="This exporter will be used by an external Prometheus. Also use this checkbox if you update the Exporter">External Prometheus</td>
            <td class="padding10 first-collumn" style="width: 30%;">Server</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td id="cur_node_exp_ver" class="padding10 first-collumn"></td>
            <td class="padding10 first-collumn" style="width: 20%;">
                {% set values = dict() %}
                {% set values = {'1.0.0':'1.0.0','1.1.0':'1.1.0', '1.1.1':'1.1.1', '1.1.2':'1.1.2', '1.2.0':'1.2.0',
                '1.2.2':'1.2.2', '1.3.0':'1.3.0', '1.3.1':'1.3.1'} %}
                {{ select('nodeexpver',  values=values, selected='1.3.1') }}
            </td>
            <td style="padding-left: 53px;">{{ checkbox('node_ext_prom', title="This exporter will be used by an external Prometheus. Also use this checkbox if you update the Exporter") }}</td>
            <td class="padding10 first-collumn">
                <select autofocus required name="node_exp_addserv" id="node_exp_addserv">
                    <option disabled selected>------</option>
                    {% for select in servers %}
                    <option value="{{ select.2 }}">{{ select.1 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <span class="ui-button ui-widget ui-corner-all" id="node_exp_install" title="Install Node Exporter">Install</span>
            </td>
        </tr>
    </table>
    <div id="ajaxmon"></div>
    <div class="add-note alert addName alert-info" style="width: inherit; margin-right: 15px;">
        Read <a href="https://roxy-wi.org/services/grafana" title="About Grafana and Prometheus servers" target="_blank">About Grafana and Prometheus servers</a>
        and <a href="https://roxy-wi.org/howto/exporters" title="About Exporters" target="_blank">About Exporters</a>
    </div>
    