{% set lang_short = 'en' %}
{% set menu_links = dict() %}
{% set menu_links = {
    "overview": {
        "link": "Overview",
        "title": "Server and service status",
        "h2": "Overview"
    },
    "hapservers": {
        "link": "Overview",
        "h2": "Service overview",
        "haproxy": {
            "title": "HAProxy servers overview"
        },
        "nginx": {
            "title": "NGINX servers overview"
        },
        "apache": {
            "title": "Apache servers overview"
        },
        "keepalived": {
            "title": "Keepalived Keepalived overview"
        },
    },
    "config": {
        "link": "Config",
        "h2": "Working with configs",
        "haproxy": {
            "title": "Working with Haproxy configs"
        },
        "nginx": {
            "title": "Working with NGINX configs"
        },
        "apache": {
            "title": "Working with Apache configs"
        },
        "keepalived": {
            "title": "Working with Keepalived configs"
        },
    },
    "stats": {
        "link": "Stats",
        "h2": "Statistics of",
        "haproxy": {
            "title": "HAProxy statistics"
        },
        "nginx": {
            "title": "NGINX statistics"
        },
        "apache": {
            "title": "Apache statistics"
        },
    },
    "logs": {
        "link": "Logs",
        "title": "logs",
        "h2": "Logs of"
    },
    "metrics": {
        "link": "Metrics",
        "title": "metrics",
        "h2": "Metrics of",
    },
    "add_proxy": {
        "link": "Add proxy",
        "title": "Add proxy: Create proxy"
    },
    "versions": {
        "link": "Versions",
        "h2": "Working with Configuration Versions of",
        "haproxy": {
            "title": "Working with HAProxy Configuration Versions"
        },
        "nginx": {
            "title": "Working with NGINX Configuration Versions"
        },
        "apache": {
            "title": "Working with Apache Configuration Versions"
        },
        "keepalived": {
            "title": "Working with Keepalived Configuration Versions"
        },
    },
    "ssl": {
        "link": "SSL",
        "title": "Add proxy: Upload SSL certificates"
    },
    "lists": {
        "link": "Lists",
        "title": "Add proxy: Create and upload whitelists or blacklists"
    },
    "ha": {
        "title": "Create and configure a high availability cluster"
    },
    "monitoring": {
        "link": "Monitoring",
        "title": "Monitoring tools",
        "smon": {
            "dashboard": "SMON: Dashboard",
            "history": "SMON: History",
            "admin": "SMON: Admin panel",
        },
        "checker_history": "Checker: History",
        "port_scan": "Port scanner",
        "net_tools": "Network: tools",
    },
    "servers": {
        "link": "Servers",
        "title": "Servers manage"
    },
    "admin_area": {
        "link": "Admin area",
        "title": "Admin area"
    },
    "history": {
        "title": "History of"
    }
}
%}
{% set services = dict() %}
{% set services = {
    "hapservers_desc": "Checker monitors the service. If the service changes its status, Checker will alert via Telegram, Slack, Email, Web",
    "last_edit": "Last edit"
    }
%}
{% set errors = dict() %}
{% set errors = {
    "cannot_get_info": "Cannot get information about",
    "something_wrong": "Something went wrong with installation on",
    "check_logs": "check logs",
    "select_server": "Select a server first",
    "empty_name": "The name cannot be empty",
    }
%}
{% set settings = {
    "rabbitmq": {
        "rabbitmq_host": "RabbitMQ-server host",
        "rabbitmq_port": "RabbitMQ-server port",
        "rabbitmq_vhost": "RabbitMQ-server vhost",
        "rabbitmq_queue": "RabbitMQ-server queue",
        "rabbitmq_user": "RabbitMQ-server user",
        "rabbitmq_password": "RabbitMQ-server password",
        },
    "nginx": {
        "nginx_path_logs": "The path for NGINX logs",
        "nginx_stats_user": "Username for accessing NGINX stats page",
        "nginx_stats_password": "Password for Stats web page NGINX",
        "nginx_stats_port": "Stats port for web page NGINX",
        "nginx_stats_page": "URI Stats for web page NGINX",
        "nginx_dir": "Path to the NGINX directory with config files",
        "nginx_config_path": "Path to the main NGINX configuration file",
        "nginx_container_name": "Docker container name for NGINX service",
        },
    "monitoring": {
        "smon_check_interval": "Check interval for SMON (in minutes)",
        "port_scan_interval": "Check interval for Checker (in minutes)",
        "portscanner_keep_history_range": "Check interval for Port scanner (in minutes)",
        "smon_keep_history_range": "Retention period for SMON history",
        "checker_keep_history_range": "Retention period for Checker history",
        "checker_maxconn_threshold": "Retention period for Port scanner history",
        "checker_check_interval": "Threshold value for maxconn alerting, in %",
        "smon_ssl_expire_warning_alert": "Warning alert about a SSL certificate expiration (in days)",
        "smon_ssl_expire_critical_alert": "Critical alert about a SSL certificate expiration (in days)",
        },
    "main": {
        "time_zone": "Time Zone",
        "proxy": "IP address and port of the proxy server. Use proto://ip:port",
        "session_ttl": "TTL for a user session (in days)",
        "token_ttl": "TTL for a user token (in days)",
        "tmp_config_path": "Path to the temporary directory. A valid path should be specified as the value of this parameter. The directory must be owned by the user specified in SSH settings",
        "cert_path": "Path to SSL dir. Folder owner must be a user which set in the SSH settings. Path must exist",
        "ssl_local_path": "Path to the directory with the saved local SSL certificates. The value of this parameter is specified as a relative path beginning with $HOME_ROXY_WI/app/",
        "lists_path": "Path to the black and the white list. The value of this paramer should be specified as a relative path beginning with $HOME_ROXY-WI",
        "maxmind_key": "License key for downloading to GeoLite2 DB. You can create it on maxmind.com",
        },
    "mail": {
        "mail_ssl": "Enable TLS",
        "mail_from": "Address of sender",
        "mail_smtp_host": "SMTP server address",
        "mail_smtp_port": "SMTP server port",
        "mail_smtp_user": "User for auth",
        "mail_smtp_password": "Password for auth",
        },
    "logs": {
        "syslog_server_enable": "Enable getting logs from a syslog server",
        "syslog_server": "IP address of the syslog_server",
        "log_time_storage": "Retention period for user activity logs (in days)",
        "apache_log_path": "Path to Apache logs",
        },
    "ldap": {
        "ldap_enable": "Enable LDAP",
        "ldap_server": "IP address of the LDAP server",
        "ldap_port": "LDAP port (port 389 or 636 is used by default)",
        "ldap_user": "LDAP username",
        "ldap_password": "LDAP password",
        "ldap_base": "Base domain. Example: dc=domain, dc=com",
        "ldap_domain": "LDAP domain for logging in",
        "ldap_class_search": "Class for searching the user",
        "ldap_user_attribute": "Attribute to search users by",
        "ldap_search_field": "User's email address",
        "ldap_type": "Use LDAPS",
        },
    "haproxy": {
        "haproxy_path_logs": "The path for HAProxy logs",
        "stats_user": "Username for accessing HAProxy stats page",
        "stats_password": "Password for Stats web page HAProxy",
        "stats_port": "Stats port for web page HAProxy",
        "stats_page": "URI Stats for web page HAProxy",
        "haproxy_dir": "Path to the HAProxy directory with config files",
        "haproxy_config_path": "Path to the main HAProxy configuration file",
        "server_state_file": "Path to the HAProxy state file",
        "haproxy_sock": "Path to the HAProxy socket file",
        "haproxy_sock_port": "HAProxy sock port",
        "haproxy_container_name": "Docker container name for HAProxy service",
        },
    "apache": {
        "apache_path_logs": "The path for Apache logs",
        "apache_stats_user": "Username for accessing Apache stats page",
        "apache_stats_password": "Password for Stats web page Apache",
        "apache_stats_port": "Stats port for web page Apache",
        "apache_stats_page": "URI Stats for web page Apache",
        "apache_dir": "Path to the Apache directory with config files",
        "apache_config_path": "Path to the main Apache configuration file",
        "apache_container_name": "Docker container name for Apache service",
        },
    "keepalived": {
        "keepalived_config_path": "Path to the main Keepalived configuration file",
        "keepalived_path_logs": "The path for Keepalived logs",
        },
    }
%}
{% set phrases = dict() %}
{% set phrases = {
    "config_file_name": "Config file name",
    "no_events_added": "No events added yet.",
    "upload_and_restart": "Upload and restart",
    "upload_and_reload": "Upload and reload",
    "save_and_restart": "Save and restart",
    "save_and_reload": "Save and reload",
    "save_title": "Just save, without restarting service",
    "return_to_config": "Return to configuration view",
    "check_config": "Check config",
    "master_slave": "If you reconfigure Master server, Slave will be reconfigured automatically",
    "read_about_files": "You can read the description about all logs file",
    "read_about_parameters": "You can read the description of all parameters",
    "read_howto": "read HowTo in this",
    "howto_user": "How to use",
    "select_file": "Select a file",
    "read_how_it_works": "You can read how it works",
    "metrics_not_installed": "You have not installed Metrics service.",
    "how_to_install_metrics": "how to install Metrics service",
    "enable_avg_table": "Enable display of the table of averages",
    "disable_avg_table": "Disable display of the table of averages",
    "protected_title": "If protection is enabled, then the server is inaccessible for editing by everyone except the admin role",
    "slave_for_title": "Actions with the master config will automatically apply on the slave",
    "server_unknown": "Server status is unknown",
    "no_sub": "You are not subscribed",
    "pls_sub": "Please subscribe to have access to this feature",
    "no_av_feat": "This feature is not available for your plan",
    "fwd_warn": "There are rules only from INPUT, IN_public_allow and OUTPUT chains",
    "search_in_ad": "Search user in AD",
    "are_you_sure": "Are you sure?",
    "delete_dialog": "Deletion is irretrievable, all data will be lost",
    "fields_mark": "Fields marked with",
    "are_required": "are required",
    "scan_title": "Scan the server for HAProxy, NGINX, Keepalived and Firewalld services",
    "superAdmin_pass": "You cannot edit password for superAdmin role",
    "superAdmin_services": "You cannot edit services for superAdmin role",
    "pass_mismatched": "The passwords are mismatched",
    "private_key_note": "Private key. Note: The public key must be pre-installed on all servers to what you plan to connect",
    "send_test_mes": "Send a test message",
    "alert_service_change_status": "Alert about changing service status",
    "alert_backend_change_status": "Alert about changing backend status",
    "alert_number_conn": "Alert if the number of connections is about to reach the limit",
    "alert_master_backup": "Alert about changing Master/Backup status",
    "new_version": "There is a new version Roxy-WI. Check the",
    "all_alerts_enabled": "Alerts are enabled",
    "disable_alerts": "Disable alerting",
    "work_with_prev": "Here you can work with previous versions of configs",
    "roll_back": "Roll back to them, view or delete",
    "files_been_deleted": "The following files have been deleted",
    "version_has_been_uploaded": "The following version of the configuration file has been uploaded and saved as",
    "new_config_has_been_saved": "A new config has been saved as",
    "view_and_upload": "View and upload this version of the config",
    "int_vrrp": "Interface for VRRP address on a server",
    "howto_ha": "How to create high available cluster",
    "been_installed": "has been installed",
    "wait_mess": "Please do not close or refresh the page. Wait until the job is completed. This may take some time",
    "you_are_editing": "You are editing",
    "section_from_server": "section from server",
    "how_to_install": "how to install",
    "port_check": "port check",
    "possible_service_name": "Possible service name",
    "server_info": "Server info",
    "user_groups": "User groups",
    }
%}
{% set roles = {
    "superAdmin": "Has the highest level of administrative permissions and controls the actions of all other users",
    "admin": "Has access everywhere except the Admin area",
    "user": "Has the same rights as the admin but has no access to the Servers page",
    "guest": "Read-only access"
    }
%}
{% set add_page = {
    "desc": {
        "port_check": "A basic TCP-layer health check tries to connect to the server's TCP port. The check is valid when the server answers with a SYN/ACK packet.",
        "maxconn": "The total number of connections allowed, process-wide. This stops the process from accepting too many connections at once, which safeguards it from running out of memory.",
        "server_template": "Create the list of servers from the template",
        "def_check": "Default params",
        "saved_options": "These are the options that you saved in the 'Options' tab",
        "press_down": "or press the 'down' button",
        "ip_port": "If the IP-address for the listener is empty, it will listen on all IP addresses. Start typing IP or press down button.  Click on + to add multiple IP-port pairs. If you are using VRRP, leave the IP field blank. If you assign a VRRP IP, the slave server will not start.",
        "listener_desc1": "A 'listen' section defines a complete proxy with its frontend and backend parts combined in one section. It is generally useful for TCP-only traffic.",
        "listener_desc2": "All proxy names must be formed from upper and lower case letters, digits, '-' (dash), '_' (underscore) , '.' (dot) and ':' (colon). ACL names are case-sensitive, which means that 'www' and 'WWW' are two different proxies.",
        "listener_desc3": "Historically, all proxy names could overlap, it just caused troubles in the logs. Since the introduction of content switching, it is mandatory that two proxies with overlapping capabilities (frontend/backend) have different names. However, it is still permitted that a frontend and a backend share the same name, as this configuration seems to be commonly encountered.",
        "front_desc1": "A 'frontend' section describes a set of listening sockets accepting client connections.",
        "back_des1": "A 'backend' section describes a set of servers to which the proxy will connect to forward incoming connections.",
        "ssl_offloading": "The term SSL termination means that you are performing all encryption and decryption at the edge of your network, such as at the load balancer.",
        "http_https": "Enable redirection from HTTP scheme to HTTPS scheme",
        "maxconn_desc": "This value should not exceed the global maxconn. Default global maxconn value",
        "maxconn_fix": "Fix the maximum number of concurrent connections on a frontend",
        "antibot": "Unfortunately, a large portion of bots are used for malicious reasons. Their intentions include web scraping, spamming, request flooding, brute forcing, and vulnerability scanning. For example, bots may scrape your price lists so that competitors can consistently undercut you or build a competitive solution using your data. Or they may try to locate forums and comment sections where they can post spam. At other times, they’re scanning your site looking for security weaknesses",
        "slow_attack": "In a Slow POST attack, an attacker begins by sending a legitimate HTTP POST header to a Web server, exactly as they would under normal circumstances. The header specifies the exact size of the message body that will then follow. However, that message body is then sent at an alarmingly low rate – sometimes as slow as 1 byte per approximately two minutes",
        "http_compression": "HTTP compression allows you to shrink the body of a response before it is relayed to a client, which results in using less network bandwidth per request. From a client\'s perspective, this reduces latency.",
        "forward_for": "When HAProxy Enterprise proxies a TCP connection, it overwrites the client\'s source IP address with its own when communicating with the backend server. However, when relaying HTTP messages, it can store the client\'s address in the HTTP header X-Forwarded-For. The backend server can then be configured to read the value from that header to retrieve the client\'s IP address.",
        "redispatch": "In HTTP mode, if a server designated by a cookie is down, clients may definitely stick to it because they cannot flush the cookie, so they will not be able to access the service anymore. Specifying 'option redispatch' will allow the proxy to break their persistence and redistribute them to a working server. It also allows to retry connections to another server in case of multiple connection failures. Of course, it requires having 'retries' set to a nonzero value.",
        "force_close": "Since HAProxy works in reverse-proxy mode, the servers see its IP address as their client address. This is sometimes annoying when the client\'s IP address is expected in server logs. To solve this problem, the well-known HTTP header 'X-Forwarded-For' may be added by HAProxy to all requests sent to the server. This header contains a value representing the client\'s IP address. Since this header is always appended at the end of the existing header list, the server must be configured to always use the last occurrence of this header only. See the server\'s manual to find how to enable use of this standard header. Note that only the last occurrence of the header must be used, since it is really possible that the client has already brought one.",
        "cookie": "To send a client to the same server where they were sent previously in order to reuse a session on that server, you can enable cookie-based session persistence. Add a cookie directive to the backend section and set the cookie parameter to a unique value on each server line.",
        "c_prefix": "This keyword indicates that instead of relying on a dedicated cookie for the persistence, an existing one will be completed",
        "c_nocache": "This option is recommended in conjunction with the insert mode when there is a cache between the client and HAProxy",
        "c_nocache": "This option is recommended in conjunction with the insert mode when there is a cache between the client and HAProxy",
        "c_postonly": "This option ensures that cookie insertion will only be performed on responses to POST requests",
        "c_dynamic": "Activate dynamic cookies. When used, a session cookie is dynamically created for each server",
        "def_backend": "If you want to use the default backend",
        "def_backend_exit": "backend must exist",
        "port_for_bind": "Port for bind",
        "bind_ip_pair": "Bind one more IP-port pair",
        "no_def_backend": "If no condition is valid, the backend defined with 'default_backend' will be used. If no default backend is defined, either the servers in the same section are used (in case of a 'listen' section) or, in case of a frontend, no server is used and a 503 service unavailable response is returned",
        "circuit_breaking": "Circuit breaker is a design pattern which is used to detect failures and encapsulates the logic of preventing a failure from constantly recurring. The circuit breaker design pattern works much like an electrical circuit breaker which is intended to 'trip' or open the circuit when failure is detected.",
        "peers_master": "Note: If you would like to use HAProxy services as Master-Master cluster you must set local servers hostnames as peers servers names. Otherwise, peers will not work",
        "peers_slave": "Note: If you would like to use HAProxy services as Master-Slave cluster you must set local server hostname for master server as peer server name. Otherwise, peers will not work",
        "peers": "The peers section enables the replication of stick table data between two or more HAProxy instances",
        "userlist": "In this section you can create userlists. And after use them  in the 'Add' sections",
        "userlist_name": "Userlist name",
        "userlist_pass": "User password. By default, it insecure-password",
        "userlist_user_grp": "User`s group",
        "userlist_user": "It is also possible to attach groups to this user by using a comma separated list of groups",
        "userlist_group": "It is also possible to attach users to this group by using a comma separated list of names preceded by 'users' keyword",
        "userlist_desc": "It is possible to control access to frontend/backend/listen sections or to http stats by allowing only authenticated and authorized users. To do this, it is required to create at least one userlist and to define users",
        "servers": "In this section you can create, edit and delete servers. And after use them as autocomplete in the 'Add' sections",
        "servers": "In this section you can create, edit and delete options. And after use them as autocomplete in the 'Add' sections",
        "paste_cert": "Paste the contents of the certificate file",
        "paste_cert_desc": "This pem file will be used to create https connection with HAProxy, NGINX or Apache",
        "lists_howto": "In this section you can create and edit black and white lists. And after use them in the HAProxy configs or in the 'Add proxy' pages. Read how to use it in this",
        "lists_new_line": "Each new address must be specified from a new line",
        "was_success_added": "was success added",
        "create_ssl_proxy": "Create HTTPS Proxy with the SSL termination on HAProxy and SSL offload. HAProxy will send to backends HTTP traffic. You need have",
        "create_ssl_front": "Create HTTPS Frontend with the SSL termination on HAProxy and SSL offload. HAProxy will send to backends HTTP traffic. You need have",
        "create_ssl_backend": "Create HTTPS Backend with the SSL termination on HAProxy and SSL offload. HAProxy will send to backends HTTP traffic. You need have",
        "create_https_proxy": "Create HTTPS Proxy without the SSL termination on HAProxy and SSL offload. HAProxy will send to backends HTTPS traffic",
        "create_https_front": "Create HTTPS Frontend without the SSL termination on HAProxy and SSL offload. HAProxy will send to backends HTTPS traffic",
        "create_https_backend": "Create HTTPS Backend without the SSL termination on HAProxy and SSL offload. HAProxy will send to backends HTTPS traffic",
        "option_temp": "Create, edit and delete options with given parameters. And after use them as autocomplete in the 'Add' sections",
        "server_temp": "Create, edit and delete servers. And after use them as autocomplete in the 'Add' sections",
        "use_add": "And use it in the 'Add' sections",
        },
    "buttons": {
        "disable_ssl_check": "Disable SSL check",
        "disable_ssl_verify": "Disable SSL verify on servers",
        "set_options": "Set options",
        "set_options_m": "Set options manually",
        "show_full_settings": "Show full list of settings",
        "show_full_settings": "Hide full list of settings",
        }
    }
%}
{% set add_nginx_page = {
    "desc": {
        "upstream_desc1": "The upstream module is used to define groups of servers.",
        "upstream_desc2": "Defines a group of servers. Servers can listen on different ports. In addition, servers listening on TCP and UNIX-domain sockets can be mixed.",
        "upstream_desc3": "By default, requests are distributed between the servers using a weighted round-robin balancing method.",
        "keepalive": "The connections parameter sets the maximum number of idle keepalive connections to upstream servers that are preserved in the cache of each worker process. When this number is exceeded, the least recently used connections are closed.",
        "fail_timeout": "The time during which the specified number of unsuccessful attempts to communicate with the server should happen to consider the server unavailable; and the period of time the server will be considered unavailable.",
        "max_fails": "Sets the number of unsuccessful attempts to communicate with the server that should happen in the duration set by the fail_timeout parameter to consider the server unavailable for a duration also set by the fail_timeout parameter. By default, the number of unsuccessful attempts is set to 1.",
        }
    }
%}
{% set admin_page = {
    "desc": {
        "latest_repo": "Roxy-WI will try to install the latest version of the service from the official repository",
        "install_as_docker": "Install service as a Docker container",
        "ext_prom": "This exporter will be used by an external Prometheus. Also use this checkbox if you update the Exporter.",
        "no_ansible": "You have not installed",
        "before_install": "Before installing any exporters, first install",
        "been_installed": "servers have been installed",
        "there_are_no": "There are no Grafana and Prometheus servers",
        "country_codes": "country codes",
        "smon_desc": "SMON stands for <b>S</b>imple <b>MON</b>itoring",
        "checker_desc": "Checker is designed for monitoring HAProxy, Nginx, Apache and Keepalived services as well as HAProxy backends and maxconn",
        "auto_start_desc": "The Auto Start service allows to restart the HAProxy, NGINX, Apache and Keepalived services if they are down",
        "metrics_desc": "Collects number of connections for HAProxy, NGINX, Apache and HAProxy WAF services",
        "p_s_desc": "Checks the server for open ports and saves history",
        "socket_desc": "Socket is a service for sending alerts and notifications",
        "a_new_version": "There is a newer version",
        "no_new_version": "There is not a newer version",
        "main_app": "The main application",
        "for_updating": "For updating you have to use Roxy-WI RPM or DEB",
        "how_to_using_repo": "how to start using repository.",
        "proxy_settings": "If the Roxy-WI server uses a proxy to connect to the Internet, add the proxy settings to yum.conf.",
        }
    }
%}
{% set smon_page = {
    "desc": {
        "before_use": "before use",
        "smon_is_not_run": "SMON service is not run.",
        "run_smon": "Run the SMON service",
        "not_installed": "You have not installed SMON service",
        "not_added": "You do not have added servers in SMON service",
        "create_server": "Create your first server",
        "see_check": "to see if new check have been added",
        "do_not_sort": "Do not sort",
        "do_not_sort_by_status": "Do not sort by status",
        "sort_status": "Sort by status",
        "status_summary": "Status summary",
        "enabled_checks": "Enabled checks",
        "http_status_check": "HTTP status check",
        "body_status_check": "Body response check",
        "resp_time": "Resp time",
        "last_resp_time": "Last resp time",
        "UP": "UP",
        "DOWN": "DOWN",
        "HTTP_FAILURE": "HTTP FAILURE",
        "BODY_FAILURE": "BODY FAILURE",
        "UNKNOWN": "UNKNOWN",
        "PORT_DOWN": "PORT DOWN",
        }
    }
%}
{% set p_s_page = {
    "desc": {
        "is_enabled_and_up": "Port scanner is enabled and service is UP",
        "is_enabled_and_down": "Port scanner is enabled, but service is DOWN",
        "scanning_ports": "Scanning open/filtered ports for the server",
        "total_open_ports": "Total opened ports",
        }
    }
%}
{% set words = {
    "cache": "cache",
    "compression": "compression",
    "acceleration": "acceleration",
    "start": "start",
    "start2": "start",
    "stop": "stop",
    "restart": "restart",
    "service": "service",
    "service2": "service",
    "services": "services",
    "services2": "services",
    "services3": "services",
    "services4": "services",
    "started": "started",
    "reload": "reload",
    "reloading": "reloading",
    "stopped": "stopped",
    "no_desc": "no description",
    "process_num": "process_num",
    "version": "version",
    "version2": "version",
    "versions": "versions",
    "error": "error",
    "addresses": "addresses",
    "address": "address",
    "virtual": "virtual",
    "hosts": "hosts",
    "time_range": "Time range",
    "server": "server",
    "server2": "server",
    "status": "status",
    "current": "current",
    "current2": "current",
    "total": "total",
    "server_status": "Server status",
    "services_status": "Services status",
    "compare": "compare",
    "map": "map",
    "about": "about",
    "help": "help",
    "contacts": "contacts",
    "cabinet": "cabinet",
    "legal": "legal",
    "alert": "alert",
    "alert2": "alert",
    "alerts": "alerts",
    "manage": "manage",
    "user": "user",
    "user2": "user",
    "users": "users",
    "users2": "users",
    "username": "username",
    "servers": "servers",
    "servers2": "servers",
    "creds": "credentials",
    "creds2": "credentials",
    "settings": "settings",
    "settings2": "settings",
    "install": "install",
    "installation": "installation",
    "installing": "installing",
    "proxy": "proxy",
    "provisioning": "provisioning",
    "backup": "backup",
    "backup2": "backup",
    "configs": "configs",
    "configs2": "configs",
    "config": "config",
    "from": "from",
    "view": "view",
    "internal": "internal",
    "internal2": "internal",
    "log": "log",
    "logs": "logs",
    "logs2": "logs",
    "admin_area": "admin area",
    "group": "group",
    "group2": "group",
    "groups": "groups",
    "groups2": "groups",
    "groups3": "groups",
    "w_update": "update",
    "updating": "updating",
    "monitoring": "monitoring",
    "auto": "auto",
    "refresh": "refresh",
    "refresh2": "refresh",
    "no": "no",
    "not": "not",
    "yes": "yes",
    "interval": "interval",
    "desc": "description",
    "login": "login",
    "role": "role",
    "roles": "roles",
    "subs": "subscription",
    "show_all": "show all",
    "plan": "plan",
    "pay_method": "pay method",
    "active": "active",
    "open": "open",
    "opened": "opened",
    "edit": "edit",
    "delete": "delete",
    "add": "add",
    "save": "save",
    "saved": "saved",
    "saving": "saving",
    "expand_all": "expand all",
    "collapse_all": "collapse all",
    "raw": "raw",
    "stats": "stats",
    "note": "note",
    "back": "back",
    "show": "show",
    "run": "run",
    "running": "running",
    "statistics": "statistics",
    "rollback": "rollback",
    "previous": "previous",
    "to": "to",
    "listener": "listener",
    "frontends": "frontends",
    "frontend": "frontend",
    "backends": "backends",
    "backend": "backend",
    "maintain": "maintain",
    "drain": "drain",
    "number": "number",
    "rows": "rows",
    "row": "row",
    "find": "find",
    "exclude": "exclude",
    "file": "file",
    "file2": "file",
    "files": "files",
    "here": "here",
    "action": "action",
    "actions": "actions",
    "command": "command",
    "save": "save",
    "change": "change",
    "change2": "change",
    "enter": "enter",
    "enter2": "enter",
    "lists": "lists",
    "list": "list",
    "sessions": "sessions",
    "session": "session",
    "and": "and",
    "select": "select",
    "select2": "select",
    "new": "new",
    "new2": "new",
    "port": "port",
    "ports": "ports",
    "table": "table",
    "w_get": "get",
    "dynamically": "dynamically",
    "set": "set",
    "type": "type",
    "typing": "typing",
    "site": "size",
    "is": "is",
    "w_empty": "empty",
    "used": "used",
    "w_clear": "clear",
    "this": "this",
    "this2": "this",
    "this3": "this",
    "this4": "this",
    "entry": "entry",
    "age": "age",
    "protocol": "protocol",
    "rate": "rate",
    "expire": "expire",
    "more": "more",
    "info": "info",
    "source": "source",
    "overview": "overview",
    "personal": "personal",
    "read": "read",
    "second": "second",
    "seconds": "seconds",
    "seconds2": "seconds",
    "minute": "minute",
    "minute2": "minute",
    "minutes": "minutes",
    "hour": "hour",
    "hours": "hours",
    "hours2": "hours",
    "day": "day",
    "days": "days",
    "metrics": "metrics",
    "every": "every",
    "every2": "every",
    "every3": "every",
    "hide": "hide",
    "average": "Average",
    "peak": "peak",
    "connect": "connect",
    "connections": "connections",
    "connections2": "connections",
    "enable": "enable",
    "enabled": "enabled",
    "virt": "virt",
    "virtual": "virtual",
    "check": "check",
    "checking": "checking",
    "protected": "protected",
    "slave_for": "Slave for",
    "name": "name",
    "article": "article",
    "w_copy": "copy",
    "for": "for",
    "history": "history",
    "history2": "history",
    "history3": "history",
    "rule": "rule",
    "rules": "rules",
    "rules2": "rules",
    "on": "on",
    "dest": "destination",
    "target": "target",
    "w_input": "input",
    "output": "output",
    "password": "password",
    "email": "email",
    "w_a": "a",
    "w_an": "an",
    "key": "key",
    "token": "token",
    "channel": "channel",
    "channels": "channels",
    "job": "job",
    "cancel": "cancel",
    "repository": "repository",
    "init": "init",
    "period": "period",
    "the": "the",
    "scan": "scan",
    "is_there": "Is there",
    "confirm": "confirm",
    "confirmation": "confirmation",
    "one": "one",
    "one2": "one",
    "or": "or",
    "upload": "upload",
    "uploading": "uploading",
    "uploaded": "uploaded",
    "test": "test",
    "test2": "test",
    "disabled": "disabled",
    "via": "via",
    "web_panel": "web panel",
    "message": "message",
    "menu": "menu",
    "language": "language",
    "apply": "apply",
    "logout": "logout",
    "last": "last",
    "last2": "last",
    "activity": "activity",
    "never": "never",
    "is_online": "is online",
    "is_offline": "is offline",
    "valid": "valid",
    "remote": "remote",
    "remote2": "remote",
    "local": "local",
    "path": "path",
    "create": "create",
    "created": "created",
    "creating": "creating",
    "diff": "diff",
    "diff2": "diff",
    "diff3": "diff",
    "master": "master",
    "slave": "slave",
    "interface": "interface",
    "as": "as",
    "stay": "stay",
    "protection": "protection",
    "return": "return",
    "cluster": "cluster",
    "existing": "exitsting",
    "success": "success",
    "option": "option",
    "option2": "option",
    "options": "options",
    "template": "template",
    "templates": "templates",
    "userlists": "userlists",
    "whitelist": "whitelist",
    "whitelists": "whitelists",
    "blacklist": "blacklist",
    "blacklists": "blacklists",
    "mode": "mode",
    "balance": "balance",
    "health": "health",
    "cert": "certificate",
    "cert_name": "certificate name",
    "certs": "certificates",
    "certs2": "certificates",
    "advanced": "advanced",
    "generate": "generate",
    "generated": "generated",
    "server_template": "Server-template",
    "custom": "custom",
    "param": "param",
    "param2": "param",
    "params": "params",
    "of": "of",
    "display": "display",
    "default_backend": "Default backend",
    "rule": "rule",
    "existing": "existing",
    "domain": "domain",
    "all": "all",
    "just": "just",
    "without": "without",
    "work": "work",
    "working": "working",
    "section": "section",
    "section2": "section",
    "use": "use",
    "available": "available",
    "external": "external",
    "in": "in",
    "folder": "folder",
    "folder2": "folder",
    "clone": "clone",
    "date": "date",
    "time": "time",
    "page": "page",
    "pages": "pages",
    "body": "body",
    "level": "level",
    "host": "host",
    "uptime": "Uptime",
    "downtime": "Downtime",
    "record_type": "Record type",
    "upstream": "upstream",
    "haproxy": "HAProxy",
    "nginx": "NGINX",
    "apache": "Apache",
    "keepalived": "Keepalived",
    "scan": "scan",
    "notify": "notify",
    "notification": "notification",
    "keeping": "keeping",
    "keep": "keep",
    "close": "close",
    "state": "state",
    "latest": "latest",
    "cloud": "cloud",
    "provider": "provider",
    "region": "region",
    "OS": "OS",
    "created_at": "Created at",
    "edited_at": "Edited at",
    "instance_type": "Instance type",
    "filter": "filter",
    "rule_name": "Rule name",
    "rule": "rule",
    "rules": "rules",
    "send": "send",
    }
%}
