{% set lang_short = 'es-ES' %}
{% set menu_links = dict() %}
{% set menu_links = {
    "overview": {
        "link": "Resumen",
        "title": "Estado del servidor y servicios",
        "h2": "Resumen"
    },
    "hapservers": {
        "link": "Resumen",
        "h2": "Resumen de servicios",
        "haproxy": {
            "title": "Resumen de servidores HAProxy"
        },
        "nginx": {
            "title": "Resumen de servidores NGINX"
        },
        "apache": {
            "title": "Resumen de servidores Apache"
        },
        "keepalived": {
            "title": "Resumen de Keepalived"
        },
    },
    "config": {
        "link": "Configuración",
        "h2": "Trabajando con configuraciones",
        "haproxy": {
            "title": "Trabajando con configuraciones de HAProxy"
        },
        "nginx": {
            "title": "Trabajando con configuraciones de NGINX"
        },
        "apache": {
            "title": "Trabajando con configuraciones de Apache"
        },
        "keepalived": {
            "title": "Trabajando con configuraciones de Keepalived"
        },
    },
    "stats": {
        "link": "Estadísticas",
        "h2": "Estadísticas de",
        "haproxy": {
            "title": "Estadísticas de HAProxy"
        },
        "nginx": {
            "title": "Estadísticas de NGINX"
        },
        "apache": {
            "title": "Estadísticas de Apache"
        },
    },
    "logs": {
        "link": "Registros",
        "title": "registros",
        "h2": "Registros de"
    },
    "metrics": {
        "link": "Métricas",
        "title": "métricas",
        "h2": "Métricas de",
    },
    "add_proxy": {
        "link": "Añadir proxy",
        "title": "Añadir proxy: Crear proxy"
    },
    "versions": {
        "link": "Versiones",
        "h2": "Trabajando con versiones de configuración de",
        "haproxy": {
            "title": "Trabajando con versiones de configuración de HAProxy"
        },
        "nginx": {
            "title": "Trabajando con versiones de configuración de NGINX"
        },
        "apache": {
            "title": "Trabajando con versiones de configuración de Apache"
        },
        "keepalived": {
            "title": "Trabajando con versiones de configuración de Keepalived"
        },
    },
    "ssl": {
        "link": "SSL",
        "title": "Añadir proxy: Subir certificados SSL"
    },
    "lists": {
        "link": "Listas",
        "title": "Añadir proxy: Crear y subir listas blancas o negras"
    },
    "ha": {
        "title": "Crear y configurar un clúster de alta disponibilidad",
    },
    "monitoring": {
        "link": "Supervisión",
        "title": "Herramientas de supervisión",
        "smon": {
            "dashboard": "SMON: Tablero",
            "status_page": "SMON: Página de estado",
            "history": "SMON: Historial",
            "agent": "SMON: Agente",
        },
        "checker_history": "Checker: Historial",
        "port_scan": "Escáner de puertos",
        "net_tools": "Red: herramientas",
    },
    "servers": {
        "link": "Servidores",
        "title": "Gestión de servidores"
    },
    "admin_area": {
        "link": "Área de administración",
        "title": "Área de administración"
    },
    "history": {
        "title": "Historial de"
    },
    "udp": {
        "title": "Escuchas UDP"
    }
}
%}
{% set services = {
    "hapservers_desc": "Checker supervisa el servicio. Si el servicio cambia su estado, Checker alertará vía Telegram, Slack, Email, Web",
    "last_edit": "Última edición"
    }
%}
{% set errors = {
    "cannot_get_info": "No se puede obtener información sobre",
    "something_wrong": "Algo salió mal con la instalación en",
    "check_logs": "revisa los registros",
    "select_server": "Primero selecciona un servidor",
    "empty_name": "El nombre no puede estar vacío",
    }
%}
{% set settings = {
    "rabbitmq": {
        "rabbitmq_host": "Host del servidor RabbitMQ",
        "rabbitmq_port": "Puerto del servidor RabbitMQ",
        "rabbitmq_vhost": "Vhost del servidor RabbitMQ",
        "rabbitmq_queue": "Cola del servidor RabbitMQ",
        "rabbitmq_user": "Usuario del servidor RabbitMQ",
        "rabbitmq_password": "Contraseña del servidor RabbitMQ",
        },
    "nginx": {
        "nginx_path_logs": "Ruta de los registros de NGINX",
        "nginx_stats_user": "Usuario para acceder a la página de estadísticas de NGINX",
        "nginx_stats_password": "Contraseña para la página de estadísticas de NGINX",
        "nginx_stats_port": "Puerto de estadísticas para la página web de NGINX",
        "nginx_stats_page": "URI de estadísticas para la página web de NGINX",
        "nginx_dir": "Ruta al directorio de NGINX con archivos de configuración",
        "nginx_config_path": "Ruta al archivo principal de configuración de NGINX",
        "nginx_container_name": "Nombre del contenedor Docker para el servicio NGINX",
        },
    "monitoring": {
        "port_scan_interval": "Intervalo de comprobación para el escáner de puertos (en minutos)",
        "portscanner_keep_history_range": "Periodo de retención del historial del escáner de puertos",
        "checker_keep_history_range": "Periodo de retención del historial de Checker",
        "checker_maxconn_threshold": "Valor umbral para alertas de maxconn, en %",
        "checker_check_interval": "Intervalo de comprobación de Checker (en minutos)",
        "action_keep_history_range": "Periodo de retención del historial de acciones (en días)",
        },
    "smon": {
        "master_ip": "IP o nombre para conectar con el maestro SMON",
        "master_port": "Puerto para conectar con el maestro SMON",
        "agent_port": "Puerto del agente SMON",
        "smon_keep_history_range": "Periodo de retención del historial de SMON",
        "smon_ssl_expire_warning_alert": "Alerta de advertencia sobre expiración del certificado SSL (en días)",
        "smon_ssl_expire_critical_alert": "Alerta crítica sobre expiración del certificado SSL (en días)",
    },
    "main": {
        "time_zone": "Zona horaria",
        "license": "Clave de licencia",
        "proxy": "Dirección IP y puerto del servidor proxy. Usa proto://ip:puerto",
        "session_ttl": "TTL para la sesión de usuario (en días)",
        "token_ttl": "TTL para el token de usuario (en días)",
        "tmp_config_path": "Ruta al directorio temporal. Debe ser válida y tener como propietario al usuario especificado en la configuración SSH",
        "cert_path": "Ruta al directorio SSL. El propietario debe ser el usuario de la configuración SSH. La ruta debe existir",
        "maxmind_key": "Clave de licencia para descargar la base de datos GeoLite2. Puedes crearla en maxmind.com",
        },
    "mail": {
        "mail_ssl": "Activar TLS",
        "mail_from": "Dirección del remitente",
        "mail_smtp_host": "Dirección del servidor SMTP",
        "mail_smtp_port": "Puerto del servidor SMTP",
        "mail_smtp_user": "Usuario para autenticación",
        "mail_smtp_password": "Contraseña para autenticación",
        },
    "logs": {
        "syslog_server_enable": "Habilitar recepción de registros desde un servidor syslog",
        "syslog_server": "Dirección IP del servidor syslog",
        "log_time_storage": "Periodo de retención de los registros de actividad del usuario (en días)",
        "apache_log_path": "Ruta de los registros de Apache",
        },
    "ldap": {
        "ldap_enable": "Habilitar LDAP",
        "ldap_server": "Dirección IP del servidor LDAP",
        "ldap_port": "Puerto LDAP (por defecto se usa 389 o 636)",
        "ldap_user": "Usuario LDAP",
        "ldap_password": "Contraseña LDAP",
        "ldap_base": "Dominio base. Ejemplo: dc=dominio, dc=com",
        "ldap_domain": "Dominio LDAP para iniciar sesión",
        "ldap_class_search": "Clase para buscar el usuario",
        "ldap_user_attribute": "Atributo por el cual buscar usuarios",
        "ldap_search_field": "Dirección de correo electrónico del usuario",
        "ldap_type": "Usar LDAPS",
        },
    "haproxy": {
        "haproxy_path_logs": "Ruta de los registros de HAProxy",
        "haproxy_stats_user": "Usuario para acceder a la página de estadísticas de HAProxy",
        "haproxy_stats_password": "Contraseña para la página de estadísticas de HAProxy",
        "haproxy_stats_port": "Puerto de estadísticas para la página web de HAProxy",
        "haproxy_stats_page": "URI de estadísticas para la página web de HAProxy",
        "haproxy_dir": "Ruta al directorio de HAProxy con archivos de configuración",
        "haproxy_config_path": "Ruta al archivo principal de configuración de HAProxy",
        "server_state_file": "Ruta al archivo de estado de HAProxy",
        "haproxy_sock": "Ruta al archivo de socket de HAProxy",
        "haproxy_sock_port": "Puerto del socket de HAProxy",
        "haproxy_container_name": "Nombre del contenedor Docker para el servicio HAProxy",
        },
    "apache": {
        "apache_path_logs": "Ruta de los registros de Apache",
        "apache_stats_user": "Usuario para acceder a la página de estadísticas de Apache",
        "apache_stats_password": "Contraseña para la página de estadísticas de Apache",
        "apache_stats_port": "Puerto de estadísticas para la página web de Apache",
        "apache_stats_page": "URI de estadísticas para la página web de Apache",
        "apache_dir": "Ruta al directorio de Apache con archivos de configuración",
        "apache_config_path": "Ruta al archivo principal de configuración de Apache",
        "apache_container_name": "Nombre del contenedor Docker para el servicio Apache",
        },
    "keepalived": {
        "keepalived_config_path": "Ruta al archivo principal de configuración de Keepalived",
        "keepalived_path_logs": "Ruta de los registros de Keepalived",
        },
    }
%}
{% set phrases = {
    "config_file_name": "Nombre del archivo de configuración",
    "no_events_added": "Aún no se han añadido eventos.",
    "upload_and_restart": "Subir y reiniciar",
    "upload_and_reload": "Subir y recargar",
    "save_and_restart": "Guardar y reiniciar",
    "save_and_reload": "Guardar y recargar",
    "save_title": "Solo guardar, sin reiniciar el servicio",
    "return_to_config": "Volver a la vista de configuración",
    "check_config": "Comprobar configuración",
    "master_slave": "Si reconfiguras el servidor Maestro, el Esclavo se reconfigurará automáticamente",
    "read_about_files": "Puedes leer la descripción de todos los archivos de registro",
    "read_about_parameters": "Puedes leer la descripción de todos los parámetros",
    "read_howto": "lee el manual en este",
    "howto_user": "Cómo usar",
    "select_file": "Selecciona un archivo",
    "read_how_it_works": "Puedes leer cómo funciona",
    "metrics_not_installed": "No tienes instalado el servicio de Métricas.",
    "how_to_install_metrics": "cómo instalar el servicio de Métricas",
    "checker_not_installed": "No tienes instalado el servicio Checker",
    "how_to_install_checker": "cómo instalar el servicio Checker",
    "auto_start_not_installed": "No tienes instalado el servicio de inicio automático",
    "enable_avg_table": "Activar la visualización de la tabla de promedios",
    "disable_avg_table": "Desactivar la visualización de la tabla de promedios",
    "protected_title": "Si la protección está habilitada, el servidor no se puede editar excepto por los administradores",
    "slave_for_title": "Las acciones con la configuración maestra se aplicarán automáticamente al esclavo",
    "server_unknown": "Estado del servidor desconocido",
    "no_sub": "No estás suscrito",
    "pls_sub": "Por favor suscríbete para acceder a esta función",
    "no_av_feat": "Esta función no está disponible en tu plan",
    "fwd_warn": "Solo hay reglas de las cadenas INPUT, IN_public_allow y OUTPUT",
    "search_in_ad": "Buscar usuario en AD",
    "are_you_sure": "¿Estás seguro?",
    "delete_dialog": "La eliminación es irreversible, se perderán todos los datos",
    "fields_mark": "Campos marcados con",
    "are_required": "son obligatorios",
    "scan_title": "Escanear el servidor en busca de servicios HAProxy, NGINX, Keepalived y Firewalld",
    "superAdmin_pass": "No puedes editar la contraseña del rol superAdmin",
    "superAdmin_services": "No puedes editar los servicios del rol superAdmin",
    "pass_mismatched": "Las contraseñas no coinciden",
    "private_key_note": "Clave privada. Nota: la clave pública debe estar preinstalada en todos los servidores a los que planeas conectarte",
    "send_test_mes": "Enviar mensaje de prueba",
    "alert_service_change_status": "Alerta sobre el cambio de estado del servicio",
    "alert_backend_change_status": "Alerta sobre el cambio de estado del backend",
    "alert_number_conn": "Alerta si el número de conexiones está a punto de alcanzar el límite",
    "alert_master_backup": "Alerta sobre el cambio de estado Maestro/Backup",
    "new_version": "Hay una nueva versión de Roxy-WI. Consulta el",
    "all_alerts_enabled": "Alertas habilitadas",
    "disable_alerts": "Desactivar alertas",
    "work_with_prev": "Aquí puedes trabajar con versiones anteriores de configuraciones",
    "roll_back": "Revertir a ellas, ver o eliminar",
    "files_been_deleted": "Se han eliminado los siguientes archivos",
    "version_has_been_uploaded": "Se ha subido y guardado la siguiente versión del archivo de configuración como",
    "new_config_has_been_saved": "Se ha guardado una nueva configuración como",
    "view_and_upload": "Ver y subir esta versión de la configuración",
    "int_vrrp": "Interfaz para la dirección VRRP en un servidor",
    "howto_ha": "Cómo crear un clúster de alta disponibilidad",
    "been_installed": "ha sido instalado",
    "wait_mess": "Por favor no cierres ni recargues la página. Espera a que finalice la tarea. Esto puede tardar un poco",
    "you_are_editing": "Estás editando",
    "section_from_server": "sección del servidor",
    "how_to_install": "cómo instalar",
    "port_check": "Comprobación de puerto",
    "possible_service_name": "Nombre de servicio posible",
    "server_info": "Información del servidor",
    "user_groups": "Grupos de usuarios",
    "comparing_config": "Comparando archivos de configuración",
    "select_older_config": "Selecciona una configuración anterior",
    "select_newer_config": "Selecciona una configuración más reciente",
    "not_checked": "Sin comprobación",
    "show_not_checked": "Mostrar servidores sin comprobar",
    "read_desc_runtime_api": "Puedes leer la descripción de todos los parámetros de la API en tiempo de ejecución",
    "read_desc_statuses": "Puedes leer la descripción de los estados",
    "login_or_pass_incorrect": "Usuario o contraseña incorrectos",
    "can_try_again": "Puedes intentarlo de nuevo en",
    "is_not_installed": "no está instalado",
    "server_is_inaccessible_for_editing": "Este servidor no puede ser editado excepto por el rol de administrador",
    "creating_ha": "Creando un nuevo clúster de alta disponibilidad",
    "adding_vrrp": "Añadiendo una nueva dirección VRRP",
    "find_in_log": "Buscar en un archivo de registro. Soporta expresiones regulares.",
    "exclude_in_log": "Excluir de la búsqueda en un archivo de registro. Soporta expresiones regulares.",
    "bytes_in": "Bytes entrantes",
    "bytes_out": "Bytes salientes",
    "current_ses": "Sesiones actuales",
    "total_ses": "Sesiones totales",
    "ReqPerSec": "ReqPorSeg",
    "BytesPerSec": "BytesPorSeg",
    "became_master": "Se convirtió en Maestro",
    "resource_record_type": "Tipo de registro de recurso",
    "add_to_smon_desc": "Añadir el servidor para comprobación por ping de SMON",
    "create_page_status": "Crear página de estado",
    "not_in_cluster": "No pertenece a un clúster",
    "ssh_passphrase": "Frase de paso para la clave SSH",
    "check_interval": "Intervalo de comprobación.",
    "check_interval_title": "Intervalo de comprobación. En segundos.",
    }
%}
{% set roles = {
    "superAdmin": "Tiene el nivel más alto de permisos administrativos y controla las acciones de todos los demás usuarios",
    "admin": "Tiene acceso a todo excepto al área de administración",
    "user": "Tiene los mismos derechos que el administrador, pero sin acceso a la página de Servidores",
    "guest": "Acceso de solo lectura"
    }
%}
{% set add_page = {
    "desc": {
        "port_check": "Una verificación básica a nivel TCP intenta conectarse al puerto TCP del servidor. La verificación es válida cuando el servidor responde con un paquete SYN/ACK.",
        "maxconn": "Número total de conexiones permitidas a nivel de proceso. Esto evita aceptar demasiadas conexiones a la vez, protegiendo de quedarse sin memoria.",
        "server_template": "Crear la lista de servidores desde la plantilla",
        "def_check": "Parámetros por defecto",
        "saved_options": "Estas son las opciones que guardaste en la pestaña 'Opciones'",
        "press_down": "o presiona el botón 'abajo'",
        "ip_port": "Si la dirección IP del listener está vacía, escuchará en todas las direcciones IP. Empieza a escribir o presiona abajo. Haz clic en + para añadir múltiples pares IP-puerto. Si usas VRRP, deja el campo IP vacío. Si asignas una IP VRRP, el servidor esclavo no se iniciará.",
        "listener_desc1": "Una sección 'listen' define un proxy completo con sus partes frontend y backend combinadas en una sola sección. Es útil principalmente para tráfico TCP.",
        "listener_desc2": "Todos los nombres de proxy deben formarse con letras, dígitos, '-', '_', '.' y ':'. Los nombres ACL distinguen entre mayúsculas y minúsculas, por lo que 'www' y 'WWW' son diferentes proxies.",
        "listener_desc3": "Históricamente, los nombres de proxy podían superponerse, lo que causaba problemas en los registros. Desde la conmutación de contenido, dos proxies con capacidades superpuestas deben tener nombres diferentes. Aún se permite que un frontend y un backend compartan el mismo nombre.",
        "front_desc1": "Una sección 'frontend' describe un conjunto de sockets que aceptan conexiones de clientes.",
        "back_des1": "Una sección 'backend' describe un conjunto de servidores a los que el proxy se conectará para reenviar las conexiones entrantes.",
        "ssl_offloading": "La terminación SSL significa que se realiza todo el cifrado y descifrado en el borde de la red, como en el balanceador de carga.",
        "http_https": "Activar redirección de HTTP a HTTPS",
        "enable_http2": "Habilitar HTTP/2",
        "maxconn_desc": "Este valor no debe exceder el maxconn global. Valor por defecto global de maxconn",
        "maxconn_fix": "Fijar el número máximo de conexiones simultáneas en un frontend",
        "antibot": "Muchos bots se usan con fines maliciosos: scraping, spam, flooding, fuerza bruta, escaneo de vulnerabilidades, etc. Por ejemplo, pueden copiar tus listas de precios o escanear foros para hacer spam.",
        "slow_attack": "En un ataque Slow POST, el atacante envía un encabezado POST válido, pero el cuerpo se transmite extremadamente lento, como 1 byte cada 2 minutos.",
        "http_compression": "La compresión HTTP reduce el tamaño de la respuesta antes de enviarla al cliente, reduciendo el uso de ancho de banda y latencia.",
        "forward_for": "HAProxy puede sobrescribir la IP de origen del cliente con su propia al reenviar tráfico, pero puede incluir la IP original en la cabecera X-Forwarded-For.",
        "redispatch": "En modo HTTP, si un servidor con cookie está caído, los clientes seguirán intentando usarlo. 'option redispatch' fuerza la redistribución a otro servidor.",
        "force_close": "HAProxy puede añadir la cabecera HTTP 'X-Forwarded-For' con la IP del cliente. El servidor debe configurarse para usar solo la última aparición de esta cabecera.",
        "cookie": "Para mantener la sesión en el mismo servidor, usa persistencia basada en cookies en la sección backend.",
        "c_prefix": "En lugar de una cookie dedicada, se completará una ya existente.",
        "c_nocache": "Recomendado junto con el modo insert si hay un caché entre el cliente y HAProxy.",
        "c_postonly": "Inserta cookies solo en respuestas a peticiones POST.",
        "c_dynamic": "Activa cookies dinámicas. Se crea una cookie de sesión por servidor.",
        "def_backend": "Si deseas usar el backend por defecto",
        "def_backend_exit": "el backend debe existir",
        "port_for_bind": "Puerto para hacer bind",
        "bind_ip_pair": "Asociar otro par IP-puerto",
        "no_def_backend": "Si no se cumple ninguna condición, se usará el backend definido como 'default_backend'. Si no se define, se devuelve un error 503.",
        "circuit_breaking": "El patrón Circuit Breaker previene que errores persistentes afecten al sistema. Al detectar fallos, 'abre el circuito' y bloquea llamadas.",
        "peers_master": "Si usas HAProxy en clúster Master-Master, los nombres locales deben coincidir con los nombres en peers.",
        "peers_slave": "Para Master-Slave, el nombre del servidor maestro debe coincidir con el peer configurado.",
        "peers": "La sección peers permite replicar datos de tablas de sesión entre instancias de HAProxy.",
        "userlist": "Aquí puedes crear listas de usuarios y usarlas en las secciones 'Añadir'.",
        "userlist_name": "Nombre de la lista de usuarios",
        "userlist_pass": "Contraseña del usuario. Por defecto es 'insecure-password'.",
        "userlist_user_grp": "Grupo de usuario",
        "userlist_user": "Puedes añadir grupos al usuario con una lista separada por comas.",
        "userlist_group": "También puedes añadir usuarios al grupo usando 'users nombre1, nombre2'",
        "userlist_desc": "Para proteger el acceso a frontend/backend/listen o estadísticas HTTP, se requiere al menos una lista de usuarios.",
        "servers": "Aquí puedes crear, editar y eliminar servidores para autocompletado en 'Añadir'.",
        "options": "Aquí puedes crear, editar y eliminar opciones para autocompletado en 'Añadir'.",
        "paste_cert": "Pega el contenido del archivo del certificado",
        "paste_cert_desc": "Este archivo .pem se usará para conexiones HTTPS en HAProxy, NGINX o Apache",
        "lists_howto": "Aquí puedes crear y editar listas negras y blancas. Luego úsalas en configuraciones HAProxy o en 'Añadir proxy'.",
        "lists_new_line": "Cada dirección nueva debe ir en una línea nueva",
        "was_success_added": "fue añadido exitosamente",
        "create_ssl_proxy": "Crear proxy HTTPS con terminación SSL en HAProxy. Se enviará tráfico HTTP a los backends. Necesitas tener",
        "create_ssl_front": "Crear frontend HTTPS con terminación SSL en HAProxy. Se enviará tráfico HTTP a los backends. Necesitas tener",
        "create_ssl_backend": "Crear backend HTTPS con terminación SSL en HAProxy. Se enviará tráfico HTTP a los backends. Necesitas tener",
        "create_https_proxy": "Crear proxy HTTPS sin terminación SSL en HAProxy. Se enviará tráfico HTTPS a los backends",
        "create_https_front": "Crear frontend HTTPS sin terminación SSL en HAProxy. Se enviará tráfico HTTPS a los backends",
        "create_https_backend": "Crear backend HTTPS sin terminación SSL en HAProxy. Se enviará tráfico HTTPS a los backends",
        "option_temp": "Crear, editar y eliminar opciones con parámetros. Luego úsalas en 'Añadir'.",
        "server_temp": "Crear, editar y eliminar servidores. Luego úsalos en 'Añadir'.",
        "use_add": "Y úsalos en las secciones 'Añadir'",
        "comma_separated": "Puedes especificar varios, separados por coma o espacio",
        "create_nginx_ssl_proxy": "Crear proxy HTTPS con terminación SSL en NGINX. Se enviará tráfico HTTP a los backends. Necesitas tener",
        "create_nginx_proxy": "El proxy pass en NGINX reenvía solicitudes al backend y devuelve la respuesta. Permite balanceo, terminación SSL y enrutamiento."
    },
    "buttons": {
        "disable_ssl_check": "Desactivar verificación SSL",
        "disable_ssl_verify": "Desactivar verificación SSL en servidores",
        "set_options": "Establecer opciones",
        "set_options_m": "Establecer opciones manualmente",
        "show_full_settings": "Mostrar lista completa de configuraciones",
        "show_full_settings": "Ocultar lista completa de configuraciones"
    }
}
%}
{% set add_nginx_page = {
    "desc": {
        "upstream_desc1": "El módulo upstream se usa para definir grupos de servidores.",
        "upstream_desc2": "Define un grupo de servidores. Los servidores pueden escuchar en diferentes puertos. Además, se pueden mezclar servidores que escuchen en TCP y sockets de dominio UNIX.",
        "upstream_desc3": "Por defecto, las peticiones se distribuyen entre los servidores utilizando un método de balanceo round-robin ponderado.",
        "keepalive": "El parámetro connections establece el número máximo de conexiones keepalive inactivas con los servidores upstream que se conservan en la caché de cada proceso trabajador. Cuando se excede este número, se cierran las conexiones menos utilizadas recientemente.",
        "fail_timeout": "El tiempo durante el cual debe ocurrir el número especificado de intentos fallidos para comunicarse con el servidor, para considerarlo no disponible; y el periodo durante el cual se considerará no disponible.",
        "max_fails": "Establece el número de intentos fallidos para comunicarse con el servidor que deben ocurrir en la duración establecida por el parámetro fail_timeout para considerar que el servidor no está disponible durante ese tiempo. Por defecto, el número de intentos es 1.",
        "def_backend": "Si desea utilizar upstream",
        "def_backend_exit": "debe existir aguas arriba",
    }
}
%}
{% set admin_page = {
    "desc": {
        "latest_repo": "Roxy-WI intentará instalar la última versión del servicio desde el repositorio oficial",
        "install_as_docker": "Instalar servicio como contenedor Docker",
        "no_ansible": "No has instalado",
        "before_install": "Antes de instalar cualquier exportador, primero instala",
        "been_installed": "servidores han sido instalados",
        "there_are_no": "No hay servidores Grafana ni Prometheus",
        "country_codes": "Códigos de países",
        "smon_desc": "SMON significa <b>S</b>imple <b>MON</b>itoring",
        "checker_desc": "Checker está diseñado para monitorizar los servicios HAProxy, NGINX, Apache y Keepalived, así como los backends de HAProxy y maxconn",
        "auto_start_desc": "El servicio Auto Start permite reiniciar los servicios HAProxy, NGINX, Apache y Keepalived si están caídos",
        "metrics_desc": "Recoge el número de conexiones para los servicios HAProxy, NGINX, Apache y HAProxy WAF",
        "p_s_desc": "Escanea el servidor en busca de puertos abiertos y guarda el historial",
        "socket_desc": "Socket es un servicio para enviar alertas y notificaciones",
        "a_new_version": "Hay una nueva versión disponible",
        "no_new_version": "No hay una nueva versión disponible",
        "main_app": "La aplicación principal",
        "for_updating": "Para actualizar, debes usar el RPM o DEB de Roxy-WI",
        "how_to_using_repo": "cómo comenzar a usar el repositorio.",
        "proxy_settings": "Si el servidor Roxy-WI utiliza un proxy para conectarse a Internet, añade la configuración del proxy a yum.conf."
    }
}
%}
{% set smon_page = {
    "desc": {
        "before_use": "antes de usar",
        "smon_is_not_run": "El servicio SMON no está en ejecución.",
        "run_smon": "Ejecutar el servicio SMON",
        "not_installed": "No tienes instalado el servicio SMON",
        "not_added": "No tienes servidores añadidos en el servicio SMON",
        "create_server": "Crea tu primer servidor",
        "see_check": "para ver si se ha añadido una nueva verificación",
        "do_not_sort": "No ordenar",
        "do_not_sort_by_status": "No ordenar por estado",
        "sort_status": "Ordenar por estado",
        "status_summary": "Resumen de estado",
        "enabled_checks": "Verificaciones habilitadas",
        "http_status_check": "Verificación de estado HTTP",
        "body_status_check": "Verificación del contenido de la respuesta",
        "resp_time": "Tiempo de respuesta",
        "last_resp_time": "Último tiempo de respuesta",
        "UP": "ACTIVO",
        "DOWN": "INACTIVO",
        "HTTP_FAILURE": "FALLA HTTP",
        "BODY_FAILURE": "FALLA DE CONTENIDO",
        "UNKNOWN": "DESCONOCIDO",
        "PORT_DOWN": "PUERTO INACTIVO",
        "DISABLED": "DESHABILITADO",
        "packet_size": "Tamaño de paquete",
        "add_agent": "Agregar agente",
        "total_checks": "Verificaciones totales",
        "not_assign_to_agent": "La verificación no está asignada a ningún agente"
    }
}
%}
{% set p_s_page = {
    "desc": {
        "is_enabled_and_up": "El escáner de puertos está habilitado y el servicio está ACTIVO",
        "is_enabled_and_down": "El escáner de puertos está habilitado, pero el servicio está INACTIVO",
        "scanning_ports": "Escaneando puertos abiertos/filtrados del servidor",
        "total_open_ports": "Total de puertos abiertos",
        "p_s_title": "Panel del escáner de puertos",
        "p_s_title_history": "Historial del escáner de puertos para"
    }
}
%}
{% set ha_page = {
    "ha": "Clúster de alta disponibilidad",
    "has": "Clústeres de alta disponibilidad",
    "create_virt_server": "Roxy-WI añadirá la dirección VRRP como un servidor separado",
    "return_master_desc": "Volver al maestro",
    "return_master": "Si se marca esta opción, el maestro de Keepalived retomará la VRRP cuando el servicio vuelva a estar activo",
    "try_install": "Roxy-WI intentará instalar",
    "as_docker": "como contenedor Docker",
    "add_vip": "Añadir VIP al clúster HA",
    "create_ha": "Crear clúster de alta disponibilidad",
    "start_enter": "Empieza a escribir el nombre de la interfaz de red para añadir VIP",
    "roxywi_timeout": "Tiempo de espera de respuesta de Roxy-WI",
    "check_apache_log": "Consulta el <a href='/logs/internal' target='_blank' title='Registros internos'>registro de errores de Apache</a> para más información.",
    "was_installed": "fue instalado en",
    "use_src": "Usar la dirección VIP como origen",
    "use_src_help": "Usar la dirección VIP como origen para conexiones salientes a backends",
    "save_apply": "<b>Guardar</b> - solo guarda la configuración del clúster HA en Roxy-WI, sin aplicar cambios en los servidores. <br /> <b>Aplicar</b> - recrea la configuración en los miembros del clúster y instala servicios adicionales."
}
%}
{% set udp_page = {
    "save_apply": "<b>Guardar</b> - guarda la configuración del listener UDP en Roxy-WI sin aplicar cambios. <br /> <b>Aplicar</b> - recrea la configuración en los servidores o nodos individuales.",
    "listener_ip": "IP para asociar el listener UDP. Empieza a escribir",
    "listener_port": "Puerto para asociar el listener UDP",
    "balancing_type": "Tipo de balanceo",
    "check_backends": "Habilitar verificación de backends",
    "retry": "Número de reintentos",
    "retry_title": "Número máximo de reintentos",
    "delay_before_retry_title": "Retraso entre reintentos",
    "delay_before_retry": "Retraso antes de reintentar",
    "delay_loop_title": "Intervalo entre verificaciones en segundos",
    "delay_loop": "Intervalo entre verificaciones"
}
%}
{% set nettools_page = {
    "ip_or_name": "Introduce IP o nombre",
    "dns_name": "Introduce un nombre DNS",
    "server_portscann": "Introduce un servidor para escaneo de puertos"
}
%}
{% set words = {
    "apply": "aplicar",
    "true": "verdadero",
    "false": "falso",
    "cache": "caché",
    "compression": "compresión",
    "acceleration": "aceleración",
    "start": "iniciar",
    "start2": "iniciar",
    "stop": "detener",
    "restart": "reiniciar",
    "service": "servicio",
    "service2": "servicio",
    "services": "servicios",
    "services2": "servicios",
    "services3": "servicios",
    "services4": "servicios",
    "started": "iniciado",
    "reload": "recargar",
    "reloading": "recargando",
    "stopped": "detenido",
    "no_desc": "sin descripción",
    "process_num": "número de procesos",
    "version": "versión",
    "version2": "versión",
    "versions": "versiones",
    "error": "error",
    "addresses": "direcciones",
    "address": "dirección",
    "virtual": "virtual",
    "hosts": "hosts",
    "time_range": "intervalo de tiempo",
    "server": "servidor",
    "server2": "servidor",
    "status": "estado",
    "current": "actual",
    "current2": "actual",
    "total": "total",
    "server_status": "estado del servidor",
    "services_status": "estado de los servicios",
    "compare": "comparar",
    "map": "mapa",
    "about": "acerca de",
    "help": "ayuda",
    "contacts": "contactos",
    "cabinet": "panel",
    "legal": "legal",
    "alert": "alerta",
    "alert2": "alerta",
    "alerts": "alertas",
    "manage": "gestionar",
    "user": "usuario",
    "user2": "usuario",
    "user3": "usuario",
    "users": "usuarios",
    "users2": "usuarios",
    "username": "nombre de usuario",
    "servers": "servidores",
    "servers2": "servidores",
    "creds": "credenciales",
    "creds2": "credenciales",
    "settings": "configuración",
    "settings2": "configuración",
    "install": "instalar",
    "installation": "instalación",
    "installing": "instalando",
    "proxy": "proxy",
    "provisioning": "provisión",
    "backup": "respaldo",
    "backup2": "respaldo",
    "configs": "configuraciones",
    "configs2": "configuraciones",
    "config": "configuración",
    "from": "desde",
    "view": "ver",
    "internal": "interno",
    "internal2": "interno",
    "log": "registro",
    "logs": "registros",
    "logs2": "registros",
    "admin_area": "área de administración",
    "group": "grupo",
    "group2": "grupo",
    "groups": "grupos",
    "groups2": "grupos",
    "groups3": "grupos",
    "w_update": "actualizar",
    "updating": "actualizando",
    "monitoring": "monitorización",
    "auto": "auto",
    "refresh": "refrescar",
    "refresh2": "refrescar",
    "no": "no",
    "not": "no",
    "yes": "sí",
    "interval": "intervalo",
    "desc": "descripción",
    "login": "iniciar sesión",
    "login2": "iniciar sesión",
    "role": "rol",
    "roles": "roles",
    "subs": "suscripción",
    "show_all": "mostrar todo",
    "plan": "plan",
    "pay_method": "método de pago",
    "active": "activo",
    "actives": "activos",
    "open": "abrir",
    "opened": "abierto",
    "edit": "editar",
    "delete": "eliminar",
    "add": "añadir",
    "added": "añadido",
    "save": "guardar",
    "saved": "guardado",
    "saving": "guardando",
    "expand_all": "expandir todo",
    "collapse_all": "colapsar todo",
    "raw": "bruto",
    "stats": "estadísticas",
    "note": "nota",
    "back": "atrás",
    "show": "mostrar",
    "run": "ejecutar",
    "running": "en ejecución",
    "running2": "en ejecución",
    "statistics": "estadísticas",
    "rollback": "reversión",
    "previous": "anterior",
    "to": "a",
    "listener": "listener",
    "frontends": "frontends",
    "frontend": "frontend",
    "backends": "backends",
    "backend": "backend",
    "maintain": "mantener",
    "drain": "vaciar",
    "drains": "drenajes",
    "number": "número",
    "rows": "filas",
    "row": "fila",
    "find": "buscar",
    "exclude": "excluir",
    "file": "archivo",
    "file2": "archivo",
    "files": "archivos",
    "here": "aquí",
    "action": "acción",
    "actions": "acciones",
    "command": "comando",
    "change": "cambiar",
    "change2": "cambiar",
    "changes": "cambios",
    "enter": "ingresar",
    "enter2": "ingresar",
    "lists": "listas",
    "list": "lista",
    "sessions": "sesiones",
    "session": "sesión",
    "and": "y",
    "select": "seleccionar",
    "select2": "seleccionar",
    "new": "nuevo",
    "new2": "nuevo",
    "new3": "nuevo",
    "new4": "nuevo",
    "port": "puerto",
    "ports": "puertos",
    "table": "tabla",
    "w_get": "obtener",
    "dynamically": "dinámicamente",
    "set": "establecer",
    "type": "tipo",
    "typing": "escribiendo",
    "size": "tamaño",
    "is": "es",
    "w_empty": "vacío",
    "used": "usado",
    "w_clear": "limpiar",
    "this": "esto",
    "this2": "esto",
    "this3": "esto",
    "this4": "esto",
    "entry": "entrada",
    "age": "edad",
    "protocol": "protocolo",
    "rate": "tasa",
    "expire": "expirar",
    "more": "más",
    "info": "información",
    "source": "origen",
    "overview": "resumen",
    "personal": "personal",
    "read": "leer",
    "second": "segundo",
    "seconds": "segundos",
    "seconds2": "segundos",
    "minute": "minuto",
    "minute2": "minuto",
    "minutes": "minutos",
    "minutes2": "minutos",
    "hour": "hora",
    "hours": "horas",
    "hours2": "horas",
    "day": "día",
    "days": "días",
    "metrics": "métricas",
    "every": "cada",
    "every2": "cada",
    "every3": "cada",
    "hide": "ocultar",
    "average": "promedio",
    "peak": "pico",
    "connect": "conectar",
    "connections": "conexiones",
    "connections2": "conexiones",
    "enable": "habilitar",
    "enabled": "habilitado",
    "enabled2": "habilitado",
    "virt": "virtual",
    "virtual": "virtual",
    "check": "verificar",
    "check2": "verificar",
    "checks": "verificaciones",
    "checking": "verificando",
    "protected": "protegido",
    "slave_for": "Esclavo para",
    "name": "nombre",
    "article": "artículo",
    "w_copy": "copiar",
    "for": "para",
    "history": "historial",
    "history2": "historial",
    "history3": "historial",
    "rule": "regla",
    "rules": "reglas",
    "rules2": "reglas",
    "on": "activado",
    "dest": "destino",
    "target": "objetivo",
    "w_input": "entrada",
    "output": "salida",
    "password": "contraseña",
    "email": "correo electrónico",
    "w_a": "un",
    "w_an": "una",
    "key": "clave",
    "token": "token",
    "channel": "canal",
    "channels": "canales",
    "job": "trabajo",
    "cancel": "cancelar",
    "repository": "repositorio",
    "init": "inicializar",
    "period": "período",
    "the": "el",
    "scan": "escanear",
    "is_there": "hay",
    "confirm": "confirmar",
    "confirmation": "confirmación",
    "one": "uno",
    "one2": "uno",
    "or": "o",
    "upload": "subir",
    "uploading": "subiendo",
    "uploaded": "subido",
    "test": "prueba",
    "test2": "prueba",
    "disabled": "deshabilitado",
    "via": "vía",
    "web_panel": "panel web",
    "message": "mensaje",
    "menu": "menú",
    "language": "idioma",
    "logout": "cerrar sesión",
    "last": "último",
    "last2": "último",
    "activity": "actividad",
    "never": "nunca",
    "is_online": "está en línea",
    "is_offline": "está desconectado",
    "valid": "válido",
    "remote": "remoto",
    "remote2": "remoto",
    "local": "local",
    "path": "ruta",
    "create": "crear",
    "created": "creado",
    "creating": "creando",
    "diff": "diferencia",
    "diff2": "diferencia",
    "diff3": "diferencia",
    "master": "maestro",
    "slave": "esclavo",
    "slaves": "esclavos",
    "interface": "interfaz",
    "as": "como",
    "stay": "permanecer",
    "protection": "protección",
    "return": "regresar",
    "cluster": "clúster",
    "existing": "existente",
    "existing2": "existente",
    "success": "éxito",
    "option": "opción",
    "option2": "opción",
    "options": "opciones",
    "template": "plantilla",
    "templates": "plantillas",
    "userlists": "listas de usuarios",
    "whitelist": "lista blanca",
    "whitelists": "listas blancas",
    "blacklist": "lista negra",
    "blacklists": "listas negras",
    "mode": "modo",
    "balance": "balanceo",
    "health": "salud",
    "cert": "certificado",
    "cert_name": "nombre del certificado",
    "certs": "certificados",
    "certs2": "certificados",
    "advanced": "avanzado",
    "generate": "generar",
    "generated": "generado",
    "server_template": "plantilla de servidor",
    "custom": "personalizado",
    "param": "parámetro",
    "param2": "parámetro",
    "params": "parámetros",
    "of": "de",
    "display": "mostrar",
    "default_backend": "backend por defecto",
    "existing": "existente",
    "domain": "dominio",
    "domains": "dominios",
    "all": "todo",
    "just": "solo",
    "without": "sin",
    "work": "trabajo",
    "working": "trabajando",
    "section": "sección",
    "section2": "sección",
    "use": "usar",
    "available": "disponible",
    "external": "externo",
    "in": "en",
    "folder": "carpeta",
    "folder2": "carpeta",
    "clone": "clonar",
    "date": "fecha",
    "time": "hora",
    "page": "página",
    "pages": "páginas",
    "body": "cuerpo",
    "level": "nivel",
    "host": "host",
    "uptime": "tiempo activo",
    "downtime": "tiempo inactivo",
    "record_type": "tipo de registro",
    "upstream": "upstream",
    "haproxy": "HAProxy",
    "nginx": "NGINX",
    "apache": "Apache",
    "keepalived": "Keepalived",
    "scan": "escanear",
    "notify": "notificar",
    "notification": "notificación",
    "keeping": "manteniendo",
    "keep": "mantener",
    "close": "cerrar",
    "state": "estado",
    "latest": "último",
    "cloud": "nube",
    "provider": "proveedor",
    "region": "región",
    "OS": "SO",
    "created_at": "creado el",
    "edited_at": "editado el",
    "instance_type": "tipo de instancia",
    "filter": "filtro",
    "rule_name": "nombre de la regla",
    "send": "enviar",
    "additions": "adiciones",
    "deletions": "eliminaciones",
    "recent": "reciente",
    "already": "ya",
    "disable": "deshabilitar",
    "worker": "trabajador",
    "worker2": "trabajador",
    "processes": "procesos",
    "position": "posición",
    "global": "global",
    "none": "ninguno",
    "headers": "cabeceras",
    "value": "valor",
    "if": "si",
    "then": "entonces",
    "response": "respuesta",
    "average": "promedio",
    "average2": "promedio",
    "cert_expire": "expiración del certificado",
    "Hostname": "Nombre del host",
    "maps": "mapas",
    "map": "mapa",
    "method": "método",
    "tools": "herramientas",
    "next": "siguiente",
    "agent": "agente",
    "agent2": "agente",
    "reconfigure": "reconfigurar",
    "listener": "listener",
    "listeners": "listeners",
    "weight": "peso",
    "where": "dónde",
    "shared": "compartido",
    "retries": "reintentos",
    "address": "dirección",
    "calculate": "calcular",
    "calculator": "calculadora",
    "netmask": "máscara de red",
    "theme": "tema",
    "dark": "oscuro",
    "light": "claro",
    "types": "tipos",
    "min": "mínimo",
    "length": "longitud"
}
%}
