{% set lang_short = 'fr' %}
{% set menu_links = dict() %}
{% set menu_links = {
    "overview": {
        "link": "Aperçu",
        "title": "Statut serveur et service",
        "h2": "Aperçu"
    },
    "hapservers": {
        "link": "Aperçu",
        "h2": "Aperçu Service",
        "haproxy": {
            "title": "Aperçu des serveurs HAProxy"
        },
        "nginx": {
            "title": "Aperçu des serveurs NGINX"
        },
        "apache": {
            "title": "Aperçu des serveurs Apache"
        },
        "keepalived": {
            "title": "Aperçu des serveurs Keepalived"
        },
    },
    "config": {
        "link": "Configuration",
        "h2": "Modifier les configurations",
        "haproxy": {
            "title": "Modifier les configurations Haproxy"
        },
        "nginx": {
            "title": "Modifier les configurations NGINX"
        },
        "apache": {
            "title": "Modifier les configurations Apache"
        },
        "keepalived": {
            "title": "Modifier les configurations Keepalived"
        },
    },
    "stats": {
        "link": "Stats",
        "h2": "Les statistiques de",
        "haproxy": {
            "title": "Statistiques HAProxy"
        },
        "nginx": {
            "title": "Statistiques NGINX"
        },
        "apache": {
            "title": "Statistiques Apache"
        },
    },
    "logs": {
        "link": "Logs",
        "title": "logs",
        "h2": "Les logs de",
    },
    "metrics": {
        "link": "Métriques",
        "title": "Métriques",
        "h2": "Métriques de",
    },
    "add_proxy": {
        "link": "Ajout de proxy",
        "title": "Ajout de proxy: Création de proxy"
    },
    "versions": {
        "link": "Versions",
        "h2": "Travailler avec les versions de",
        "haproxy": {
            "title": "Travailler sur les versions de configuration Haproxy"
        },
        "nginx": {
            "title": "Travaiiler sur les versions de configuration NGINX"
        },
        "apache": {
            "title": "Travailler sur les versions de configuration Apache"
        },
        "keepalived": {
            "title": "Travailler sur les versions de configuration Keepalived"
        },
    },
    "ssl": {
        "link": "SSL",
        "title": "Ajout de proxy: Charger les certificats SSL"
    },
    "lists": {
        "link": "Listes",
        "title": "Ajout de proxy: Créer et charger les listes autorisées ou non autorisées"
    },
    "ha": {
        "title": "Créer et configuer les clusters à haute disponibilité"
    },
    "monitoring": {
        "link": "Monitoring",
        "title": "Outils de monitoring",
        "smon": {
            "dashboard": "SMON: tableau de bord",
            "history": "SMON: Historique",
            "admin": "SMON: Panneau administrateur",
        },
        "checker_history": "Vérificateur: Historique",
        "port_scan": "Scanner de port",
        "net_tools": "Réseau: outils",
    },
    "servers": {
        "link": "Serveurs",
        "title": "Gestion servers"
    },
    "admin_area": {
        "link": "Zone Admin",
        "title": "Zone Admin"
    },
    "history": {
        "title": "Historique de"
    }
}
%}
{% set services = dict() %}
{% set services = {
    "hapservers_desc": "Checker surveille le service. Si le service change d\'état, Vérifier l\'alerte via Telegram, Slack, Email, Web",
    "last_edit": "Dernière modif."
    }
%}
{% set errors = dict() %}
{% set errors = {
    "cannot_get_info": "Impossible d\'obtenir des informations sur",
    "something_wrong": "Un problème est survenu lors de l\'installation",
    "check_logs": "Vérifier les logs",
    "select_server": "Selectionner d\'abord un serveur",
    "empty_name": "Le nom ne peut pas être vide",
    }
%}
{% set settings = {
    "rabbitmq": {
        "rabbitmq_host": "RabbitMQ-server serveur",
        "rabbitmq_port": "RabbitMQ-server port",
        "rabbitmq_vhost": "RabbitMQ-server vhost",
        "rabbitmq_queue": "RabbitMQ-server queue",
        "rabbitmq_user": "RabbitMQ-server utilisateur",
        "rabbitmq_password": "RabbitMQ-server mot de passe",
        },
    "nginx": {
        "nginx_path_logs": "Chemin des logs NGINX",
        "nginx_stats_user": "Nom de l\'utilisateur pour la page des satistiques NGINX",
        "nginx_stats_password": "Mot de passe pour la page des satistiques NGINX",
        "nginx_stats_port": "Port pour la pages des statistiques NGINX",
        "nginx_stats_page": "URI Stats pour la page NGINX",
        "nginx_dir": "Chemin vers les dossiers NGINX  contenant les fichiers de config",
        "nginx_config_path": "Chemin vers le fichier de configuration principlal de NGINX",
        "nginx_container_name": "Nom du container Docker pour le service NGINX",
        },
    "monitoring": {
        "smon_check_interval": "Interval de vérification pour SMON (en minutes)",
        "port_scan_interval": "Interval de vérification pour Checker (en minutes)",
        "portscanner_keep_history_range": "Interval de vérification pour scanner (in minutes)",
        "smon_keep_history_range": "Période de rétention pour l\'historiques de SMON",
        "checker_keep_history_range": "Période de rétention pour l\'historiques de Checker",
        "checker_maxconn_threshold": "Période de rétention pour l\'historiques le scanner de Port",
        "checker_check_interval": "Valeur du seuil pour les alertes maxconn, en %",
        "smon_ssl_expire_warning_alert": "Alerte type warning dès qu'un certificat SSL expire (en jours)",
        "smon_ssl_expire_critical_alert": "Alerte tpye critical dès qu'un certificat SSL expire (en jours)",
        "action_keep_history_range": "Période de conservation de l'historique des actions (en jours)",
        },
    "main": {
        "time_zone": "Fuseau horaire",
        "proxy": "Adresse IP et port du proxy server. format proto://ip:port",
        "session_ttl": "TTL pour la session utilisateur (en jours)",
        "token_ttl": "TTL pour le jeton de l\'utilisateur (en jours)",
        "tmp_config_path": "Chemin pour le dossier temporaire. Un chemin valide doit être spécifier pour ce paramètre. Le répèrtoire doit appartenir au même utilisateur celui spécifié dans les paramètres SSH",
        "cert_path": "Chemin pour le dossier SSL. Le répèrtoire doit appartenir au même utilisateur celui spécifié dans les paramètres SSH. Le chemin doit éxister",
        "maxmind_key": "Clé de licence à  télécharger sur GeoLite2 DB. Vous pouvez la créer sur maxmind.com",
        },
    "mail": {
        "mail_ssl": "Activer TLS",
        "mail_from": "Addresse du of sender",
        "mail_smtp_host": "SMTP server address",
        "mail_smtp_port": "SMTP server port",
        "mail_smtp_user": "User for auth",
        "mail_smtp_password": "Password for auth",
        },
    "logs": {
        "syslog_server_enable": "Activer les logs depuis le serveur syslog",
        "syslog_server": "Adresse IP du syslog_server",
        "log_time_storage": "Période de rétention des logs pour l\'activité des utilisateurs (en jours)",
        "apache_log_path": "Chemin des logs Apache",
        },
    "ldap": {
        "ldap_enable": "Activer LDAP",
        "ldap_server": "Adresse IP du serveur LDAP",
        "ldap_port": "Port LDAP (port 389 ou 636 est défini par défaut)",
        "ldap_user": "Nom d\'utilisateur LDAP",
        "ldap_password": "Mot de passe LDAP",
        "ldap_base": "Domain de base. Exemple: dc=domain, dc=com",
        "ldap_domain": "Domaine LDAP for s'authentifier",
        "ldap_class_search": "Classe de recherche de l\'utilisateur",
        "ldap_user_attribute": "Attribut pour rechercher des utilisateurs par",
        "ldap_search_field": "Adresse e-mail de l\'utilisateur",
        "ldap_type": "Use LDAPS",
        },
    "haproxy": {
        "haproxy_path_logs": "Chemin pour les logs HAProxy",
        "stats_user": "Nom d\'utilisateur pour accéder aux Stats HAProxy",
        "stats_password": "Mot de passe pour la page web des Stats HAProxy",
        "stats_port": "Port pour la page web des Stats HAProxy",
        "stats_page": "URI Stats pour la page web HAProxy",
        "haproxy_dir": "Chemin vers le dossier HAProxy contenant les fichiers de config",
        "haproxy_config_path": "Chemin vers le fichier de configuration principal de HAProxy",
        "server_state_file": "Chemin vers le fichier d\'état HAProxy",
        "haproxy_sock": "Chemin vers le fchier socket HAProxy",
        "haproxy_sock_port": "Port sock HAProxy",
        "haproxy_container_name": "Mon du container Docker pour le service HAProxy",
        },
    "apache": {
        "apache_path_logs": "Chemin vers lors logs Apache",
        "apache_stats_user": "Nom d\'utilisateur pour accéder aux stats Apache",
        "apache_stats_password": "Mot de passe pour accéder aux stats Apache",
        "apache_stats_port": "Port pour les Stats de la page web Apache",
        "apache_stats_page": "URI Stats pour la page web Apache",
        "apache_dir": "Chemin vers le dossier contenant les fichiers de configuration Apache",
        "apache_config_path": "Chemin vers le fichier de configuration principale Apache",
        "apache_container_name": "Nom du container Docker container pour le service Apache",
        },
    "keepalived": {
        "keepalived_config_path": "Chemin vers le dossier contenant le fichier princiaple de Keepalived",
        "keepalived_path_logs": "chemin vers les logs de Keepalived",
        },
    }
%}
{% set phrases = dict() %}
{% set phrases = {
    "config_file_name": "Nom du fichier de Config",
    "no_events_added": "Aucun événement ajouté pour le moment.",
    "upload_and_restart": "Charger et redémarrage",
    "upload_and_reload": "Charger et rafraîchir",
    "save_and_restart": "Sauvegarder et redémarrer",
    "save_and_reload": "Sauvegarder et rafraîchir",
    "save_title": "Sauvegarder, sans relancer le service",
    "return_to_config": "Retourner à la vue configuration",
    "check_config": "Vérifier la config",
    "master_slave": "Si vous reconfigurer le server Master, Le serveur Slave sera automatiquement reconfiguré",
    "read_about_files": "Vous pouvez lire la déscription de tous les fichiers de logs",
    "read_about_parameters": "Vous pouvez lire la déscription de tous les paramètres",
    "read_howto": "lire le HowTo",
    "howto_user": "Comment utilser",
    "select_file": "Selectionner un fichier",
    "read_how_it_works": "Vous pouvez lire comment cela fonctionne",
    "metrics_not_installed": "Vous n\'avez pas installer le service Metrics",
    "how_to_install_metrics": "Comment installer le service Metrics",
    "checker_not_installed": "Vous n'avez pas installé le service Checker",
    "how_to_install_checker": "comment installer le service de vérification",
    "auto_start_not_installed": "Vous n'avez pas installé le service de démarrage automatique",
    "enable_avg_table": "Activer l\'affichage du tableau des moyennes",
    "disable_avg_table": "Désactiver l\'affichage du tableau des moyennes",
    "protected_title": "Si la protection est activée, le serveur est inaccessible pour modification par tout le monde, sauf par le rôle d\'administrateur.",
    "slave_for_title": "Les actions effectuées avec la configuration du maître seront automatiquement appliquées sur l\'esclave.",
    "server_unknown": "l\'état du serveur est inconnu",
    "no_sub": "Vous n\'êtes pas inscrit",
    "pls_sub": "Veuillez vous inscrire pour avoir accès à cette fonctionnalité",
    "no_av_feat": "Cette fonction n\'est pas disponible pour votre plan",
    "fwd_warn": "Il y a des règles uniquement dans les chaînes INPUT, IN_public_allow et OUTPUT",
    "search_in_ad": "Rechercher un utilisateur dans AD",
    "are_you_sure": "Vous êtes sûr ?",
    "delete_dialog": "La suppression est irrécupérable, toutes les données seront perdues",
    "fields_mark": "Les champs marqués d\'un",
    "are_required": "sont nécessaires",
    "scan_title": "Analysez le serveur pour les services HAProxy, NGINX, Keepalived et Firewalld",
    "superAdmin_pass": "Vous ne pouvez pas modifier le mot de passe du rôle superAdmin",
    "superAdmin_services": "Vous ne pouvez pas modifier les services pour le rôle superAdmin",
    "pass_mismatched": "Les mots de passe ne correspondent pas",
    "private_key_note": "Clé privée. Remarque : la clé publique doit être préinstallée sur tous les serveurs auxquels vous prévoyez de vous connecter",
    "send_test_mes": "Envoyez un message de test",
    "alert_service_change_status": "Alerte sur le changement de statut du service",
    "alert_backend_change_status": "Alerte sur le changement d\'état du backend",
    "alert_number_conn": "Alerte si le nombre de connexions est sur le point d\'atteindre la limite.",
    "alert_master_backup": "Alert about changing Master/Backup status",
    "new_version": "Il y a une nouvelle version Roxy-WI. Vérifiez le",
    "all_alerts_enabled": "Les alertes sont activées",
    "disable_alerts": "Désactiver les alertes",
    "work_with_prev": "Ici, vous pouvez travailler avec les versions précédentes des configurations",
    "roll_back": "Revenir en arrière, afficher ou supprimer",
    "files_been_deleted": "Les fichiers suivants ont été supprimés",
    "version_has_been_uploaded": "La version suivante du fichier de configuration a été téléchargée et enregistrée en tant que",
    "new_config_has_been_saved": "Une nouvelle configuration a été enregistrée comme",
    "view_and_upload": "Visualisez et téléchargez cette version de la configuration",
    "int_vrrp": "Interface pour l\'adresse VRRP sur un serveur",
    "howto_ha": "Comment créer un cluster hautement disponible",
    "been_installed": "a été installé",
    "wait_mess": "Veuillez ne pas fermer ou rafraîchir la page. Attendez que le travail soit terminé. Cela peut prendre un certain temps",
    "you_are_editing": "Vous êtes en train d\'éditer",
    "section_from_server": "section à partir du serveur",
    "how_to_install": "comment installer",
    "port_check": "Check du port",
    "possible_service_name": "Nom de service possible",
    "server_info": "Info Serveur",
    "user_groups": "Groupes utilisateur",
    "comparing_config": "Comparer les fichiers de configuration",
    "select_older_config": "Sélectionnez une ancienne configuration",
    "select_newer_config": "Sélectionnez une configuration plus récente",
    "not_checked": "Sans chèque",
    "show_not_checked": "Afficher les serveurs sans vérifier",
    "read_desc_runtime_api": "Vous pouvez lire la description de tous les paramètres de l'API RunTime",
    "read_desc_statuses": "Vous pouvez lire la description des statuts",
    "login_or_pass_incorrect": "L'identifiant ou le mot de passe est incorrect",
    "can_try_again": "Vous pouvez réessayer dans",
    "is_not_installed": "n'est pas installé",
    "server_is_inaccessible_for_editing": "Ce serveur est inaccessible pour modification par tout le monde sauf le rôle d'administrateur",
    "creating_ha": "Créer un nouveau cluster haute disponibilité",
    "adding_vrrp": "Ajout d'une nouvelle adresse VRRP",
    "find_in_log": "Rechercher dans un fichier journal. Prend en charge les expressions régulières.",
    "exclude_in_log": "Exclure de la recherche dans un fichier journal. Prend en charge les expressions régulières.",
    "bytes_in": "Octets dans",
    "bytes_out": "Octets sortants",
    "current_ses": "Séances en cours",
    "total_ses": "Nombre total de séances",
    "ReqPerSec": "ReqPerSec",
    "BytesPerSec": "Octets par seconde",
    "became_master": "Devenu maître",
    "resource_record_type": "Type d'enregistrement de ressource",
    "add_to_smon_desc": "Ajouter le serveur pour vérification par SMON ping",
    }
%}
{% set roles = {
    "superAdmin": "Possède le niveau le plus élevé de permissions administratives et contrôle les actions de tous les autres utilisateurs",
    "admin": "Accède à tout sauf à la zone d\'administration",
    "user": "Possède les mêmes droits que l\'administrateur mais n\'a pas accès à la page des serveurs.",
    "guest": "Accès en lecture seule"
    }
%}
{% set add_page = {
    "desc": {
        "port_check": "Un contrôle de base de la couche TCP tente de se connecter au port TCP du serveur. Le contrôle est valide lorsque le serveur répond par un paquet SYN/ACK.",
        "maxconn": "Le nombre total de connexions autorisées, à l\'échelle du processus. Cela empêche le processus d\'accepter trop de connexions à la fois, ce qui lui évite de manquer de mémoire.",
        "server_template": "Créez la liste des serveurs à partir du modèle",
        "def_check": "Paramètres par défaut",
        "saved_options": "Ce sont les options que vous avez enregistrées dans l\'onglet 'Options'.",
        "press_down": "ou appuyez sur le bouton 'bas'",
        "ip_port": "Si l\'adresse IP du listener est vide, il écoutera sur toutes les adresses IP. Commencez à taper l\'adresse IP ou appuyez sur le bouton bas.  Cliquez sur + pour ajouter plusieurs paires IP-port. Si vous utilisez VRRP, laissez le champ IP vide. Si vous attribuez une IP VRRP, le serveur esclave ne démarrera pas.",
        "listener_desc1": "Une section 'listen' définit un proxy complet avec ses parties 'frontend' et 'backend' combinées en une seule section. Elle est généralement utile pour le trafic TCP uniquement.",
        "listener_desc2": "Tous les noms de proxy doivent être formés de lettres majuscules et minuscules, de chiffres, de '-' (tiret), de '_' (trait de soulignement), de '.' (point) et de ':' (deux points). Les noms d\'ACL sont sensibles à la casse, ce qui signifie que 'www' et 'WWW' sont deux proxys différents.",
        "listener_desc3": "Historiquement, tous les noms de proxy pouvaient se chevaucher, cela causait simplement des problèmes dans les journaux. Depuis l\'introduction de la commutation de contenu, il est obligatoire que deux proxy dont les capacités se chevauchent (frontend/backend) aient des noms différents. Cependant, il est toujours permis qu\'un frontend et un backend partagent le même nom, car cette configuration semble être fréquemment rencontrée.",
        "front_desc1": "Une section 'frontend' décrit un ensemble de sockets d\'écoute acceptant les connexions des clients.",
        "back_des1": "Une section 'backend' décrit un ensemble de serveurs auxquels le proxy se connectera pour transmettre les connexions entrantes.",
        "ssl_offloading": "Le terme 'terminaison SSL' signifie que vous effectuez tous les cryptages et décryptages à la périphérie de votre réseau, par exemple au niveau de l\'équilibreur de charge.",
        "http_https": "Activer la redirection de HTTP vers HTTPS",
        "maxconn_desc": "Cette valeur ne doit pas dépasser le maxconn global. Valeur par défaut du maxconn global",
        "maxconn_fix": "Fixer le nombre maximum de connexions simultanées sur un frontend",
        "antibot": "Malheureusement, une grande partie des bots sont utilisés pour des raisons malveillantes. Parmi leurs intentions figurent le scraping de sites Web, le spamming, l\'inondation de requêtes, le forçage brutal et l\'analyse de vulnérabilités. Par exemple, les robots peuvent récupérer vos listes de prix afin que vos concurrents puissent systématiquement vous vendre moins cher ou élaborer une solution concurrentielle à partir de vos données. Ils peuvent aussi essayer de localiser des forums et des sections de commentaires où ils pourront envoyer du spam. Dans d\'autres cas, ils analysent votre site à la recherche de failles de sécurité.",
        "slow_attack": "Dans une attaque Slow POST, un attaquant commence par envoyer un en-tête HTTP POST légitime à un serveur Web, exactement comme il le ferait dans des circonstances normales. l\'en-tête spécifie la taille exacte du corps du message qui suivra. Cependant, le corps du message est ensuite envoyé à un rythme alarmant, parfois aussi lent qu'un octet toutes les deux minutes environ.",
        "http_compression": "La compression HTTP permet de réduire le corps d\'une réponse avant qu\'elle ne soit relayée au client, ce qui permet d\'utiliser moins de bande passante par demande. Du point de vue du client, cela réduit la latence.",
        "forward_for": "Lorsque HAProxy Enterprise établit une connexion TCP par procuration, il remplace l\'adresse IP source du client par la sienne lors de la communication avec le serveur backend. Toutefois, lorsqu\'il relaie des messages HTTP, il peut stocker l\'adresse du client dans l\'en-tête HTTP X-Forwarded-For. Le serveur backend peut alors être configuré pour lire la valeur de cet en-tête afin de récupérer l\'adresse IP du client.",
        "redispatch": "En mode HTTP, si un serveur désigné par un cookie est hors service, les clients peuvent définitivement s\'y coller car ils ne peuvent pas purger le cookie, ils ne pourront donc plus accéder au service. La spécification de l\'option 'redispatch' permet au proxy de rompre leur persistance et de les redistribuer à un serveur en fonctionnement. Cela permet également de réessayer les connexions à un autre serveur en cas d\'échecs multiples de connexion. Bien entendu, il faut que la valeur de 'retries' soit différente de zéro.",
        "force_close": "Puisque HAProxy fonctionne en mode reverse-proxy, les serveurs voient son adresse IP comme leur adresse client. Ceci est parfois gênant lorsque l\'adresse IP du client est attendue dans les journaux du serveur. Pour résoudre ce problème, l\'en-tête HTTP bien connu 'X-Forwarded-For' peut être ajouté par HAProxy à toutes les demandes envoyées au serveur. Cet en-tête contient une valeur représentant l\'adresse IP du client. Étant donné que cet en-tête est toujours ajouté à la fin de la liste des en-têtes existants, le serveur doit être configuré de manière à n\'utiliser que la dernière occurrence de cet en-tête. Consultez le manuel du serveur pour savoir comment activer l\'utilisation de cet en-tête standard. Notez que seule la dernière occurrence de l\'en-tête doit être utilisée, car il est tout à fait possible que le client en ait déjà une.",
        "cookie": "Pour envoyer un client au même serveur que celui où il a été envoyé précédemment afin de réutiliser une session sur ce serveur, vous pouvez activer la persistance de la session basée sur les cookies. Ajoutez une directive cookie à la section backend et définissez le paramètre cookie à une valeur unique sur chaque ligne de serveur.",
        "c_prefix": "Ce mot-clé indique qu\'au lieu de s\'appuyer sur un cookie dédié pour la persistance, un cookie existant sera complété.",
        "c_nocache": "Cette option est recommandée en conjonction avec le mode insertion lorsqu\'il existe un cache entre le client et HAProxy",
        "c_nocache": "Cette option est recommandée en conjonction avec le mode insertion lorsqu\'il existe un cache entre le client et HAProxy",
        "c_postonly": "Cette option garantit que l\'insertion des cookies ne sera effectuée que sur les réponses aux demandes POST",
        "c_dynamic": "Activer les cookies dynamiques. Lorsqu\'elle est utilisée, un cookie de session est créé dynamiquement pour chaque serveur",
        "def_backend": "Si vous voulez utiliser le backend par défaut",
        "def_backend_exit": "Le backend doit exister",
        "port_for_bind": "Port pour la liaison",
        "bind_ip_pair": "Lier une paire de ports IP supplémentaire",
        "no_def_backend": "Si aucune condition n\'est valide, le backend défini avec 'default_backend' sera utilisé. Si aucun backend par défaut n\'est défini, soit les serveurs de la même section sont utilisés (dans le cas d\'une section 'listen'), soit, dans le cas d\'un frontend, aucun serveur n\'est utilisé et une réponse 503 service indisponible est retournée",
        "circuit_breaking": "Le coupe-circuit est un modèle de conception utilisé pour détecter les défaillances et encapsuler la logique permettant d\'empêcher une défaillance de se reproduire constamment. Le modèle de conception du coupe-circuit fonctionne comme un fusible électrique qui est destiné à 'déclencher' ou à ouvrir le circuit lorsqu\'une défaillance est détectée.",
        "peers_master": "Note : Si vous souhaitez utiliser les services HAProxy en tant que cluster Master-Master, vous devez définir les noms d\'hôtes des serveurs locaux comme noms de serveurs peers. Sinon, les peers ne fonctionneront pas",
        "peers_slave": "Remarque : Si vous souhaitez utiliser les services HAProxy en tant que cluster maître-esclave, vous devez définir le nom d\'hôte du serveur local pour le serveur maître comme nom du serveur pair. Sinon, les pairs ne fonctionneront pas",
        "peers": "La section peers permet de répliquer les données des tables de bâtonnets entre deux ou plusieurs instances HAProxy",
        "userlist": "Dans cette section, vous pouvez créer des listes d\'utilisateurs. Et ensuite les utiliser dans les sections 'Add'",
        "userlist_name": "Nom de la liste des utilisateurs",
        "userlist_pass": "Mot de passe de l\'utilisateur. Par défaut, il s\'agit d\'un mot de passe non sécurisé",
        "userlist_user_grp": "Groupe d\'utilisateurs",
        "userlist_user": "Il est également possible de rattacher des groupes à cet utilisateur en utilisant une liste de groupes séparés par des virgules",
        "userlist_group": "Il est également possible de rattacher des utilisateurs à ce groupe en utilisant une liste de noms séparés par des virgules et précédés du mot-clé 'users'.",
        "userlist_desc": "Il est possible de contrôler l\'accès aux sections frontend/backend/listen ou aux statistiques http en autorisant uniquement les utilisateurs authentifiés et autorisés. Pour ce faire, il est nécessaire de créer au moins une liste d\'utilisateurs et de définir des utilisateurs",
        "servers": "Dans cette section, vous pouvez créer, modifier et supprimer des serveurs. Vous pouvez ensuite les utiliser en tant qu\'autocomplétion dans les sections 'Ajouter'.",
        "servers": "Dans cette section, vous pouvez créer, modifier et supprimer des options. Et ensuite les utiliser comme autocomplétion dans les sections 'Ajouter'",
        "paste_cert": "Collez le contenu du fichier de certificat",
        "paste_cert_desc": "Ce fichier pem sera utilisé pour créer une connexion https avec HAProxy, NGINX ou Apache",
        "lists_howto": "Dans cette section, vous pouvez créer et modifier des listes noires et blanches. Vous pouvez ensuite les utiliser dans la configuration de HAProxy ou dans les pages 'Ajouter un proxy'. Lisez comment l\'utiliser dans cette section",
        "lists_new_line": "Chaque nouvelle adresse doit être spécifiée sur une nouvelle ligne",
        "was_success_added": "a été ajouté avec succès",
        "create_ssl_proxy": "Créer un proxy HTTPS avec la terminaison SSL sur HAProxy et le déchargement SSL. HAProxy enverra le trafic HTTP aux backends. Vous devriez l\'avoir",
        "create_ssl_front": "Créez un front-end HTTPS avec la terminaison SSL sur HAProxy et le déchargement SSL. HAProxy enverra le trafic HTTP aux backends. Vous devriez l\'avoir",
        "create_ssl_backend": "Créez un backend HTTPS avec la terminaison SSL sur HAProxy et le déchargement SSL. HAProxy enverra le trafic HTTP aux backends. Vous devez l\'avoir",
        "create_https_proxy": "Créer un proxy HTTPS sans la terminaison SSL sur HAProxy et le déchargement SSL. HAProxy enverra le trafic HTTPS aux backends",
        "create_https_front": "Créez un Frontend HTTPS sans la terminaison SSL sur HAProxy et le SSL offload. HAProxy enverra le trafic HTTPS aux backends",
        "create_https_backend": "Créer un backend HTTPS sans la terminaison SSL sur HAProxy et le SSL offload. HAProxy enverra le trafic HTTPS aux backends",
        "option_temp": "Créer, modifier et supprimer des options avec des paramètres donnés. Et ensuite les utiliser comme autocomplétion dans les sections 'Ajouter'",
        "server_temp": "Créer, modifier et supprimer des serveurs. Et par la suite, utilisez-les en tant que liste déroulante dans les sections 'Ajouter'",
        "use_add": "Et utilisez-le dans les sections 'Ajouter'.",
        },
    "buttons": {
        "disable_ssl_check": "Désactiver la vérification SSL",
        "disable_ssl_verify": "Désactiver la vérification SSL sur les serveurs",
        "set_options": "Définir les options",
        "set_options_m": "Définir les options manuellement",
        "show_full_settings": "Afficher la liste complète des paramètres",
        "show_full_settings": "Masquer la liste complète des paramètres",
        }
    }
%}
{% set add_nginx_page = {
    "desc": {
        "upstream_desc1": "Le module 'upstream' est utilisé pour définir des groupes de serveurs.",
        "upstream_desc2": "Définit un groupe de serveurs. Les serveurs peuvent écouter sur différents ports. En outre, les serveurs écoutant sur des sockets TCP et UNIX peuvent être mélangés.",
        "upstream_desc3": "Par défaut, les demandes sont réparties entre les serveurs selon une méthode d\'équilibrage round-robin pondérée.",
        "keepalive": "Le paramètre connections définit le nombre maximal de connexions keepalive inactives vers des serveurs en amont qui sont conservées dans le cache de chaque processus d\'un job. Lorsque ce nombre est dépassé, les connexions les moins récemment utilisées sont fermées.",
        "fail_timeout": "Le temps pendant lequel le nombre spécifié de tentatives infructueuses de communication avec le serveur doit se produire pour considérer le serveur comme indisponible ; et la période pendant laquelle le serveur sera considéré comme indisponible.",
        "max_fails": "Définit le nombre de tentatives infructueuses de communication avec le serveur qui doivent se produire dans la durée définie par le paramètre fail_timeout pour considérer le serveur comme indisponible pendant une durée également définie par le paramètre fail_timeout. Par défaut, le nombre de tentatives infructueuses est fixé à 1.",
        }
    }
%}
{% set admin_page = {
    "desc": {
        "latest_repo": "Roxy-WI va essayer d\'installer la dernière version du service à partir du dépôt officiel.",
        "install_as_docker": "Installer le service comme un conteneur Docker",
        "ext_prom": "Cet Exporter sera utilisé par un Prometheus externe. Utilisez également cette case à cocher si vous mettez à jour l\'Exporter",
        "no_ansible": "Vous ne l\'avez pas installé",
        "before_install": "Avant d\'installer l\'Exporter, installez le d\'abord",
        "been_installed": "les serveurs ont été installés",
        "there_are_no": "Il n\'y a pas de serveurs Grafana ni Prometheus.",
        "country_codes": "Сodes des pays",
        "smon_desc": "SMON stands for <b>S</b>imple <b>MON</b>itoring",
        "checker_desc": "Checker est conçu pour surveiller les services HAProxy, Nginx, Apache et Keepalived ainsi que les backends HAProxy et maxconn.",
        "auto_start_desc": "Le service Auto Start permet de redémarrer les services HAProxy, NGINX, Apache et Keepalived s\'ils sont hors service.",
        "metrics_desc": "Collecte du nombre de connexions pour les services HAProxy, NGINX, Apache et HAProxy WAF",
        "p_s_desc": "Vérifie les ports ouverts du serveur et enregistre l\'historique.",
        "socket_desc": "Socket est un service permettant d\'envoyer des alertes et des notifications.",
        "a_new_version": "Il existe une version plus récente",
        "no_new_version": "Il n\'existe pas de version plus récente",
        "main_app": "Application principale",
        "for_updating": "Pour la mise à jour, vous devez utiliser Roxy-WI RPM ou DEB",
        "how_to_using_repo": "how to start using repository.",
        "proxy_settings": "Si le serveur Roxy-WI utilise un proxy pour se connecter à Internet, ajoutez les paramètres du proxy à yum.conf.",
        }
    }
%}
{% set smon_page = {
    "desc": {
        "before_use": "avant l\'utilisation",
        "smon_is_not_run": "Le service SMON n\'est pas en cours d\'exécution  .",
        "run_smon": "Exécutez le service SMON",
        "not_installed": "Vous n\'avez pas installé le service SMON",
        "not_added": "Vous n\'avez pas ajouté de serveurs dans le service SMON",
        "create_server": "Créez votre premier serveur",
        "see_check": "pour voir si de nouveaux contrôles ont été ajoutés",
        "do_not_sort": "Ne pas trier",
        "do_not_sort_by_status": "Ne pas trier par statut",
        "sort_status": "Trier par statut",
        "status_summary": "Résumé du statut",
        "enabled_checks": "Contrôles activés",
        "http_status_check": "Vérification du statut HTTP",
        "body_status_check": "Vérification de la réponse du corps",
        "resp_time": "Temps de réponse",
        "last_resp_time": "Dernier temps de réponse",
        "UP": "UP",
        "DOWN": "DOWN",
        "HTTP_FAILURE": "ECHEC HTTP",
        "BODY_FAILURE": " DÉFAILLANCE DU CORPS",
        "UNKNOWN": "INCONNU",
        "PORT_DOWN": "PORT DOWN",
        "DISABLED": "DÉSACTIVÉ",
        "packet_size": "Taille du paquet",
        }
    }
%}
{% set p_s_page = {
    "desc": {
        "is_enabled_and_up": "Le scanner de port est activé et le service est UP",
        "is_enabled_and_down": "Le scanner de port est activé, mais le service est DOWN",
        "scanning_ports": "Analyse des ports ouverts/filtrés pour le serveur",
        "total_open_ports": "Total des ports ouverts",
        }
    }
%}
{% set words = {
    "cache": "cache",
    "compression": "compression",
    "acceleration": "accélération",
    "start": "commencer",
    "start2": "commencer",
    "stop": "stop",
    "restart": "redémarrer",
    "service": "service",
    "service2": "service",
    "services": "services",
    "services2": "services",
    "services3": "services",
    "services4": "services",
    "started": "a démarré",
    "reload": "recharger",
    "reloading": "rechargement",
    "stopped": "arrêté",
    "no_desc": "pas de déscription",
    "process_num": "process_num",
    "version": "version",
    "version2": "version",
    "versions": "versions",
    "error": "erreur",
    "addresses": "adresses",
    "address": "adresse",
    "virtual": "virtuel",
    "hosts": "serveurs",
    "time_range": "Période de temps",
    "server": "serveur",
    "server2": "serveur",
    "status": "Statut",
    "current": "active",
    "current2": "active",
    "total": "total",
    "server_status": "statut serveur",
    "services_status": "Statut des services",
    "compare": "comparer",
    "map": "plan",
    "about": "à propos de",
    "help": "aide",
    "contacts": "contacts",
    "cabinet": "cabinet",
    "legal": "legal",
    "alert": "alerte",
    "alert2": "alerte",
    "alerts": "alertes",
    "manage": "gérer",
    "user": "utilisateur",
    "user2": "utilisateur",
    "user3": "utilisateur",
    "users": "utilisateurs",
    "users2": "usutilisateurs",
    "username": "nom d\'utilisateur",
    "servers": "serveurs",
    "servers2": "serveurs",
    "creds": "identifiants",
    "creds2": "identifiants",
    "settings": "paramètres",
    "settings2": "paramètres",
    "install": "installer",
    "installation": "installation",
    "installing": "installation en cours",
    "proxy": "proxy",
    "provisioning": "provisioner",
    "backup": "sauvegarde",
    "backup2": "sauvegarde",
    "configs": "configs",
    "configs2": "configs",
    "config": "config",
    "from": "de",
    "view": "vue",
    "internal": "applicatif",
    "internal2": "applicatif",
    "log": "log",
    "logs": "logs",
    "logs2": "logs",
    "admin_area": "zone admin",
    "group": "groupe",
    "group2": "groupe",
    "groups": "groupes",
    "groups2": "groupes",
    "groups3": "groupes",
    "w_update": "mise à jour",
    "updating": "mise à jour en cours",
    "monitoring": "surveillance",
    "auto": "auto",
    "refresh": "rechargement",
    "refresh2": "rechargement",
    "no": "non",
    "not": "pas",
    "yes": "oui",
    "interval": "interval",
    "desc": "déscription",
    "login": "connexion",
    "login2": "connexion",
    "role": "rôle",
    "roles": "rôles",
    "subs": "abonnement",
    "show_all": "Tout afficher",
    "plan": "plan",
    "pay_method": "méthode de paiement",
    "active": "actif",
    "actives": "actifs",
    "open": "ouvert",
    "opened": "ouvert",
    "edit": "éditer",
    "delete": "supprimer",
    "add": "ajouter",
    "save": "sauvegarder",
    "saved": "sauvegardé",
    "saving": "sauvegarde en cours",
    "expand_all": "tout développer",
    "collapse_all": "tout réduirel",
    "raw": "brut",
    "stats": "stats",
    "note": "note",
    "back": "retour",
    "show": "afficher",
    "run": "exécuter",
    "running": "exécution en cours",
    "running2": "lancés",
    "statistics": "statistiques",
    "rollback": "retour en arrière",
    "previous": "précédent",
    "to": "à",
    "listener": "listener",
    "frontends": "frontends",
    "frontend": "frontend",
    "backends": "backends",
    "backend": "backend",
    "maintain": "maintain",
    "drain": "drain",
    "drains": "draine",
    "number": "nombre",
    "rows": "lignes",
    "row": "ligne",
    "find": "trouver",
    "exclude": "exclure",
    "file": "fichier",
    "file2": "fichier",
    "files": "fichiers",
    "here": "ici",
    "action": "action",
    "actions": "actions",
    "command": "commande",
    "save": "sauvegarder",
    "change": "changer",
    "change2": "changer",
    "changes": "changements",
    "enter": "entrer",
    "enter2": "entrer",
    "lists": "listes",
    "list": "liste",
    "sessions": "sessions",
    "session": "session",
    "and": "et",
    "select": "sélectionnez",
    "select2": "sélectionnez",
    "new": "nouveau",
    "new2": "nouveau",
    "new3": "nouveau",
    "new4": "nouveau",
    "port": "port",
    "ports": "ports",
    "table": "table",
    "w_get": "obtenir",
    "dynamically": "dynamiquement",
    "set": "définir",
    "type": "type",
    "typing": "typing",
    "size": "taille",
    "is": "est",
    "w_empty": "vide",
    "used": "used",
    "w_clear": "clair",
    "this": "ce",
    "this2": "ce",
    "this3": "ce",
    "this4": "ce",
    "entry": "entrée",
    "age": "age",
    "protocol": "protocole",
    "rate": "taux",
    "expire": "expire",
    "more": "plus",
    "info": "info",
    "source": "source",
    "overview": "vue d\'ensemble",
    "personal": "personnel",
    "read": "lire",
    "second": "seconde",
    "seconds": "secondes",
    "seconds2": "secondes",
    "minute": "minute",
    "minute2": "minute",
    "minutes": "minutes",
    "minutes2": "minutes",
    "hour": "heure",
    "hours": "heures",
    "hours2": "heures",
    "day": "jour",
    "days": "jours",
    "metrics": "métriques",
    "every": "tous",
    "every2": "tous",
    "every3": "tous",
    "hide": "masquer",
    "average": "Moyenne",
    "peak": "pic",
    "connect": "connecter",
    "connections": "connections",
    "connections2": "connections",
    "enable": "activer",
    "enabled": "activé",
    "enabled2": "activé",
    "virt": "virt",
    "virtual": "virtuel",
    "check": "check",
    "checking": "vérifier",
    "protected": "protégé",
    "slave_for": "Esclave de",
    "name": "nom",
    "article": "article",
    "w_copy": "copie",
    "for": "pour",
    "history": "histoire",
    "history2": "histoire",
    "history3": "histoire",
    "rule": "règle",
    "rules": "règles",
    "rules2": "règles",
    "on": "on",
    "dest": "destination",
    "target": "cible",
    "w_input": "entrée",
    "output": "sortie",
    "password": "mot de passe",
    "email": "e-mail",
    "w_a": "un(e)",
    "w_an": "un(e)",
    "key": "clé",
    "token": "jeton",
    "channel": "canal",
    "channels": "canals",
    "job": "job",
    "cancel": "annuler",
    "repository": "dépôt",
    "init": "init",
    "period": "période",
    "the": "le",
    "scan": "scan",
    "is_there": "Est ici",
    "confirm": "confirmer",
    "confirmation": "confirmation",
    "one": "une",
    "one2": "une",
    "or": "ou",
    "upload": "ajout",
    "uploading": "ajout",
    "uploaded": "ajouté",
    "test": "test",
    "test2": "test",
    "disabled": "désactivé",
    "via": "via",
    "web_panel": "volet webl",
    "message": "message",
    "menu": "menu",
    "language": "langage",
    "apply": "appliquer",
    "logout": "déconnexion",
    "last": "dernier",
    "last2": "dernier",
    "activity": "activité",
    "never": "jamais",
    "is_online": "est en ligne",
    "is_offline": "est hors ligne",
    "valid": "valide",
    "remote": "distant",
    "remote2": "distant",
    "local": "local",
    "path": "chemin",
    "create": "créer",
    "created": "créé",
    "creating": "En création",
    "diff": "diff",
    "diff2": "diff",
    "diff3": "diff",
    "master": "master",
    "slave": "slave",
    "interface": "interface",
    "as": "comme",
    "stay": "rester",
    "protection": "protection",
    "return": "retourner",
    "cluster": "cluster",
    "existing": "exitstant",
    "existing2": "exitstant",
    "success": "succès",
    "option": "option",
    "option2": "option",
    "options": "options",
    "template": "modèle",
    "templates": "modèles",
    "userlists": "listes d\'utilisateurs",
    "whitelist": "liste authorisée",
    "whitelists": "listes authorisées",
    "blacklist": "liste non authorisée",
    "blacklists": "listes non authorisées",
    "mode": "mode",
    "balance": "balance",
    "health": "santé",
    "cert": "certificats",
    "cert_name": "non du certificate",
    "certs": "certificats",
    "certs2": "certificats",
    "advanced": "avancé",
    "generate": "générer",
    "generated": "généré",
    "server_template": "Modèle-de-server",
    "custom": "personnalisé",
    "param": "param",
    "param2": "param",
    "params": "params",
    "of": "de",
    "display": "affichage",
    "default_backend": "backend par défaut",
    "rule": "règle",
    "existing": "existant",
    "domain": "domaine",
    "all": "tout",
    "just": "juste",
    "without": "sans",
    "work": "travail",
    "working": "travail",
    "section": "section",
    "section2": "section",
    "use": "utiliser",
    "available": "disponible",
    "external": "externe",
    "in": "dans",
    "folder": "dossier",
    "folder2": "dossier",
    "clone": "clone",
    "date": "date",
    "time": "heure",
    "page": "page",
    "pages": "pages",
    "body": "corps",
    "level": "niveau",
    "host": "serveur",
    "uptime": "Temps de fonctionnement",
    "downtime": "Temps d\'arrêt",
    "record_type": "Type d\'enregistrement",
    "upstream": "en amont",
    "haproxy": "HAProxy",
    "nginx": "NGINX",
    "apache": "Apache",
    "keepalived": "Keepalived",
    "scan": "scan",
    "notify": "avertir",
    "notification": "notification",
    "keeping": "gardant",
    "keep": "garder",
    "close": "fermer",
    "state": "état",
    "latest": "dernier",
    "cloud": "cloud",
    "provider": "provider",
    "region": "région",
    "OS": "OS",
    "created_at": "Créé à",
    "edited_at": "Édité à",
    "instance_type": "Type d\'instance",
    "filter": "filtrer",
    "rule_name": "Nom de la règle",
    "rule": "règle",
    "rules": "règles",
    "send": "envoyer",
    "additions": "ajouts",
    "deletions": "suppressions",
    "recent": "récent",
    "already": "déjà",
    "disable": "désactiver",
    "worker": "ouvrier",
    "worker2": "ouvrier",
    "processes": "processus",
    "position": "position",
    "global": "mondial",
    "none": "aucun",
    "headers": "en-têtes",
    "value": "valeur",
    "if": "si",
    "then": "alors",
    "response": "réponse",
    "average": "moyenne",
    "average2": "moyenne",
    "cert_expire": "Expiration du certificat",
    "Hostname": "Nome de anfitrião",
    "maps": "cartes",
    "map": "carte",
    }
%}
