{% set lang_short = 'ru' %}
{% set menu_links = dict() %}
{% set menu_links = {
    "overview": {
        "link": "Обзор",
        "title": "Статус серверов и сервисов",
        "h2": "Обзор"
    },
    "hapservers": {
        "link": "Обзор",
        "h2": "Обзор сервисов",
        "haproxy": {
            "title": "Обзор HAProxy серверов"
        },
        "nginx": {
            "title": "Обзор NGINX серверов"
        },
        "apache": {
            "title": "Обзор Apache серверов"
        },
        "keepalived": {
            "title": "Обзор Keepalived серверов"
        },
    },
    "config": {
        "link": "Конфиг",
        "h2": "Работа с конфигурацией",
        "haproxy": {
            "title": "Работа с конфигурацией HAProxy"
        },
        "nginx": {
            "title": "Работа с конфигурацией NGINX"
        },
        "apache": {
            "title": "Работа с конфигурацией Apache"
        },
        "keepalived": {
            "title": "Работа с конфигурацией Keepalived"
        },
    },
    "stats": {
        "link": "Статистика",
        "h2": "Статистика",
        "haproxy": {
            "title": "Статистика HAProxy"
        },
        "nginx": {
            "title": "Статистика NGINX"
        },
        "apache": {
            "title": "Статистика Apache"
        },
    },
    "logs": {
        "link": "Лог",
        "title": "логи",
        "h2": "Логи",
    },
    "metrics": {
        "link": "Метрики",
        "title": "метрики",
        "h2": "Mетрики"
    },
    "add_proxy": {
        "link": "Добавить прокси",
        "title": "Добавить прокси: Создать прокси"
    },
    "ssl": {
        "link": "SSL",
        "title": "Добавить прокси: Загрузить SSL сертификат"
    },
    "lists": {
        "link": "Листы",
        "title": "Добавить прокси: Создать и загрузить whitelists или blacklists"
    },
    "versions": {
        "link": "Версии",
        "h2": "Работа с версиями конфигурации",
        "haproxy": {
            "title": "Работа с версиями конфигурации HAProxy"
        },
        "nginx": {
            "title": "Работа с версиями конфигурации NGINX"
        },
        "apache": {
            "title": "Работа с версиями конфигурации Apache"
        },
        "keepalived": {
            "title": "Работа с версиями конфигурации Keepalived"
        },
    },
    "ha": {
        "title": "Создание и настройка кластера высокой доступности"
    },
    "monitoring": {
        "link": "Мониторинг",
        "title": "Инструменты для мониторинга",
        "smon": {
            "dashboard": "SMON: Дашборд",
            "history": "SMON: История",
            "admin": "SMON: Админка",
        },
        "checker_history": "Checker: История",
        "port_scan": "Сканер портов",
        "net_tools": "Сетевые инструменты",
    },
    "servers": {
        "link": "Сервера",
        "title": "Управление серверами"
    },
    "admin_area": {
        "link": "Админка",
        "title": "Место для админа"
    },
    "history": {
        "title": "История"
    }
}
%}
{% set services = dict() %}
{% set services = {
    "hapservers_desc": "Checker следит за сервисом. Если сервис изменит свой статус, Checker оповестит через Telegram, Slack, Email, Web",
    "last_edit": "Посл. редак."
    }
%}
{% set errors = dict() %}
{% set errors = {
    "cannot_get_info": "Не возможно получить информацию о",
    "something_wrong": "Что-то пошло не так",
    "check_logs": "проверти логи",
    "select_server": "Выберете в начале сервер",
    "empty_name": "Имя не может быть пустым",
    }
%}
{% set settings = {
    "rabbitmq": {
        "rabbitmq_host": "RabbitMQ-server сервер",
        "rabbitmq_port": "RabbitMQ-server порт",
        "rabbitmq_vhost": "RabbitMQ-server vhost",
        "rabbitmq_queue": "RabbitMQ-server очередь",
        "rabbitmq_user": "RabbitMQ-server пользователь",
        "rabbitmq_password": "RabbitMQ-server пароль",
        },
    "nginx": {
        "nginx_path_logs": "Путь до лог файлов NGINX",
        "nginx_stats_user": "Пользователь для входа на страницу статистики NGINX",
        "nginx_stats_password": "Пароль для входа на страницу статистики NGINX",
        "nginx_stats_port": "Порт для доступа на страницу статистики NGINX",
        "nginx_stats_page": "URI для доступа на страницу статистики NGINX",
        "nginx_dir": "Путь до папки конфигурации NGINX",
        "nginx_config_path": "Путь для основного файла конфигурации NGINX",
        "nginx_container_name": "Имя Docker контейнера для сервиса NGINX",
        },
    "monitoring": {
        "smon_check_interval": "Интервал проверки для SMON (в минутах)",
        "port_scan_interval": "Интервал проверки для Checker (в минутах)",
        "portscanner_keep_history_range": "Интервал проверки для Port scanner (в минутах)",
        "smon_keep_history_range": "Время хранения истории SMON",
        "checker_keep_history_range": "Время хранения истории Checker",
        "checker_maxconn_threshold": "Время хранения истории Port scanner",
        "checker_check_interval": "Порог срабатывания уведомления по maxconn, в %",
        "smon_ssl_expire_warning_alert": "Предупреждение о истечении SSL сертификата (в днях)",
        "smon_ssl_expire_critical_alert": "Критическое предупреждение о истечении SSL сертификата (в днях)",
        },
    "main": {
        "time_zone": "Временная зона",
        "proxy": "IP адрес и порт прокси сервера. Формат: proto://ip:port",
        "session_ttl": "Время жизни пользовательских сессий (в днях)",
        "token_ttl": "Время жизни пользовательских токенов (в днях)",
        "tmp_config_path": "Путь до временной директории. Путь должен существовать. Директория должна принадлежать пользователю от имени которого подключается SSH",
        "cert_path": "Путь до SSL директории. Путь должен существовать. Директория должна принадлежать пользователю от имени которого подключается SSH",
        "ssl_local_path": "Локальный путь для хранения SSL сертификатов. Данный путь относительный от $HOME_ROXY_WI/app/",
        "lists_path": "Локальный путь для хранения black и white листов. Данный путь относительный от $HOME_ROXY-WI",
        "maxmind_key": "Лицензионный ключ для загрузки GeoLite2 DB. Создается на сайте maxmind.com",
        },
    "mail": {
        "mail_ssl": "Включить TLS",
        "mail_from": "Адрес отправителя",
        "mail_smtp_host": "Адрес SMTP сервера",
        "mail_smtp_port": "Порт SMTP сервера",
        "mail_smtp_user": "Имя пользователя",
        "mail_smtp_password": "Пароль",
        },
    "logs": {
        "syslog_server_enable": "Включение получение логов из syslog сервера",
        "syslog_server": "IP адрес syslog сервера",
        "log_time_storage": "Время хранение лог файлов пользовательской активности (в днях)",
        "apache_log_path": "Путь до лог файлов Apache сервера",
        },
    "ldap": {
        "ldap_enable": "LDAP включен",
        "ldap_server": "IP адрес LDAP сервера",
        "ldap_port": "LDAP порт (порт 389 или 636 используются по умолчанию)",
        "ldap_user": "LDAP имя пользователя",
        "ldap_password": "LDAP пароль",
        "ldap_base": "Базовый домен. Пример: dc=domain, dc=com",
        "ldap_domain": "LDAP домен для входа",
        "ldap_class_search": "Класс для поиска пользователя",
        "ldap_user_attribute": "Атрибут для поиска пользователей",
        "ldap_search_field": "Почта пользователя",
        "ldap_type": "Использовать LDAPS",
        },
    "haproxy": {
        "haproxy_path_logs": "Путь до лог файлов HAProxy",
        "stats_user": "Пользователь для входа на страницу статистики HAProxy",
        "stats_password": "Пароль для входа на страницу статистики HAProxy",
        "stats_port": "Порт для доступа на страницу статистики HAProxy",
        "stats_page": "URI для доступа на страницу статистики HAProxy",
        "haproxy_dir": "Путь до папки конфигурации HAProxy",
        "haproxy_config_path": "Путь для основного файла конфигурации HAProxy",
        "server_state_file": "Путь до стейт файла HAProxy",
        "haproxy_sock": "Путь до сокет файла HAProxy",
        "haproxy_sock_port": "Сокет порт HAProxy",
        "haproxy_container_name": "Имя Docker контейнера для сервиса HAProxy",
        },
    "apache": {
        "apache_path_logs": "Путь до лог файлов Apache",
        "apache_stats_user": "Пользователь для входа на страницу статистики Apache",
        "apache_stats_password": "Пароль для входа на страницу статистики Apache",
        "apache_stats_port": "Порт для доступа на страницу статистики Apache",
        "apache_stats_page": "URI для доступа на страницу статистики Apache",
        "apache_dir": "Путь до папки конфигурации Apache",
        "apache_config_path": "Путь для основного файла конфигурации Apache",
        "apache_container_name": "Имя Docker контейнера для сервиса Apache",
        },
    "keepalived": {
        "keepalived_config_path": "Путь для основного файла конфигурации Keepalived",
        "keepalived_path_logs": "Путь до лог файлов Keepalived",
        },
    }
%}
{% set phrases = dict() %}
{% set phrases = {
    "config_file_name": "Имя конфиг файла",
    "no_events_added": "События еще не добавлены.",
    "upload_and_restart": "Загрузить и перезагрузить",
    "upload_and_reload": "Загрузить и перезапустить",
    "save_and_restart": "Сохранить и перезагрузить",
    "save_and_reload": "Сохранить и перезапустить",
    "save_title": "Только сохранить, без перезагрузки сервиса",
    "return_to_config": "Вернуться к просмотру конфигурации",
    "check_config": "Проверить конфиг",
    "master_slave": "При изменении Master сервера, Slave будет изменен автоматически",
    "read_about_files": "Читайте описание лог файлов",
    "read_about_parameters": "Читать обо всех параметрах",
    "read_howto": "Читайте HowTo в этой",
    "howto_user": "Как использовать",
    "select_file": "Выберете файл",
    "read_how_it_works": "Как это работает можно прочитать",
    "metrics_not_installed": "У вас не установлен сервис Metrics",
    "how_to_install_metrics": "как установить сервис Metrics",
    "checker_not_installed": "У вас не установлен сервис Checker",
    "how_to_install_checker": "как установить сервис Checker",
    "enable_avg_table": "Включить отображение таблицы средних значений",
    "disable_avg_table": "Выключить отображение таблицы средних значений",
    "protected_title": "Защищенный сервер может редактировать только пользователь с ролью admin",
    "slave_for_title": "Действия над мастер сервером будут автоматически применяться к подчиненному",
    "server_unknown": "Статус сервера неизвестен",
    "no_sub": "Вы не подписаны",
    "pls_sub": "Пожалуйста, подпишитесь, чтобы иметь доступ к этой функции",
    "no_av_feat": "Эта функция не доступна в ваше плане подписке",
    "fwd_warn": "Показаны правила только для цепочек: Входящие, IN_public_allow и Исходящие",
    "search_in_ad": "Поиск в AD",
    "are_you_sure": "Вы уверены?",
    "delete_dialog": "Удаление безвозвратно, все данные будут потеряны",
    "fields_mark": "Поля, отмеченные",
    "are_required": "обязательны",
    "scan_title": "Сканировать сервер на наличие служб HAProxy, NGINX, Keepalived и Firewalld",
    "superAdmin_pass": "Нельзя менять пароль для роли superAdmin",
    "superAdmin_services": "Нельзя редактировать сервисы для роли superAdmin",
    "pass_mismatched": "Пароли не совпадают",
    "private_key_note": "Закрытый ключ. Примечание: Открытый ключ должен быть предварительно установлен на всех серверах, к которым вы планируете подключаться.",
    "send_test_mes": "Отправить тестовое сообщение",
    "alert_service_change_status": "Уведомлять о смене статуса сервиса",
    "alert_backend_change_status": "Уведомлять о смене статуса бэкенда",
    "alert_number_conn": "Уведомлять если количество соединений приближается к лимиту",
    "alert_master_backup": "Уведомлять о смене статуса Master/Backup",
    "new_version": "Доступна новая версия Roxy-WI. Проверьте",
    "all_alerts_enabled": "Уведомления включены",
    "disable_alerts": "Выключить уведомления",
    "work_with_prev": "Здесь вы можете работать с предыдущими версиями конфигов",
    "roll_back": "Откатиться к ним, просмотреть или удалить",
    "files_been_deleted": "Следующие файлы были удалены",
    "version_has_been_uploaded": "Данная версия была загружена и сохранена как",
    "new_config_has_been_saved": "A new config has been saved as",
    "view_and_upload": "Просмотр и загрузка этой версии конфига",
    "int_vrrp": "Интерфейс для VRRP на сервере",
    "howto_ha": "Как создать кластер высокой доступности",
    "been_installed": "был установлен",
    "wait_mess": "Пожалуйста не закрывайте и не обновляйте страницу пока работа не завершена. Это может занять некоторое время",
    "you_are_editing": "Вы редактируете",
    "section_from_server": "секцию с сервера",
    "how_to_install": "как установить",
    "port_check": "проверка порта",
    "possible_service_name": "Возможное название службы",
    "server_info": "Информация о сервере",
    "user_groups": "Пользовательские группы",
    }
%}
{% set roles = {
    "superAdmin": "Самый высокий уровень административных разрешений и контролирует действия всех других пользователей",
    "admin": "Доступ везде, кроме админки",
    "user": "Те же права, что и администратор, но не имеет доступа к странице серверов",
    "guest": "Доступ только для чтения"
    }
%}
{% set add_page = {
    "desc": {
        "port_check": "Базовая проверка работоспособности на уровне TCP пытается подключиться к TCP-порту сервера. Проверка действительна, когда сервер отвечает пакетом SYN/ACK.",
        "maxconn": "Общее количество разрешенных подключений для всего процесса. Это не позволяет процессу одновременно принимать слишком много подключений, что защищает его от нехватки памяти.",
        "server_template": "Создать список серверов из шаблона",
        "def_check": "Параметры по умолчанию",
        "saved_options": "Это параметры, которые вы сохранили на вкладке «Параметры»",
        "press_down": "или нажмите «вниз»",
        "ip_port": "Если IP-адрес для бинда пуст, он будет прослушивать все IP-адреса. Начните вводить IP или нажмите кнопку вниз. Нажмите +, чтобы добавить несколько пар IP-портов. Если вы используете VRRP, оставьте поле IP пустым. Если вы назначите IP-адрес VRRP, подчиненный сервер не запустится.",
        "listener_desc1": "Раздел «Листенер» определяет полный прокси-сервер с его внешними и внутренними частями, объединенными в один раздел. Обычно это полезно для TCP-трафика.",
        "listener_desc2": "Все имена прокси должны состоять из букв верхнего и нижнего регистра, цифр, '-' (тире), '_' (подчеркивание), '.' (точка) и ':' (двоеточие). Имена ACL чувствительны к регистру, что означает, что «www» и «WWW» — это два разных прокси.",
        "listener_desc3": "Исторически сложилось так, что все имена прокси могли перекрываться, просто это вызывало проблемы в логах. С момента введения переключения контента обязательно, чтобы два прокси с перекрывающимися возможностями (интерфейсный/бэкэнд) имели разные имена. Однако по-прежнему разрешено, чтобы внешний и внутренний интерфейсы имели одно и то же имя, поскольку такая конфигурация встречается часто.",
        "front_desc1": "Раздел «Фронтенд» описывает набор прослушивающих сокетов, принимающих клиентские подключения.",
        "back_des1": "Раздел «Бэкэнд» описывает набор серверов, к которым прокси-сервер будет подключаться для переадресации входящих соединений.",
        "ssl_offloading": "Термин «SSL termination» означает, что вы выполняете все операции шифрования и дешифрования на границе вашей сети, например, на балансировщике нагрузки.",
        "http_https": "Включить перенаправление со схемы HTTP на схему HTTPS",
        "maxconn_fix": "Зафиксировать максимальное количество одновременных подключений на внешнем интерфейсе",
        "maxconn_desc": "Это значение не должно превышать глобальное значение maxconn. Глобальное значение maxconn по умолчанию",
        "antibot": "К сожалению, большая часть ботов используется в злонамеренных целях. Их намерения включают веб-скрапинг, рассылку спама, флуд запросов, перебор и сканирование уязвимостей. Например, боты могут очищать ваши прайс-листы, чтобы конкуренты могли последовательно подрезать вас или создавать конкурентоспособное решение, используя ваши данные. Или они могут попытаться найти форумы и разделы комментариев, где они могут размещать спам. В других случаях они сканируют ваш сайт в поисках слабых мест в системе безопасности",
        "slow_attack": "В атаке Slow POST злоумышленник начинает с отправки законного HTTP-заголовка POST на веб-сервер точно так же, как в обычных обстоятельствах. Заголовок указывает точный размер тела сообщения, которое затем следует. Однако затем это тело сообщения отправляется с угрожающе низкой скоростью — иногда до 1 байта примерно за две минуты",
        "http_compression": "Сжатие HTTP позволяет сжимать текст ответа до того, как он будет передан клиенту, что приводит к использованию меньшей пропускной способности сети для каждого запроса. С точки зрения клиента это уменьшает задержку.",
        "forward_for": "Когда HAProxy Enterprise проксирует TCP-соединение, он перезаписывает исходный IP-адрес клиента своим собственным при общении с внутренним сервером. Однако при ретрансляции сообщений HTTP он может хранить адрес клиента в заголовке HTTP X-Forwarded-For. Затем внутренний сервер может быть настроен для чтения значения из этого заголовка для получения IP-адреса клиента.",
        "redispatch": "В режиме HTTP, если сервер, указанный в файле cookie, не работает, клиенты определенно могут придерживаться его, потому что они не могут сбросить файл cookie, поэтому они больше не смогут получить доступ к службе. Указание «option redispatch» позволит прокси-серверу нарушить их постоянство и перераспределить их на работающий сервер. Это также позволяет повторить попытку подключения к другому серверу в случае нескольких сбоев подключения. Конечно, это требует, чтобы «повторные попытки» были установлены на ненулевое значение.",
        "force_close": "Поскольку HAProxy работает в режиме обратного прокси, серверы видят его IP-адрес как адрес своего клиента. Это иногда раздражает, когда IP-адрес клиента ожидается в журналах сервера. Чтобы решить эту проблему, HAProxy может добавить известный HTTP-заголовок «X-Forwarded-For» ко всем запросам, отправляемым на сервер. Этот заголовок содержит значение, представляющее IP-адрес клиента. Поскольку этот заголовок всегда добавляется в конец существующего списка заголовков, сервер должен быть настроен так, чтобы всегда использовать только последнее вхождение этого заголовка. См. руководство сервера, чтобы узнать, как включить использование этого стандартного заголовка. Обратите внимание, что нужно использовать только последнее вхождение заголовка, так как вполне возможно, что клиент уже принес его.",
        "cookie": "Чтобы отправить клиента на тот же сервер, на который он был отправлен ранее, чтобы повторно использовать сеанс на этом сервере, вы можете включить сохранение сеанса на основе файлов cookie. Добавьте директиву cookie в раздел backend и установите для параметра cookie уникальное значение в каждой строке сервера.",
        "c_prefix": "Это ключевое слово указывает, что вместо того, чтобы полагаться на выделенный файл cookie для постоянства, существующий будет заполнен.",
        "c_nocache": "Этот вариант рекомендуется в сочетании с режимом вставки, когда между клиентом и HAProxy есть кеш",
        "c_nocache": "Этот вариант рекомендуется в сочетании с режимом вставки, когда между клиентом и HAProxy есть кеш",
        "c_postonly": "Этот параметр гарантирует, что вставка файлов cookie будет выполняться только в ответах на запросы POST",
        "c_dynamic": "Активируйте динамические файлы cookie. При использовании cookie сеанса динамически создается для каждого сервера",
        "def_backend": "Если вы хотите использовать бэкэнд по умолчанию",
        "def_backend_exit": "должен существовать",
        "port_for_bind": "Порт для привязки",
        "bind_ip_pair": "Привязать еще одну пару IP-портов",
        "no_def_backend": "Если ни одно из условий не выполняется, будет использоваться бэкенд, определенный с помощью «default_backend». Если серверная часть по умолчанию не определена, используются либо серверы в том же разделе (в случае раздела «прослушивание»), либо, в случае внешнего интерфейса, сервер не используется, и возвращается ответ 503 о недоступности службы",
        "circuit_breaking": "Прерыватель цепи — это шаблон проектирования, который используется для обнаружения сбоев и инкапсулирует логику предотвращения постоянного повторения сбоя. Шаблон проектирования автоматического выключателя работает так же, как электрический автоматический выключатель, который предназначен для «отключения» или размыкания цепи при обнаружении отказа.",
        "peers_master": "Примечание. Если вы хотите использовать службы HAProxy в качестве кластера Master-Master, вы должны установить имена хостов локальных серверов в качестве имен одноранговых серверов. Иначе сверстников не получится",
        "peers_slave": "Примечание. Если вы хотите использовать службы HAProxy в качестве кластера Master-Slave, вы должны установить имя хоста локального сервера для главного сервера в качестве имени однорангового сервера. Иначе пиры работать не будутk",
        "peers": "Раздел Peers включает репликацию данных таблицы флешки между двумя или более экземплярами HAProxy",
        "userlist": "В этом разделе вы можете создавать списки пользователей. И после использовать их в разделах «Добавить»",
        "userlist_name": "Имя пользовательского листа",
        "userlist_pass": "Пользовательский пароль. По умолчанию это небезопасный пароль",
        "userlist_user_grp": "Группа пользователя",
        "userlist_user": "Также можно прикрепить группы к этому пользователю, используя список групп, разделенных запятыми",
        "userlist_group": "Также можно присоединить пользователей к этой группе, используя список имен, разделенных запятыми, которым предшествует ключевое слово «пользователи»",
        "userlist_desc": "Можно контролировать доступ к разделам frontend/backend/listen или к http-статистике, разрешая только аутентифицированным и авторизованным пользователям. Для этого необходимо создать хотя бы один список пользователей и определить пользователей",
        "servers": "В этом разделе вы можете создавать, редактировать и удалять серверы. И после использовать их как автозаполнение в разделах «Добавить»",
        "options": "В этом разделе вы можете создавать, редактировать и удалять опции. И после использовать их как автозаполнение в разделах «Добавить»",
        "paste_cert": "Вставьте содержимое файла сертификата",
        "paste_cert_desc": "Этот файл pem будет использоваться для создания https-соединения с HAProxy, NGINX или Apache",
        "lists_howto": "В этом разделе вы можете создавать и редактировать черные и белые списки. А после использовать их в конфигах HAProxy или на страницах «Добавить прокси». Прочитайте, как использовать его в этом",
        "lists_new_line": "Каждый новый адрес необходимо указывать с новой строки",
        "was_success_added": "был добавлен",
        "create_ssl_proxy": "Создайте HTTPS-прокси с терминацией SSL на HAProxy и разгрузкой SSL. HAProxy будет отправлять на серверные части HTTP-трафик. Вам нужно иметь",
        "create_ssl_front": "Создайте фронтетд HTTPS с терминацией SSL на HAProxy и разгрузкой SSL. HAProxy будет отправлять на серверные части HTTP-трафик. Вам нужно иметь",
        "create_ssl_backend": "Создайте бэкенд HTTPS с терминацией SSL на HAProxy и разгрузкой SSL. HAProxy будет отправлять на серверные части HTTP-трафик. Вам нужно иметь",
        "create_https_proxy": "Создайте прокси-сервер HTTPS без терминации SSL на HAProxy и разгрузки SSL. HAProxy будет отправлять на серверные части HTTPS-трафик",
        "create_https_front": "Создайте фронтенд HTTPS без терминации SSL на HAProxy и разгрузки SSL. HAProxy будет отправлять на серверные части HTTPS-трафик",
        "create_https_backend": "Создайте бэкенд HTTPS без терминации SSL на HAProxy и разгрузки SSL. HAProxy будет отправлять на серверные части HTTPS-трафик",
        "option_temp": "Создавать, редактировать и удалять опции с заданными параметрами. И после использовать их как автозаполнение в разделах «Добавить прокси»",
        "server_temp": "Создание, редактирование и удаление серверов. И после использовать их как автозаполнение в разделах «Добавить прокси»",
        "use_add": "И использовать их в разделах «Добавить прокси»",
        },
    "buttons": {
        "disable_ssl_check": "Отключить проверку SSL",
        "disable_ssl_verify": "Отключить проверку SSL на серверах",
        "set_options": "Задать параметры",
        "set_options_m": "Задать параметры в ручную",
        "show_full_settings": "Показать полный список настроек",
        "show_full_settings": "Скрыть полный список настроек",
        }
    }
%}

{% set add_nginx_page = {
    "desc": {
        "upstream_desc1": "Модуль upstream используется для определения групп серверов.",
        "upstream_desc2": "Определяет группу серверов. Серверы могут прослушивать разные порты. Кроме того, серверы, прослушивающие сокеты домена TCP и UNIX, могут быть смешанными.",
        "upstream_desc3": "По умолчанию запросы распределяются между серверами методом round-robin.",
        "keepalive": "Параметр Connections задает максимальное количество неактивных активных подключений к вышестоящим серверам, которые сохраняются в кэше каждого рабочего процесса. Когда это число превышено, последние использовавшиеся соединения закрываются.",
        "fail_timeout": "Время, в течение которого должно произойти заданное количество неудачных попыток связи с сервером, чтобы сервер считался недоступным; и период времени, в течение которого сервер будет считаться недоступным.",
        "max_fails": "Задает количество неудачных попыток связи с сервером, которое должно произойти в течение времени, заданного параметром fail_timeout, чтобы сервер считался недоступным в течение времени, также заданного параметром fail_timeout. По умолчанию количество неудачных попыток равно 1.",
        }
    }
%}
{% set admin_page = {
    "desc": {
        "latest_repo": "Roxy-WI попытается установить последнюю версию сервиса из официального репозитория",
        "install_as_docker": "Установить сервис как контейнер Docker",
        "ext_prom": "Этот экспортер будет использоваться внешним Prometheus. Также используйте этот флажок, если вы обновляете экспортер.",
        "no_ansible": "You have not installed",
        "before_install": "Прежде чем устанавливать какие-либо экспортеры, сначала установите",
        "been_installed": "сервера были установлены",
        "there_are_no": "Нет серверов Grafana и Prometheus",
        "country_codes": "коды стран",
        "smon_desc": "SMON означает <b>S</b>простой <b>MON</b>иторинг.",
        "checker_desc": "Checker предназначен для мониторинга сервисов HAProxy, Nginx, Apache и Keepalived, а также бэкендов HAProxy и maxconn.",
        "auto_start_desc": "Служба автозапуска позволяет перезапустить службы HAProxy, NGINX, Apache и Keepalived, если они не работают.",
        "metrics_desc": "Собирает количество подключений для сервисов HAProxy, NGINX, Apache и HAProxy WAF.",
        "p_s_desc": "Проверяет сервер на наличие открытых портов и сохраняет историю",
        "socket_desc": "Socket — сервис для отправки предупреждений и уведомлений",
        "a_new_version": "Доступна новая версия",
        "no_new_version": "Нет новой версии",
        "main_app": "Главное приложение",
        "for_updating": "Для обновления необходимо использовать Roxy-WI RPM или DEB.",
        "how_to_using_repo": "как начать пользоваться репозиторием.",
        "proxy_settings": "Если сервер Roxy-WI использует прокси для подключения к Интернету, добавьте настройки прокси в yum.conf.",
        }
    }
%}
{% set smon_page = {
    "desc": {
        "before_use": "перед использование",
        "smon_is_not_run": "SMON сервис не запущен.",
        "run_smon": "Запустить сервис SMON",
        "not_installed": "Вы еще не установили сервис SMON",
        "not_added": "Вы еще не добавили сервера в SMON",
        "create_server": "Создайте Ваш первый сервер",
        "see_check": "чтобы посмотреть проверки, которые были добавлены",
        "do_not_sort": "Не сортировать",
        "do_not_sort_by_status": "Не сортировать по статусу",
        "sort_status": "Сортировать по статусу",
        "status_summary": "Сводка статуса",
        "enabled_checks": "Активные проверки",
        "http_status_check": "проверка состояния HTTP",
        "body_status_check": "Проверка реакции тела",
        "resp_time": "Время откл.",
        "last_resp_time": "Посл. время откл.",
        "UP": "ДОСТУПЕН",
        "DOWN": "НЕ ДОСТУПЕН",
        "HTTP_FAILURE": "ОШИБКА HTTP",
        "BODY_FAILURE": "ОШИБКА ТЕЛА",
        "UNKNOWN": "НЕИЗВЕСТНО",
        "PORT_DOWN": "ПОРТ НЕ ДОСТ.",
        }
    }
%}
{% set p_s_page = {
    "desc": {
        "is_enabled_and_up": "Port scanner включен и служба работает.",
        "is_enabled_and_down": "Port scanner включен, но сервис отключен",
        "scanning_ports": "Сканирование открытых/фильтрованных портов для сервера",
        "total_open_ports": "Всего открыто портов",
        }
    }
%}
{% set words = {
    "cache": "кэш",
    "compression": "сжатие",
    "acceleration": "ускорение",
    "start": "запустить",
    "start2": "начните",
    "stop": "остановить",
    "restart": "перезагрузить",
    "reload": "перезапустить",
    "reloading": "перезапуска",
    "service": "сервис",
    "service2": "сервиса",
    "services": "сервисы",
    "services2": "сервисов",
    "services3": "сервисами",
    "services4": "сервисах",
    "started": "запущен",
    "stopped": "остановлен",
    "no_desc": "нет описания",
    "process_num": "процессы",
    "version": "версия",
    "version2": "версию",
    "versions": "версии",
    "error": "ошибка",
    "addresses": "адреса",
    "address": "адрес",
    "virtual": "виртуальные",
    "hosts": "хосты",
    "time_range": "Временной промежуток",
    "server": "сервер",
    "server2": "сервере",
    "status": "статус",
    "current": "текущее",
    "current2": "текущая",
    "total": "всего",
    "server_status": "Статус сервера",
    "services_status": "Статус сервисов",
    "compare": "сверить",
    "map": "карта",
    "about": "о",
    "help": "помощь",
    "contacts": "контакты",
    "cabinet": "кабинет",
    "legal": "legal",
    "alert": "уведомление",
    "alert2": "уведомлять",
    "alerts": "уведомления",
    "manage": "управлять",
    "user": "пользователь",
    "user2": "пользователя",
    "user3": "пользовательские",
    "users": "пользователи",
    "users2": "пользователями",
    "username": "пользователь",
    "servers": "сервера",
    "servers2": "серверами",
    "creds": "учетные данные",
    "creds2": "учетными данными",
    "settings": "настройки",
    "settings2": "настройками",
    "install": "установить",
    "installation": "установка",
    "installing": "установка",
    "proxy": "прокси",
    "provisioning": "предоставление",
    "backup": "бэкап",
    "backup2": "бэкапа",
    "configs": "конфиги",
    "configs2": "конфигов",
    "config": "конфиг",
    "from": "от",
    "view": "просмотр",
    "internal": "внутренние",
    "internal2": "внутренних",
    "log": "лог",
    "logs": "логи",
    "logs2": "логов",
    "admin_area": "админка",
    "group": "группа",
    "group2": "группу",
    "groups": "группы",
    "groups2": "групп",
    "groups3": "группами",
    "w_update": "обновить",
    "updating": "обновление",
    "monitoring": "мониторинг",
    "auto": "автоматическое",
    "refresh": "обновление",
    "refresh2": "обновить",
    "no": "нет",
    "not": "не",
    "yes": "да",
    "interval": "интервал",
    "desc": "описание",
    "login": "логин",
    "role": "роль",
    "roles": "роли",
    "subs": "подписка",
    "show_all": "показать все",
    "plan": "план",
    "pay_method": "платежный метод",
    "active": "активный",
    "open": "открыть",
    "opened": "открытые",
    "edit": "редактировать",
    "delete": "удалить",
    "add": "добавить",
    "save": "сохранить",
    "saved": "сохраненные",
    "saving": "сохранения",
    "expand_all": "развернуть",
    "collapse_all": "свернуть",
    "raw": "сырой",
    "stats": "статистика",
    "note": "внимание",
    "back": "назад",
    "show": "показать",
    "run": "запустить",
    "running": "запущенный",
    "statistics": "статистики",
    "rollback": "откатить",
    "previous": "предыдущий",
    "to": "к",
    "listener": "листенер",
    "frontends": "фронтенды",
    "frontend": "фронтенд",
    "backends": "бэкенды",
    "backend": "бэкенд",
    "maintain": "в обслуживание",
    "drain": "отключенный",
    "number": "количество",
    "rows": "строк",
    "row": "строка",
    "find": "найти",
    "exclude": "исключить",
    "file": "файл",
    "file2": "файла",
    "files": "файлы",
    "here": "здесь",
    "action": "действие",
    "actions": "действия",
    "command": "команда",
    "save": "сохранить",
    "change": "изменение",
    "change2": "изменить",
    "enter": "ввод",
    "enter2": "введите",
    "lists": "листы",
    "list": "лист",
    "sessions": "сессии",
    "session": "сессия",
    "and": "и",
    "select": "выберите",
    "select2": "выбрать",
    "new": "новый",
    "new2": "нового",
    "new3": "новую",
    "new4": "новые",
    "port": "порт",
    "ports": "порты",
    "table": "таблицу",
    "w_get": "получить",
    "dynamically": "динамически",
    "set": "установить",
    "type": "тип",
    "typing": "печатать",
    "site": "размер",
    "is": "",
    "w_empty": "пуста",
    "used": "используется",
    "w_clear": "отчистить",
    "this": "эту",
    "this2": "этой",
    "this3": "этот",
    "this4": "это",
    "entry": "запись",
    "age": "возраст",
    "protocol": "протокол",
    "rate": "скорость",
    "expire": "истекает",
    "more": "больше",
    "info": "информации",
    "source": "источник",
    "overview": "обзор",
    "personal": "личный",
    "read": "читать",
    "second": "секунда",
    "seconds": "секунды",
    "seconds2": "секунд",
    "minute": "минута",
    "minute2": "минуту",
    "minutes": "минут",
    "hour": "час",
    "hours": "часа",
    "hours2": "часов",
    "day": "день",
    "days": "дня",
    "metrics": "метрики",
    "every": "каждых",
    "every2": "каждую",
    "every3": "каждый",
    "hide": "убрать",
    "average": "Среднее количество",
    "peak": "пиковые",
    "connect": "подключиться",
    "connections": "соединений",
    "connections2": "соединения",
    "enable": "активировать",
    "enabled": "активный",
    "virt": "вирт",
    "virtual": "виртуальный",
    "check": "проверить",
    "checking": "проверка",
    "protected": "защищенный",
    "slave_for": "Подчинен",
    "name": "имя",
    "article": "статье",
    "w_copy": "копировать",
    "for": "для",
    "history": "история",
    "history2": "историю",
    "history3": "истории",
    "rule": "правило",
    "rules": "правила",
    "rules2": "правил",
    "on": "на",
    "dest": "назначение",
    "target": "цель",
    "w_input": "входящие",
    "output": "исходящие",
    "password": "пароль",
    "email": "почта",
    "w_a": "",
    "w_an": "",
    "key": "ключ",
    "token": "токен",
    "channel": "канал",
    "channels": "каналы",
    "job": "работу",
    "cancel": "отмена",
    "repository": "репозиторий",
    "init": "инициализировать",
    "period": "период",
    "the": "",
    "scan": "сканировать",
    "is_there": "Установлен",
    "confirm": "подтвердить",
    "confirmation": "подтверждение",
    "one": "одну",
    "one2": "один",
    "or": "или",
    "upload": "загрузить",
    "uploading": "загрузки",
    "uploaded": "загруженный",
    "test": "тестировать",
    "test2": "тестовое",
    "disabled": "отключено",
    "via": "через",
    "web_panel": "веб интерфейс",
    "message": "сообщение",
    "menu": "меню",
    "language": "язык",
    "apply": "применить",
    "logout": "выйти",
    "last": "последняя",
    "last2": "последнее",
    "activity": "активность",
    "never": "никогда",
    "is_online": "онлайн",
    "is_offline": "офлайн",
    "valid": "действительный",
    "remote": "удаленный",
    "remote2": "удаленную",
    "local": "локальный",
    "path": "путь",
    "created": "создано",
    "create": "создать",
    "creating": "создание",
    "diff": "разница",
    "diff2": "разницу",
    "diff3": "разницы",
    "master": "мастер",
    "slave": "подчиненный",
    "interface": "интерфейс",
    "as": "как",
    "stay": "оставаться",
    "protection": "защита",
    "return": "вернуться",
    "cluster": "кластер",
    "existing": "существующий",
    "existing2": "существующему",
    "success": "успех",
    "option": "опция",
    "option2": "опцию",
    "options": "опции",
    "template": "шаблон",
    "templates": "шаблоны",
    "userlists": "пользовательские листы",
    "whitelist": "белый спиской",
    "whitelists": "белые списки",
    "blacklist": "черный список",
    "blacklists": "черные списки",
    "mode": "режим",
    "balance": "балансировка",
    "health": "здоровье",
    "cert": "сертификат",
    "cert_name": "имя сертификата",
    "certs": "сертификаты",
    "certs2": "сертификатов",
    "advanced": "расширенные",
    "generate": "сгенерировать",
    "generated": "сгенерированный",
    "server_template": "Шаблоны серверов",
    "custom": "Свои",
    "param": "параметр",
    "param2": "параметра",
    "params": "параметры",
    "of": "",
    "display": "показать",
    "default_backend": "Бэкенд по умолчанию",
    "rule": "правило",
    "existing": "существующие",
    "domain": "домен",
    "all": "все",
    "just": "только",
    "without": "без",
    "work": "работать",
    "working": "работа",
    "section": "секция",
    "section2": "секцию",
    "use": "использовать",
    "available": "доступные",
    "external": "внешний",
    "in": "в",
    "folder": "папку",
    "folder2": "папка",
    "clone": "клонировать",
    "date": "дата",
    "time": "время",
    "page": "страница",
    "pages": "страницы",
    "body": "тело",
    "level": "уровень",
    "host": "хост",
    "uptime": "Время работы",
    "downtime": "Время простоя",
    "record_type": "Тип запипси",
    "upstream": "апстрим",
    "haproxy": "HAProxy",
    "nginx": "NGINX",
    "apache": "Apache",
    "keepalived": "Keepalived",
    "scan": "сканирование",
    "notify": "уведомления",
    "notification": "уведомление",
    "keeping": "хранение",
    "keep": "хранить",
    "close": "закрыть",
    "state": "состояние",
    "latest": "последняя",
    "cloud": "облако",
    "provider": "провайдер",
    "region": "регион",
    "OS": "ОС",
    "created_at": "Создано",
    "edited_at": "Отредактировано",
    "instance_type": "Тип инстанса",
    "filter": "фильтр",
    "rule_name": "Название правила",
    "rule": "правило",
    "rules": "правила",
    "send": "отправить",
    }
%}
