vrrp_instance VI_{{IP}} {
	state {{MASTER}}
	interface {% if MASTER == 'MASTER' %}{{ETH}} {% else %} {{SLAVE_ETH}} {% endif %}

	virtual_router_id {{ router_id }}

	priority {% if RETURN_TO_MASTER == 1 and MASTER == 'MASTER' %}152{% elif MASTER == 'MASTER' and RETURN_TO_MASTER == 0 %}102{% else %}101{%endif%}

	track_script {
		chk_haproxy
	}

	advert_int 1
	authentication {
		auth_type PASS
		auth_pass VerySecretPass2!
	}
	virtual_ipaddress {
		{{IP}}
	}
}
