vrrp_instance VI_{{IP}} {
	state {{MASTER}}
	interface {{ETH}}
	virtual_router_id 101
	priority 103

	track_script {
		chk_haproxy
	}

	advert_int 1
	authentication {
		auth_type PASS
		auth_pass VerySecretPass2!
	}
	virtual_ipaddress {
		{{IP}}
	}
}