{% import 'languages/'+lang|default('en')+'.html' as lang %}
{% from 'include/input_macros.html' import input, checkbox, copy_to_clipboard %}
<div id="listener-{{listener.id}}" class="div-server-hapwi">
    <div class="server-name">
        <span class="overflow name-span">
            <span id="listener-name-{{listener.id}}">{{listener.name|replace("'", "")}}</span>
            <span id="listener-desc-{{listener.id}}">{% if listener.desc and listener.desc != "''" %} ({{listener.desc|replace("'", "")}}) {% endif %}</span>
        </span>
        <span class="server-action">
            {% if g.user_params['role'] <= 3 %}
            <span class="service-start" onclick="confirmUdpBalancerAction('start', '{{listener.id}}')"></span>
            <span class="service-reload" onclick="confirmUdpBalancerAction('restart', '{{listener.id}}')"></span>
            <span class="service-stop" onclick="confirmUdpBalancerAction('stop', '{{listener.id}}')"></span>
            <a class="edit" onclick="createUDPListener(true, '{{listener.id}}')"></a>
            <a class="delete" onclick="confirmDeleteListener('{{listener.id}}')"></a>
            {% endif %}
            <a href="{{ url_for('main.service_history', service='udp', server_ip=listener.id) }}" title="{{lang.words.view|title()}} {{lang.words.history3}} {{listener.name}}" class="history" style="margin: 0 5px 0 10px;"></a>
        </span>
    </div>
    <div class="server-desc">
        {% if listener.cluster_id %}
            {% for cluster in clusters %}
                {% if listener.cluster_id == cluster.id %}
                    {{ input('listener-type-'+listener.id|string(), value='cluster', type='hidden') }}
                    <b>{{lang.words.cluster|title}} {{ lang.words.name }}</b>:
                    <a href="/ha/cluster/{{ cluster.id }}" title="{{lang.words.open|title()}} {{lang.words.cluster|replace("'", "")}}" id="cluster-{{ listener.id }}"> {{ cluster.name }}</a>
                {% endif %}
            {% endfor %}
            <b>VIP</b>:
        {% else %}
            {{ input('listener-type-'+listener.id|string(), value='server', type='hidden') }}
            <b>{{ lang.words.server|title() }}</b>: <span id="hostname-{{ listener.id }}">{{ server.hostname }}</span>
            <b id="ip-{{ listener.id }}">IP</b>:
        {% endif %}
        <span id="vip-{{ listener.id }}">{{ copy_to_clipboard(value=listener.vip) }}</span><br />
        <b>{{lang.words.port|title()}}</b>: <span id="port-{{ listener.id }}">{{ listener.port }}</span> <br />
        <b>{{ lang.words.backend|title() }} {{ lang.words.servers }}</b>: <br />
        <div id="config-{{ listener.id }}">
            {% set config = listener.config|string_to_dict %}
            {% for c in config %}
            {{ lang.words.server|title() }}: {{ copy_to_clipboard(value=c.backend_ip) }}, {{ lang.words.port }}: {{ c.port }}, {{ lang.words.weight }}: {{ c.weight }} <br />
            {% endfor %}
        </div>
    </div>
</div>
<script>
    checkStatus('{{listener.id}}');
    setInterval(checkStatus, 25000, '{{listener.id}}');
</script>
