{%- if versions is defined -%}
	{%- set current_ver = versions.0 -%}
	{%- set new_ver = versions.1 %}
	{%- set current_ver_without_dots = versions.2 %}
	{%- set new_ver_without_dots = versions.3 %}
{%- endif -%}
{%- if new_ver_without_dots is defined and current_ver_without_dots is defined and new_ver is defined and new_ver_without_dots is defined -%}
	<a style="color: #000; cursor: pointer;">
	{%- if new_ver_without_dots > current_ver_without_dots and new_ver != "Sorry cannot get current version" %}
		<span id="show-updates-button" class="new-version-exists">v{{current_ver}}</span>
		<script defer src="/static/js/fontawesome.min.js"></script>
	{%- else %}
		<a href="/admin#updatehapwi" title="Update center" style="color: black;">v{{current_ver}}</a>
	{%- endif %}
	</a>
{%- else %}
	<a href="/admin#updatehapwi" title="Update center" style="color: black;">v{{current_ver}}</a>
{% endif -%}
