{% set current_ver = versions.0 %}
{% set new_ver = versions.1 %}
{% set current_ver_without_dots = versions.2 %}
{% set new_ver_without_dots = versions.3 %}
<tr class="odd">
    <td class="padding10 first-collumn">
        Roxy-WI
    </td>
    <td>
        <b
                {% if new_ver_without_dots > current_ver_without_dots and new_ver != "Sorry cannot get current version" %}
                title="There is a newer version Roxy-WI"
                style="color: var(--red-color)"
                {% else %}
                title="There is not a newer version Roxy-WI"
                style="color: var(--green-color)"
                {% endif %}
        >
            {{current_ver}}
        </b>
    </td>
    <td class="padding10">
        <b>{{new_ver}}</b>
    </td>
    <td>
        {% if new_ver_without_dots > current_ver_without_dots and new_ver != "Sorry cannot get current version" %}
        <a class="ui-button ui-widget ui-corner-all" onclick="updateService('roxy-wi')" title="Update Roxy-WI">Update</a>
        {% endif %}
    </td>
    <td>
        The main application
    </td>
    <td></td>
</tr>
{% for s in services %}
    {% if s.0 in ('roxy-wi-smon', 'roxy-wi-checker', 'roxy-wi-keep_alive', 'roxy-wi-metrics', 'roxy-wi-portscanner', 'roxy-wi-socket', 'roxy-wi-prometheus-exporter') %}
<tr class="{{ loop.cycle('even', 'odd') }}">
    {% set is_need_update = 0 %}
    {% if s.0 == 'roxy-wi-smon' %}
        {% set service_name = 'SMON' %}
        {% set service_link = 'smon' %}
        {% set desc_link = 'https://roxy-wi.org/services/smon' %}
    {% if s.3|float < smon_ver|float %}
        {% set is_need_update = 1 %}
    {% endif %}
    {% set description = 'SMON stands for <b>S</b>imple <b>MON</b>itoring' %}
{% elif s.0 == 'roxy-wi-checker' %}
    {% set service_name = 'Checker' %}
    {% set service_link = 'checker' %}
    {% set desc_link = 'https://roxy-wi.org/services/checker' %}
    {% if s.3|float < checker_ver|float %}
        {% set is_need_update = 1 %}
    {% endif %}
    {% set description = 'Checker is designed for monitoring HAProxy, Nginx, Apache and Keepalived services as well as HAProxy backends' %}
{% elif s.0 == 'roxy-wi-keep_alive' %}
    {% set service_name = 'Auto start' %}
    {% set service_link = 'auto_start' %}
    {% set desc_link = 'https://roxy-wi.org/services/auto_start' %}
    {% if s.3|float < keep_ver|float %}
        {% set is_need_update = 1 %}
    {% endif %}
    {% set description = 'The Auto Start service allows to restart the HAProxy, NGINX, Apache and Keepalived services if they are down' %}
{% elif s.0 == 'roxy-wi-metrics' %}
    {% set service_name = 'Metrics' %}
    {% set service_link = 'metrics' %}
    {% set desc_link = 'https://roxy-wi.org/services/metrics' %}
    {% if s.3|float < metrics_ver|float %}
        {% set is_need_update = 1 %}
    {% endif %}
    {% set description = 'Collects number of connections for HAProxy, NGINX and WAF services' %}
{% elif s.0 == 'roxy-wi-portscanner' %}
    {% set service_name = 'Port scanner' %}
    {% set service_link = 'portscanner' %}
    {% set desc_link = 'https://roxy-wi.org/services/' + service_link %}
    {% if s.3|float < portscanner_ver|float %}
        {% set is_need_update = 1 %}
    {% endif %}
    {% set description = 'Probes and saves a server or host for open ports' %}
{% elif s.0 == 'roxy-wi-socket' %}
    {% set service_name = 'Socket service' %}
    {% set service_link = 'socket' %}
    {% set desc_link = 'https://roxy-wi.org/services/' + service_link %}
    {% if s.3|float < socket_ver|float %}
        {% set is_need_update = 1 %}
    {% endif %}
    {% set description = 'Socket is a service for sending alerts and notifications' %}
{% elif s.0 == 'roxy-wi-prometheus-exporter' %}
    {% set service_name = 'Prometheus exporter' %}
    {% set service_link = 'prometheus-exporter' %}
    {% set desc_link = 'https://roxy-wi.org/services/' + service_link %}
    {% if s.3|float < prometheus_exp_ver|float %}
        {% set is_need_update = 1 %}
    {% endif %}
    {% set description = 'Prometheus exporter' %}
{% endif %}
    <td class="padding10 first-collumn">
        <a href="{{desc_link}}" title="Read more about {{service_name}}" target="_blank" class="link" rel="noopener noreferrer">{{service_name}}</a>
    </td>
    <td>
        {% if s.3 != '* is not installed' and s.3 != '' %}
        <b id="current-version-{{s.0}}"
                {% if is_need_update %}
                title="There is a newer version {{service_name}}"
                style="color: var(--red-color)"
                {% else %}
                title="There is not a newer version {{service_name}}"
                style="color: var(--green-color)"
                {% endif %}
        >
            {{s.3}}
        </b>
        {% endif %}
    </td>
    <td class="padding10">
        <b>
            {% if s.0 == 'roxy-wi-smon' %}
                {{smon_ver}}
            {% elif s.0 == 'roxy-wi-checker' %}
                {{checker_ver}}
            {% elif s.0 == 'roxy-wi-keep_alive' %}
                {{keep_ver}}
            {% elif s.0 == 'roxy-wi-metrics' %}
                {{metrics_ver}}
            {% elif s.0 == 'roxy-wi-portscanner' %}
                {{portscanner_ver}}
            {% elif s.0 == 'roxy-wi-socket' %}
                {{socket_ver}}
            {% elif s.0 == 'roxy-wi-prometheus-exporter' %}
                {{prometheus_exp_ver}}
            {% endif %}
        </b>
    </td>
    <td>
        {% if 'is not installed' not in s.3 and s.3 != '' %}
            {% if is_need_update %}
                <a class="ui-button ui-widget ui-corner-all" onclick="updateService('{{s.0}}')" title="Update {{service_name}}">Update</a>
            {% endif %}
        {% else %}
            <a class="ui-button ui-widget ui-corner-all" onclick="updateService('{{s.0}}', 'install')" title="Install {{service_name}}">Install</a>
        {% endif %}
    </td>
    <td colspan="2">
        {{description}}
    </td>
</tr>
{% endif %}
{% endfor %}
