{% import 'languages/'+lang|default('en')+'.html' as lang %}
{% if length_tr|int() % 2 == 1 %}
    {% set class = 'even' %}
{% endif %}
{% if action == 'add' %}
    {% set tr_id = 'remove_service-' + service_id %}
{% else %}
    {% set tr_id = 'add_service-' + service_id %}
{% endif %}
<tr class="{{class}}" id="{{tr_id}}" data-service_name="{{service_name}}">
    <td class="padding20" style="width: 100%;">{{service_name}}</td>
    <td>
        {% if action == 'add' %}
        <span class="remove_user_group" onclick="removeServiceFromUser({{service_id}})" title="{{lang.words.delete|title()}} {{lang.words.service}}">-</span>
        {% else %}
        <span class="add_user_group" onclick="addServiceToUser({{service_id}})" title="{{lang.words.add|title()}} {{lang.words.service}}">+</span>
        {% endif %}
    </td>
</tr>
