{% for group in groups %}
	<tr id="group-{{ group.0 }}" class="newgroup"> 
		<td class="padding10 first-collumn">
			<input type="text" id="name-{{ group.0 }}" value="{{ group.1 }}" class="form-control">
		</td>
		<td style="width: 100%;">
			{% if group.2 != 'None' %}
			<input type="text" id="descript-{{ group.0 }}" value="{{ group.2 }}" class="form-control" size="60">
			{% else %}
			<input type="text" id="descript-{{ group.0 }}" class="form-control" size="60">
			{% endif %}
		</td>
		<td>
			<a class="delete" onclick="confirmDeleteGroup({{ group.0 }})"  style="cursor: pointer;"></a>
		</td>
	</tr>
{% endfor %}