{% import 'languages/'+lang|default('en')+'.html' as lang %}
{% for ssh in sshs %}
	<tr style="width: 50%;" id="ssh-table-{{ssh.id}}" class="ssh-table-{{ssh.id}}">
		<td class="first-collumn">
			<input type="text" id="ssh_name-{{ssh.id}}" class="form-control" value="{{ssh.name}}" style="margin-bottom: 23px;">	
		</td>
		<td class="first-collumn" valign="top" style="padding-top: 15px;">
			{% if ssh.enable == 1 %}
				<label for="ssh_enable-{{ssh.id}}">{{lang.words.enable|title()}} SSH {{lang.words.key}}</label><input type="checkbox" id="ssh_enable-{{ssh.id}}" checked>
			{% else %}
				<label for="ssh_enable-{{ssh.id}}">{{lang.words.enable|title()}} SSH {{lang.words.key}}</label><input type="checkbox" id="ssh_enable-{{ssh.id}}">
			{% endif %}
		</td>
		{% if page != "servers.py" %}
			<td>
				<select id="sshgroup-{{ssh.id}}" name="sshgroup-{{ssh.id}}">
					{% for group in groups %}
						{% if ssh.groups == group.group_id %}
							<option value="{{ group.group_id }}" selected>{{ group.name }}</option>
						{% else %}
							<option value="{{ group.group_id }}">{{ group.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</td>	
		{% endif %}
		<td style="padding-top: 15px;">
			<p>
				<input type="text" id="ssh_user-{{ssh.id}}" class="form-control" value="{{ssh.username}}">
			</p>
			{% if ssh.enable == 1 %}
				<input type="password" id="ssh_pass-{{ssh.id}}" class="form-control" placeholder="*****" style="display: none;">
			{% else %}
				<input type="password" id="ssh_pass-{{ssh.id}}" class="form-control" placeholder="*****">
			{% endif %}
			<br>
		</td>
		<td>
			<a class="delete" onclick="confirmDeleteSsh({{ssh.id}})" title="{{lang.words.delete|title()}} {{ssh.name}}"  style="cursor: pointer;"></a>
		</td>
	</tr>
{% endfor %}
