{% for group in groups %}
	<tr id="group-{{ group.group_id }}" class="newgroup">
		<td class="padding10" style="width: 0">{{group.group_id}}</td>
		<td class="padding10 first-collumn">
			<input type="text" id="name-{{ group.group_id }}" value="{{ group.name }}" class="form-control">
		</td>
		<td style="width: 100%;">
			{% if group.description is not none %}
			<input type="text" id="descript-{{ group.group_id }}" value="{{ group.description }}" class="form-control" size="60">
			{% else %}
			<input type="text" id="descript-{{ group.group_id }}" class="form-control" size="60">
			{% endif %}
		</td>
		<td>
			<a class="delete" onclick="confirmDeleteGroup({{ group.group_id }})"  style="cursor: pointer;"></a>
		</td>
	</tr>
{% endfor %}