{% import 'languages/'+lang|default('en')+'.html' as lang %}
<tr style="width: 50%;" id="{{receiver}}-table-{{channel.id}}" class="newgroup">
    <td class="padding10 first-collumn">
        <input type="text" id="{{receiver}}-token-{{channel.id}}" class="form-control" value="{{channel.token}}" size="30">
        <input type="hidden" id="{{receiver}}group-{{channel.id}}" name="{{receiver}}group-{{channel.id}}">
    </td>
    <td>
        <input type="text" id="{{receiver}}-chanel-{{channel.id}}" class="form-control" value="{{channel.chanel_name}}" size="30">
    </td>
    {% if g.user_params['role'] == 1 %}
        <td>
            <select id="{{receiver}}group-{{channel.id}}" name="{{receiver}}group-{{channel.id}}">
                {% for group in groups %}
                    {% if channel.group_id == group.group_id %}
                        <option value="{{ group.group_id }}" selected>{{ group.name }}</option>
                    {% else %}
                        <option value="{{ group.group_id }}">{{ group.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
    {% endif %}
    <td>
        <button title="{{lang.phrases.send_test_mes}}" onclick="checkReceiver({{channel.id}}, '{{receiver}}')">{{lang.words.test|title()}}</button>
    </td>
    <td>
        <a class="add" onclick="cloneReceiver({{channel.id}}, '{{receiver}}')" id="clone-{{channel.id}}" title="{{lang.words.clone|title()}} {{channel.chanel_name}}" style="cursor: pointer;"></a>
    </td>
    <td>
        <a class="delete" onclick="confirmDeleteReceiver({{channel.id}}, '{{receiver}}')" style="cursor: pointer;"></a>
    </td>
</tr>
