{% for ssh in sshs %}
	<tr style="width: 50%;" id="ssh-table-{{ssh.0}}" class="ssh-table-{{ssh.0}}">
		<td class="first-collumn">
			<input type="text" id="ssh_name-{{ssh.0}}" class="form-control" value="{{ssh.1}}" style="margin-bottom: 23px;">	
		</td>
		<td class="first-collumn" valign="top" style="padding-top: 15px;">
			{% if ssh.2 == 1 %}
				<label for="ssh_enable-{{ssh.0}}">Enable SSH key</label><input type="checkbox" id="ssh_enable-{{ssh.0}}" checked>
			{% else %}
				<label for="ssh_enable-{{ssh.0}}">Enable SSH key</label><input type="checkbox" id="ssh_enable-{{ssh.0}}">
			{% endif %}
		</td>
		{% if page != "servers.py" %}
			<td>
				<select id="sshgroup-{{ssh.0}}" name="sshgroup-{{ssh.0}}">
					{% for group in groups %}
						{% if ssh.5 == group.0 %}
							<option value="{{ group.0 }}" selected>{{ group.1 }}</option>
						{% else %}
							<option value="{{ group.0 }}">{{ group.1 }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</td>	
		{% endif %}
		<td style="padding-top: 15px;">
			<p>
				<input type="text" id="ssh_user-{{ssh.0}}" class="form-control" value="{{ssh.3}}">		
			</p>
			{% if ssh.2 == 1 %}
				<input type="password" id="ssh_pass-{{ssh.0}}" class="form-control" value="{{ssh.4}}" style="display: none;">
			{% else %}
				<input type="password" id="ssh_pass-{{ssh.0}}" class="form-control" value="{{ssh.4}}">
			{% endif %}
			<br>
		</td>
		<td>
			<a class="delete" onclick="confirmDeleteSsh({{ssh.0}})"  style="cursor: pointer;"></a>
		</td>
	</tr>
{% endfor %}