{% for s in server %}
	<tr style="width: 50%;" id="servers-saved-{{s.0}}" class="newsavedserver update">
		<td class="padding10 first-collumn">
			<input type="text" id="servers-ip-{{s.0}}" class="form-control" value="{{s.1}}" size="15">	
		</td>
		<td class="first-collumn" style="width: 100%;">
			<input type="text" id="servers-desc-{{s.0}}" class="form-control" value="{{s.2}}" size="60">	
		</td>
		<td>
			<a class="delete" onclick="confirmDeleteSavedServer({{s.0}})"  style="cursor: pointer;"></a>
		</td>
	</tr>
{% endfor %}