{%- for service in service_status -%}
<div class="server-info" style="height: 100%;">
	{% if service_page == 'nginx' %}
	<div class="server-name" style="padding-bottom: 0px;">
	{% else %}
	<div class="server-name">
	{% endif %}
		Server status
		<span class="update-icon">
			<a onclick="showOverviewServer('{{ service.0 }}', '{{ service.1 }}', '{{id}}', '{{service_page}}')" title="Refresh">
				<span class="service-reload"></span>
			</a>
		</span>
	</div>
	{% if service_page == 'haproxy' %}
	<div class="haproxy-info">
		{{ service.2 }}
	</div>
	{% endif %}
	{% if service_page == 'nginx' %}
		<div class="top-info" style="margin-top: 5px; width: 100%;">
	{% else %}
		<div class="top-info" style="width: 550px;">
	{% endif %}
			<div style="height: 140px;width: 50%;float: left; margin:0; padding:0;">
				<canvas id="cpu" role="img"></canvas>
			</div>
			<div style="height: 140px;width: 50%;float: right;margin:0; padding:0;">
				<canvas id="ram" role="img"></canvas>
			</div>	
		</div>		
</div>
{% endfor %}