{% for service in service_status %}
	<tr class="{{ loop.cycle('odd', 'even') }}">
		<td class="padding10 first-collumn">
			<a href="#{{ service.0 }}" title="Go to {{ service.0 }} status" style="color: #000">{{ service.0 }}</a>
		</td>
		<td  class="second-collumn">
		{% if service.2|int() >= 1 %}
			<span class="serverUp"> UP</span> running {{service.2 }} processes
		{% else %}
			<span class="serverDown"> DOWN</span> running {{service.2 }} processes
		{% endif %}
		</td>
		<td>
		{% if role <= 1 %}
			<a id="{{ service.1 }}" class="start" title="Start HAProxy service">
				<img src=/image/pic/start.png alt="start" class="icon">
			</a>
			<a id="{{ service.1 }}" class="stop" title="Stop HAProxy service">
				<img src=/image/pic/stop.png alt="start" class="icon">
			</a>
			<a id="{{ service.1 }}" class="restart" title="Restart HAProxy service">
				<img src=/image/pic/update.png alt="restart" class="icon">
			</a>
		{% endif %}
		{% if role <= 2 %}
			<a href="/app/config.py?serv={{ service.1 }}" target="_blank" title="Working with HAProxy configs">
				<img src="/image/pic/edit.png" alt="edit" class="icon">
			</a>
			<a href="/app/viewsttats.py?serv={{ service.1 }}" target="_blank"  title="Show stats">
				<img src="/image/pic/show.png" alt="show" class="icon">
			</a>	
		{% endif %}
		</td>
		<td>
			{{ service.3 }}
		</td>
		<td></td>
	</tr>
{% endfor %}