{% import 'languages/'+lang|default('en')+'.html' as lang %}
{% from 'languages/languages.html' import languages %}
<thead>
    <tr class="overviewHead">
        <td class="padding10 first-collumn-wi" style="width: 85%">
            {% if role == 2 %}
            <a href="/app/logs/internal?type=2" title="{{lang.words.view|title()}} Roxy-WI {{lang.words.logs}}" class="logs_link">
            {% else %}
            <a href="/app/logs/internal" title="{{lang.words.view|title()}} Roxy-WI {{lang.words.logs}}" class="logs_link">
            {% endif %}
                {{lang.words.recent|title()}} Roxy-WI {{lang.words.logs}}
            </a>
        </td>
        <td>
            {% if roxy_wi_log|length > 3 %}
            <span class="add-button-wi">
                <span id="show-all-haproxy-wi-log">
                    {{lang.words.show_all}}
                </span>
                <span id="hide-all-haproxy-wi-log" style="display: none;">
                    {{lang.words.hide|title()}} {{lang.words.logs}}
                </span>
            </span>
            {% endif %}
        </td>
        <td style="padding-right: 10px;">
            <a onclick="ShowOverviewLogs()" title="{{lang.words.refresh|title()}}" style="float: right;">
                <span class="refresh"></span>
            </a>
        </td>
    </tr>
</thead>
<tbody id="overview-logs-body">
{% set counter = 0 -%}
{% for log in roxy_wi_log %}
    {% set counter = counter + loop.index0 %}
    {% if counter <= 2 %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td class="padding10 first-collumn-wi" style="font-size: 12.5px;" colspan="3">
            {{ log }}
        </td>
    </tr>
    {% else %}
    <tr style="display: none;" class="show-haproxy-wi-log {{ loop.cycle('odd', 'even') }}">
        <td class="padding10 first-collumn-wi" style="font-size: 12.5px" colspan="3">
            {{ log }}
        </td>
    </tr>
    {% endif %}
{% endfor %}
</tbody>
