{% import 'languages/'+lang|default('en')+'.html' as lang %}
<table class="overview">
    <thead>
    <tr class="overviewHead">
        <th class="padding10 first-collumn">{{lang.words.port|title()}}</th>
        <th>{{lang.words.state|title()}}</th>
        <th>{{lang.words.service|title()}}</th>
    </tr>
    </thead>
    <tbody>
    {% for p in ports %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td class="padding10 first-collumn">
            {{p.split(' ')[0]}}
        </td>
        <td>
            {{p.split(' ')[1]}}
        </td>
        <td>
            {{p.split(' ')[2]}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<div style="padding-left: 10px">
{% for i in info %}
    {{i}}<br />
{% endfor %}
</div>
