{% import 'languages/'+lang|default('en')+'.html' as lang %}
{% from 'include/input_macros.html' import checkbox %}
{% set options = [('dockerized', lang.config_files.dockerized), ('restart', lang.config_files.disable_restart)] %}
{% if service == 'haproxy' %}
    {% set options = options + [('multiple_config_files', lang.config_files.multiple)] %}
{% endif %}
<table class="overview service-settings-table">
    {% for setting, label in options %}
    <tr>
        <td class="padding20">{{label}}</td>
        <td>{{ checkbox(service + '_' + setting, name=setting, checked='checked' if settings.get(setting) == '1' else '', title=label) }}</td>
    </tr>
    {% endfor %}
</table>
{% if service == 'haproxy' %}
<div id="haproxy-sources-settings" data-server-id="{{server_id}}" data-loading="{{lang.config_files.loading}}" data-failed="{{lang.config_files.connection_failed}}" data-retry="{{lang.config_files.retry}}" hidden></div>
{% endif %}
