{% for s in sub %}
    {% if s.Plan == 'user' %}
        {% set plan = 'Home' %}
    {% elif s.Plan == 'company' %}
        {% set plan = 'Enterprise' %}
    {% elif s.Plan == 'cloud' %}
        {% set plan = 'Cloud' %}
    {% elif s.Plan == 'support' %}
        {% set plan = 'Premium' %}
    {% elif s.Plan == 'Trial' %}
        {% set plan = 'Trial' %}
    {% else %}
        {% set plan = 'Free' %}
    {% endif %}
    <tr class="odd">
        <td class="padding10 first-collumn-wi">Plan</td>
        <td>{{plan}}</td>
    </tr>
    <tr class="even">
        <td class="padding10 first-collumn-wi">Status</td>
        <td>
            {% if plan == 'Free' %}
                N/A
            {% else %}
            <span
            {% if s.Status|int() == 1 %}
                style="color: var(--green-color); font-weight: bold">Active
            {% else %}
                style="color: var(--red-color); font-weight: bold">Blocked
             {% endif %}
            </span>
            {% endif %}
        </td>
    </tr>
    <tr class="odd">
        <td class="padding10 first-collumn-wi">Pay method</td>
        <td>
            {% if plan == 'Free' %}
                N/A
            {% else %}
                {% if s.Method == 'Boosty' %}
                    <a href="https://boosty.to/roxy-wi" title="Boosty.to" class="logs_link" target="_blank">Boosty</a>
                {% elif s.Method == 'Patreon' %}
                    <a href="https://www.patreon.com/roxy_wi" title="Patreon.con" class="logs_link" target="_blank">Patreon</a>
                {% else %}
                    {{s.Method}}
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
