{% from 'include/input_macros.html' import input %}
<form action="diff.py#diff" method="get">
	<center>
		<h4>
			<span style="padding: 20px;">Choose left</span>
			<span style="padding: 110px;">Choose right</span>
		</h4>
		<p>
			<select autofocus required name="left" id="left">
				<option disabled selected>Choose version</option>
				{% for file in return_files %}
					{% if file == left %}
						<option value="{{ file }}" selected>{{ file.split('-', maxsplit=1)[1] }}</option>
					{% else %}
						<option value="{{ file }}">{{ file.split('-', maxsplit=1)[1] }}</option>
					{% endif %}
				{% endfor %}
			</select>

			<select autofocus required name="right" id="right">
				<option disabled selected>Choose version</option>
				{% for file in return_files %}				
					<option value="{{ file }}">{{ file.split('-', maxsplit=1)[1] }}</option>
				{% endfor %}
			</select>
			{{ input('serv', type='hidden', value=serv) }}
			{{ input('open', type='hidden', value='open') }}
			<a class="ui-button ui-widget ui-corner-all" id="show" title="Compare" onclick="showCompare()">Show</a>
		</p>
	</center>
</form>