[Unit]
Description=Haproxy web interface
After=syslog.target network.target 

[Service]
Type=simple
User=haproxy-wi

ExecStart=/opt/haproxy-wi/server.py >> /opt/haproxy-wi/log/haproxy-webface.log 

RestartSec=2s
Restart=on-failure
TimeoutStopSec=1s

[Install]
WantedBy=multi-user.target
