configparser==3.5.0
paramiko==2.4.2
pytz==2017.3
requests==2.18.4
requests_toolbelt==0.8.0
pyTelegramBotAPI==3.6.3 
dump==0.0.4
networkx==2.1
numpy==1.14.0
matplotlib==2.1.2
urllib3==1.22
future==0.13.1
mysql-connector-python==8.0.11
Jinja2==2.10
pandas==0.22.0
bokeh==0.13.0