configparser==3.5.0
paramiko==2.4.0
pytz==2017.3
requests==2.18.4
requests_toolbelt==0.8.0
telegram==0.0.1
dump==0.0.3
networkx==2.1
numpy==1.14.0
matplotlib==2.1.2
urllib3==1.22
future==0.13.1
mysql-connector-python==8.0.11
Jinja2==2.10