configparser>=3.5.0
paramiko-ng>=2.5.0
pytz>=2017.3
requests>=2.22.0
pyTelegramBotAPI>=3.6.3 
networkx>=2.6
matplotlib>=2.1.2
future>=0.13.1
jinja2>=2.10.1
slack-sdk>=3.4.0
peewee>=3.14.10
PyMySQL>=1.0.2
distro>=1.2.0
bottle>=0.12.20
psutil>=5.9.1
pdpyras>=4.5.2
pika>=1.3.1
