html {
  font-size: 10px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #eee;
  margin: 0;
  padding: 0;
}
h2 {
	background: #5D9CEB;
	border: 1px solid #5D9CEB;
	border-radius: 5px 5px 0px 0px;
	padding: 10px;
	padding-left: 3%;
	color: #fff;
	margin-top: 0px;
	margin-bottom: 0px;
}
h3 {
	margin-top: 10px;
	margin-bottom: 0px;
}
form {
	margin: 0;
}
iframe {
	width: 33%;
}
.icon {
	max-width: 20px;
	margin-left: 2px;
}
.top-menu {	
	box-shadow: 1px 1px 5px grey;
	min-height: 50px;
	margin-bottom: 20px;
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
}
.top-menu, .footer {
	background-color: #33414E;
}
.logoText {
	color: #EBF1F1;
	font-size: 30px;
	float: left;
	margin-left: 50px;
	margin-top: 3px;
	font-style: italic;
	font-weight: bold;
}
.top-menu img {
	max-width: 125px;
	float: left;
	padding-left: 20px;
}
.top-menu a, .footer a {
  padding: 10px;
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
}
.top-link {
	margin-top: 15px;
}
.top-link {
	margin-left: 28%;
}
.footer-link  {
	margin-left: 44%;
}
.conteiner {
	box-shadow: 1px 1px 5px grey;
	clear: both;
	margin-top: 65px;
	min-height: calc(100vh - 115px);
	max-width: 50%;
	min-width: 40%;
	background-color: #fff;
	margin-left: 25%;
}
.configShow, .diff {
	margin-left: 16%;
	height: 70%;
	overflow: auto;
	width: 70%;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
}
.diffHead {
	background-color: #F5F5F5;
	padding: 10px;
}
.lineDog {
	background-color: #dbedff;
	margin-bottom: 10px;
}
.lineDiffMinus, .lineDiffPlus {
	padding-left: 5px;
}
.lineDiffMinus {
	background-color: #ffdce0;
}
.lineDiffPlus {
	background-color: #cdffd8;
}
.lineDiff {
	padding-left: 5px;
}
.param {
	font-weight: bold;
	padding-left: 13px;
}
.numRow {
	padding-left: 10px;
	padding-right: 20px;
}
.paramInSec {
	font-weight: bold;
}
.conteinerIndex {
	width: 20%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin-top: 2%;
}
.conteinerIndex img {
	max-width: 250px;
}
.copyright {
	color: #23527c;
	margin-left: 15px;
}
.line {
	background-color: #EBF1F1;
	border: 1px solid #ddd;
}
.line, .line3 {
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.comment {
	color: #aaa;
}
.addName {
	background-color: #f6f6f6;
	width: 120px;
}
.addOption, .addName {
	border: 1px solid #ddd;
	padding: 15px;
}
.addButton {
	padding-top: 15px;
}
.addSuc {
	padding-left: 20px;
	padding-top: 20px;
	color: #23527c;
}
.tooltip {
	font-size: 12px; 
	padding-bottom: 10px;
}
.tooltipTop {
	margin-bottom: -20px; 
	padding-top: 10px;
}
.footer {
  box-shadow: 1px 1px 5px grey;
  min-height: 50px;
  top: 0;
  right: 0;
  left: 0;
}
.overview {
	width: 100%;
}
.overviewHead {
	border-radius: 5px;
	background-color: #EBF1F1;
	font-weight: bold;
}
.overview  tr{
	border: 1px solid #ddd;
	border-radius: 5px;
}

.overviewTd {
	padding-left: 5%;
	padding-top: 20px;
	border-color: #ddd;
}
.overviewTr {
	margin: 0;
	background-color: #f6f6f6;
	padding-left: 15px;
	font-size: 15px;
}
.serverUp, .serverDown {
	padding: 3px; 
	border-radius: 3px;
	color: #fff; 
	font-weight: bold;
}
.serverUp {
	background-color: #5CB85C; 
}
.add-button {
	background-color: #5CB85C; 
	border-radius: 5px;
	margin-left: 20px;
	color: #fff; 
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
}
.serverDown {
	background-color: red; 
}
.padding10 {
	padding: 10px;
	border: none;
}
.ro {
  border: none;
}
.menu {
	margin-left: 13%;
	font-weight: bold;
	font-style: italic;
	margin-top: -10px;
}
.menu ul li{
  padding: 10px; 
}
.menu ul > li:hover{
  background-color: #3a4a4a;
}
.menu ul ul > li:hover{
  background-color: #69e;
}
.menu ul li, .menu ul{
  display: inline-block;
  border-radius: 3px;
}
.menu ul{
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #33414E;
}
.menu ul ul{
  display: none;
  position: absolute;
  background-color: #007FFF;
  margin-top: 10px;
  margin-left: -10px;
}
.menu ul a{
  color: #fff;
  text-decoration: none;
}
.menu ul ul a{
  color: #fff;
  text-decoration: none; 
}
.menu li:hover ul{
  display: block;
}
.menu li:hover li{
  display: block;
}

@keyframes shadow {
	from {box-shadow: 0px 0px 0px red inset;}
	50% {text-shadow: 0 0 30px black;}
	to {box-shadow: 0 -5px 5px -5px rgb(38, 137, 60) inset}
}
@keyframes shadow-red {
	from {box-shadow: 0px 0px 0px red inset;}
	50% {text-shadow: 0 0 30px black;}
	to {box-shadow: 0 -5px 5px -5px #5D9CEB inset}
}

//.form-control:valid {
//	animation: shadow  0.3s forwards;
//}
.form-control:hover {
	animation: shadow-red  0.3s forwards;
}
.form-control:invalid, .form-control:valid {
    background-image: linear-gradient(0deg,#d50000 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}
.form-control {
    background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: 0;
    transition: background 1s ease-out;
    padding-left: 0;
    padding-right: 0;
}
.ui-state-default {
	background-color: #EBF1F1;
}
a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  border-radius: 7px;
  padding: 3px;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select {
  color: #000;
}
button {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
	line-height: normal;
	border-radius: 4px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  width: 100%;
}
caption {
  color: #777;
  text-align: left;
}
td,th {
  padding: 0;
  text-align: left;
}
a,
a:visited {
    text-decoration: underline;
  }
a {
	color: #9d9d9d;
	text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  padding-right: 10px;
}