{% for page in pages %}
<div id="page_{{page}}" class="page_div">
    <a href="/smon/status/{{page.slug}}" class="page_link" target="_blank" title="Open status page">
        <span id="page_status-{{page}}"><i class="far fa-check-circle status-page-icon"></i></span>
        <div>
            <span class="page_name" id="page_name-{{page}}">{{page.name|replace("'", "")}}</span>
            {% if page.desc %}
            <span class="page_desc" id="page_desc-{{page}}">({{page.desc|replace("'", "")}})</span>
            {% endif %}
        </div>
        <div class="page_slug" id="page_slug-{{page}}">/smon/status/{{page.slug}}</div>
    </a>
    <div class="edit status_page-edit" onclick="createStatusPageStep1('true', '{{page}}')"></div>
    <div class="delete" onclick="confirmDeleteStatusPage('{{page}}')"></div>
</div>
<script>smon_manage_status_page_avg_status('{{page}}')</script>
{% endfor %}
