<script>
    function startIntroAgain() {
        var intro = Intro();
        var intro_url = cur_url[0].split('#')[0];
        var intro_history = {};
        if (intro_url.split('#')[0] == 'users.py' || intro_url.split('#')[0] == 'servers.py') {
            $("#tabs").tabs("option", "active", 0);
        }
        if (localStorage.getItem('intro') === null) {
            startIntro(intro);
        } else {
            intro_history = JSON.parse(localStorage.getItem('intro'));
            delete intro_history[intro_url];
            localStorage.setItem('intro', JSON.stringify(intro_history));
            startIntro(intro);
        }
    }
</script>
