$ModLoad imudp
$UDPServerAddress 127.0.0.1
$UDPServerRun 514
module(load="builtin:omfile")


if $programname startswith 'haproxy' then {
  if $syslogseverity == 6 then
      action(type="omfile" file="/var/log/haproxy/access.log")
  if $syslogseverity <= 3 then
      action(type="omfile" file="/var/log/haproxy/error.log")
  if $syslogseverity <= 5 then
      action(type="omfile" file="/var/log/haproxy/status.log")
      stop
}