[main]
#Path to files destination
fullpath = /var/www/haproxy-wi
cgi_path = ${fullpath}/app/
log_path = ${fullpath}/log/
cert_local_dir = ${cgi_path}/certs/
time_zone = UTC
proxy = 
#Time to live users sessions. In days
session_ttl = 5
#Time to live users tokens. In days
token_ttl = 5

[configs]
#Dir where configs will be save
haproxy_save_configs_dir = ${main:fullpath}/configs/hap_config/
kp_save_configs_dir = ${main:fullpath}/configs/kp_config/

[mysql]
#Enable MySQL DB. Default will be used Sqlite DB. Default disable
enable = 0
mysql_user = haproxy-wi
mysql_password = haproxy-wi
mysql_db = haproxywi
mysql_host = 127.0.0.1

[logs]
#Logs save locally, enable by default
local_path_logs = /var/log/haproxy.log
#If exist syslog server for HAproxy logs
syslog_server_enable = 0
syslog_server = 
#Time of storage of logs of user activity, in days
log_time_storage = 14

[telegram]
#Send log message to telegram channel
#Default bot send message disable
enable = 0
token =
channel_name =

[haproxy]
#Command for restart HAproxy service
restart_command = systemctl reload haproxy
status_command = systemctl status haproxy
#Username and password for Stats web page HAproxy
stats_user = admin
stats_password = password
stats_port = 8085
stats_page = stats
haproxy_dir = /etc/haproxy
haproxy_config_path = ${haproxy_dir}/haproxy.cfg
server_state_file = ${haproxy_dir}/haproxy.state
haproxy_sock = /var/run/haproxy.sock
haproxy_sock_port = 1999
#Temp store configs, for haproxy check
tmp_config_path = /tmp/
cert_path = /etc/ssl/certs/
#If enable this option Haproxy-wi will be configure firewalld based on config port
firewall_enable = 1
