{% from 'include/provisioning/variables.html' import gcore_regions, do_regions, aws_regions %}
{% from 'include/input_macros.html' import copy_to_clipboard %}
{% for s in servers %}
{% set region_name = [] %}
{% if s.3 == 'do' %}
    {% set provider_full_name = 'DigitalOcean' %}
    {% set onclickEditAction = 'editDoServer' %}
    {% for key, value in do_regions.items() %}
        {% if s.8|int() == key|int() %}
            {% do region_name.append(value) %}
            {% endif %}
        {% endfor %}
    {% elif s.3 == 'aws' %}
        {% set provider_full_name = 'AWS' %}
        {% set onclickEditAction = 'editAwsServer' %}
        {% for key, value in aws_regions.items() %}
            {% if s.8|int() == key|int() %}
                {% do region_name.append(value) %}
            {% endif %}
        {% endfor %}
    {% elif s.3 == 'gcore' %}
        {% set provider_full_name = 'G-Core Labs' %}
        {% set onclickEditAction = 'editGcoreServer' %}
        {% for key, value in gcore_regions.items() %}
        {% if s.8|int() == key|int() %}
            {% do region_name.append(value) %}
        {% endif %}
    {% endfor %}
{% endif %}
<tr id="server-{{s.0}}" class="{{ loop.cycle('odd', 'even') }} {% if adding %}newserver{% endif %}">
    <td class="padding10 first-collumn">
        <span id="server-name-{{s.0}}">{{s.1}}</span>
        {% if s.3 == 'gcore' %}
            ({{s.12}})
        {% endif %}
    </td>
    <td style="width: 10%">
        {% for p in providers %}
            {% if p.0|int() == s.2|int() %}
		        <span>{{ p.1 }}</span>
                <span id="server-provider-{{s.0}}" style="display: none;">{{p.0}}</span>
            {% endif %}
        {% endfor %}
     </td>
    {% if role == 1 %}
     <td style="width: 5%">
        {% for g in groups %}
            {% if adding %}
            {% if user_group|int() == g.0|int() %}
		        {{ g.1 }}
		        <span id="server-group-{{s.0}}" style="display: none;">{{ g.0 }}</span>
            {% endif %}
            {% else %}
            {% if s.4|int() == g.0|int() %}
		        {{ g.1 }}
		        <span id="server-group-{{s.0}}" style="display: none;">{{ g.0 }}</span>
            {% endif %}
            {% endif %}
        {% endfor %}
     </td>
     {% else %}
        <span id="server-group-{{s.0}}" style="display: none;">{{user_group}}</span>
     {% endif %}
    <td style="width: 10%">
        {{provider_full_name}}
        <span id="server-cloud-{{s.0}}" style="display: none;">{{s.3}}</span>
    </td>
    <td style="width: 10%">
        {{region_name.0}}
    </td>
    <td style="width: 10%">
        {% set id = "server-os-" + s.0|string() %}
        {{ copy_to_clipboard(id=id, value=s.9) }}
    </td>
    <td style="width: 15%">
        {% set id = "server-ip-" + s.0|string() %}
        {{ copy_to_clipboard(id=id, value=s.10) }}
    </td>
    <td style="width: 10%">
        {% set id = "server-size-" + s.0|string() %}
        {{ copy_to_clipboard(id=id, value=s.5) }}
    </td>
    <td style="width: 5%">
        {% if s.6 == 'Created' %}
        {% set style='color: var(--green-color);' %}
        {% elif s.6 == 'Error ' %}
        {% set style='color: red;cursor: help;' %}
        {% endif %}
        <span id="sever-status-{{s.0}}" title="Last error: {{s.11}}" style="font-weight: bold;{{style}}">{{s.6}}</span>
    </td>
    <td style="width: 100%">
        {{s.7}}
    </td>
    <td>
	    <a class="edit" onclick="{{onclickEditAction}}({{s.0}})" title="Edit server {{s.1}}" style="cursor: pointer;"></a>
	</td>
	<td>
	    <a class="delete" onclick="confirmDeleteProvisionedServer({{s.0}})" title="Delete server {{s.1}}" style="cursor: pointer;"></a>
    </td>
</tr>
{% endfor %}