{% for p in providers %}
<tr id="provider-{{p.0}}" class="{{ loop.cycle('odd', 'even') }} {% if adding %}newprovider{% endif %}">
    <td class="padding10 first-collumn"><span id="provider-name-{{p.0}}">{{p.1}}</span></td>
    <td style="width: 10%">
        <span id="provider-type-{{p.0}}">
        {% if p.2 == 'do' %}
            DigitalOcean
            {% set onclickEditAction = 'editDoProvider' %}
        {% elif p.2 == 'aws' %}
            AWS
            {% set onclickEditAction = 'editAwsProvider' %}
        {% elif p.2 == 'gcore' %}
            G-Core Labs
            {% set onclickEditAction = 'editGcoreProvider' %}
        {% endif %}
        </span>
    </td>
    {% if role == 1 %}
    <td style="width: 10%">
        {% for g in groups %}
            {% if adding %}
            {% if user_group|int() == g.0|int() %}
		        <span id="provider-group-{{p.0}}">{{ g.1 }}</span>
            {% endif %}
            {% else %}
            {% if p.3|int() == g.0|int() %}
		        <span id="provider-group-{{p.0}}">{{ g.1 }}</span>
            {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    {% else %}
        <span id="provider-group-{{p.0}}" style="display: none;">user_group</span>
    {% endif %}
    <td id="provider-created-date-{{p.0}}" style="width: 15%">{{p.6}}</td>
    <td id="provider-edited-date-{{p.0}}" style="width: 100%">{{p.7}}</td>
    <td>
	    <a class="edit" onclick="{{onclickEditAction}}({{p.0}})" title="Edit provider {{p.1}}" style="cursor: pointer;"></a>
	</td>
	<td>
	    <a class="delete" onclick="confirmDeleteProvider({{p.0}})" title="Delete provider {{p.1}}" style="cursor: pointer;"></a>
	</td>
</tr>
{% endfor %}