{% from 'include/provisioning/variables.html' import get_nice_name %}
{% from 'include/input_macros.html' import copy_to_clipboard %}
{% for s in servers %}
    {% if s.type == 'do' %}
        {% set onclickEditAction = 'editDoServer' %}
    {% elif s.type == 'aws' %}
        {% set onclickEditAction = 'editAwsServer' %}
    {% elif s.type == 'gcore' %}
        {% set onclickEditAction = 'editGcoreServer' %}
    {% endif %}
<tr id="server-{{s.id}}" class="{{ loop.cycle('odd', 'even') }} {% if adding %}newserver{% endif %}">
    <td class="padding10 first-collumn">
        <span id="server-name-{{s.id}}">{{s.name}}</span>
        {% if s.type == 'gcore' and s.name_template is defined %}
            ({{s.name_template}})
        {% endif %}
    </td>
    <td style="width: 10%">
        {% for p in providers %}
            {% if p.id|int() == s.provider_id|int() %}
		        <span>{{ p.name }}</span>
                <span id="server-provider-{{s.id}}" style="display: none;">{{p.id}}</span>
            {% endif %}
        {% endfor %}
     </td>
    {% if role == 1 %}
     <td style="width: 5%">
        {% for g in groups %}
            {% if adding %}
                {% if user_group|int() == g.group_id|int() %}
                    {{ g.name }}
                    <span id="server-group-{{s.id}}" style="display: none;">{{ g.group_id }}</span>
                {% endif %}
            {% else %}
                {% if s.group_id|int() == g.group_id|int() %}
                    {{ g.name }}
                    <span id="server-group-{{s.id}}" style="display: none;">{{ g.group_id }}</span>
                {% endif %}
            {% endif %}
        {% endfor %}
     </td>
     {% endif %}
    <td style="width: 10%">
        {% if role != 1 %}
        <span id="server-group-{{s.id}}" style="display: none;">{{user_group}}</span>
        {% endif %}
        {{get_nice_name(id, s.type, s.type, 'provider', params)}}
        <span id="server-cloud-{{s.id}}" style="display: none;">{{s.type}}</span>
    </td>
    <td style="width: 10%">
        {% set id = "server-region-" + s.id|string() %}
        {{get_nice_name(id, s.region, s.type, 'region', params)}}
    </td>
    <td style="width: 10%">
        {% set id = "server-os-" + s.id|string() %}
        {{get_nice_name(id, s.os, s.type, 'image', params)}}
    </td>
    <td style="width: 15%">
        {% set id = "server-ip-" + s.id|string() %}
        {{ copy_to_clipboard(id=id, value=s.IP) }}
    </td>
    <td style="width: 10%">
        {% set id = "server-size-" + s.id|string() %}
        {{ copy_to_clipboard(id=id, value=s.instance_type) }}
    </td>
    <td style="width: 5%">
        {% if s.status == 'Created' %}
        {% set style='color: var(--green-color);' %}
        {% elif s.status == 'Error ' %}
        {% set style='color: red;cursor: help;' %}
        {% endif %}
        <span id="sever-status-{{s.id}}" title="Last error: {{s.last_error}}" style="font-weight: bold;{{style}}">{{s.status}}</span>
    </td>
    <td style="width: 100%">
        {{s.date}}
    </td>
    <td>
	    <a class="edit" onclick="{{onclickEditAction}}({{s.id}})" title="Edit server {{s.name}}" style="cursor: pointer;"></a>
	</td>
	<td>
	    <a class="delete" onclick="confirmDeleteProvisionedServer({{s.id}})" title="Delete server {{s.name}}" style="cursor: pointer;"></a>
    </td>
</tr>
{% endfor %}
