h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.wrap {
    margin-left: var(--indent);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.wrap1 {
    margin-left: var(--indent);
}
.statuses {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.smon_server_statuses {
    width: 5px;
    height: 25px;
    margin: 4px;
    display: inline-block;
    border-radius: 50rem;
    transition: all .2s ease-in-out;
}
.smon_server_statuses:hover {
    transform: scale(1.5);
}
*:before, *:after {
    box-sizing: border-box;
}
#smon_name {
    font-size: 25px;
}
#check_interval {
    color: #aaa;
    font-size: 14px;
    padding-top: 10px;
}
.col-md-8 {
    flex: 0 0 auto;
    width: 76%;
    margin-top: 5px;
}
.col-md-4 {
    flex: 0 0 auto;
    width: 23%;
    margin-top: 10px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}
.cur_status {
    font-size: 30px;
    border-radius: 50rem !important;
    min-width: 92px;
    font-weight: 700;
    padding: 0.35em 0.65em;
}
.col {
    flex: 1 0 0%;
    text-align: center !important;
}
.smon_stats {
    font-size: 13px;
    color: #aaa;
}
.checks {
    height: 400px;
    overflow-y: overlay;
}
.all-checks, .enabled-check {
    height: 40px;
    width: 300px;
}
.enabled-check {
    float: right;
}
.add_user_group{
    height: 14px;
}
.check-name {
    margin-left: 15px;
    margin-top: 10px;
    width: 245px;
    float: left;
}
.check-button {
    float: left;
    margin-top: 3px;
}
.add-button-big {
    font-size: 15px;
    float: unset;
    margin: var(--indent);
    width: fit-content;
}
.page_div {
    margin: var(--indent);
    border-top: 1px solid #ddd;
    transition: all ease-in-out .15s;
    padding: 5px 10px 10px;
    margin-bottom: 0;
    margin-top: 0;
}
.page_link {
    color: black;
    text-decoration: none !important;
}
.page_div:hover {
    background-color: var(--light-blue-color);
}
.page_name {
    font-size: 20px;
    font-weight: 700;
}
.page_desc {
    font-size: 15px;
}
.page_slug {
    font-size: 10px;
}
.page_cur_status {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
}
.page_icon {
    font-size: 25px;
    margin: 0 10px 10px 0;
}
.page_icon_all_ok {
    color: var(--green-color);
}
.page_icon_not_ok {
    color: var(--red-color);
}
.status-page-icon {
    float: left;
    font-size: 50px;
    margin: 0 25px 10px 0;
}
.status-page-icon-ok {
    color: var(--green-color);
}
.status-page-icon-not-ok {
    color: var(--red-color);
}
.status_page-edit {
    float: right;
    margin-right: 1.5%;
    margin-top: -28px;
    font-size: 19;
    color: var(--blue-color);
    cursor: pointer;
}
.delete {
    float: left;
    margin-left: 99%;
    margin-top: -45px;
    font-size: 17px;
    cursor: pointer;
}
.check_div {
    width: 50%;
    padding: 20px 30px 20px 30px;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.check_div:hover {
    background-color: var(--light-blue-color);
}
.check_uptime {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.check_name {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 550;
}
.check_tooltip {
    height: 10px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
}
.check_last_check {
    float: right;
    margin-top: -15px;
}
.history_statuses {
    float: right;
    margin-top: -20px;
}
.smon_server_statuses {
    width: 1px;
    height: 10px;
    margin: 1px;
}
.validateTips {
    width: 575px;
}
.tooltipTop {
    padding-top: 10px;
    list-style: disc;
    margin-left: 20px;
}
.tooltipTop {
    margin-bottom: 0;
}
.add .fa-clone {
    margin-bottom: 3px;
}
