html {
  font-size: 10px;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 1.3em;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow: auto;
  height:100%
}
h2 {
	background: #5D9CEB;
	border: 1px solid #5D9CEB;
	padding: 3px;
	padding-left: 2%;
	color: #fff;
	margin-top: 0px;
	margin-bottom: 0px;
}
h3 {
	margin-top: -0;
	margin-bottom: 0px;
	background: #d1ecf1;
	padding: 0.3em;
	font-size: 1.6em;
	border-bottom: 1px solid #ddd;
}
ul#browse_histroy {
    padding-left: 10px;
    margin-bottom: 5px;
    display: block;
    margin-top: 1px;
	list-style: none;
}
ul#browse_histroy li {
	display: inline;
	padding-right: 5px;
}
ul#browse_histroy li+li:before {
	content: "\003e";
	color: #000;
	font-weight: bold;
	margin-right: 2.5px;	
}
#browse_histroy a {
	color: #767676;
	font-size: 9.1px;
	font-weight: bold;
}
ul#browse_histroy li:first-child a {
	font-size: 8.4px;
	color: #979393;
}
ul#browse_histroy li:last-child a {
	font-size: 9.8px;
	color: #7e7b7b;
}
form {
	margin: 0;
}
pre {
	padding-left: 15px;
}
.icon, .icon-hapservs {
	max-width: 20px;
	margin-left: 2px;
	margin-bottom: -3px;
	cursor: pointer;
}
.icon-hapservs {
	margin-bottom: 0px;
}
.top-menu {	
	position: absolute;
	min-height: calc(99vh - 50px);
	height: 120%;
	width: 207px;
	float: left;
	margin-bottom: 20px;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	display: block;
	background-color: #222a31;
}
.logoText {
	color: #EBF1F1;
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	height: 32px;
	border-bottom: 1px solid aliceblue;
	padding-left: 20px;
	padding-top: 2px;
}
#logo_text {
	display: block;
	margin-top: -4px;
}
.top-menu img {
	max-width: 200px;
	margin-left: -7px;
	margin-top: 3px;
}
.container {
	min-height: calc(99vh - 50px);
	height: auto;
	max-width: 100%;
	min-width: 40%;
	background-color: #fff;
	margin-left: 207px;
	padding-bottom: 10px;
}
.footer {
	min-height: 50px;
	right: 0;
	left: 0;
	max-width: 91%;
	min-width: 40%;
	background-color: #fff;
	margin-left: 207px;
	margin-right: 20px;
	border-top: 1px solid #ddd;
	clear: both;
}
#version { 
    float: left;
    padding: 20px;
    padding-top: 10px;
    font-size: 14.5px;
    font-weight: bold;
}
#logo_footer {
    float: left;
    margin-left: 41%;
}
#logo_footer_img {
    width: 35px;
    margin-top: 8px;
}
.footer-div {
	display: block;
	padding-top: 12px;
	text-align: right;
	margin-right: 20px;
}
.footer-link, .footer-copyright {
	padding: 20px;
	color: #5d9ceb;
	font-size: 0.9em;
	padding-top: 12px;
	
	padding-right: 5px;
}
.footer-copyright {
	color: #586069 ;
	float: left;
	margin-left: 10px;
}
#cover {
	position: absolute;
    display: none;
    top:0;
    left: 0;
    width: 100%;
    height: 110%;
    background: rgba(0,0,0,.1);
    z-index: 500;
}
.login {
	float: right;
	margin-top: 3px;
	margin-left: 14px;
	margin-right: 20px;
	color: #fff !important;
	font-size: 15px;
}
.auto-refresh {
	margin-left: auto;
	float: right;
	margin-top: 3.7px;
	margin-right: 5px;
}
.auto-refresh a {
	color: #fff !important;
	cursor: pointer;
	font-size: 15px;
}
.auto-refresh-div {
	display: none;
	position: relative;
	padding: 10px;
	background-color: #F5F5F5;
	border-bottom: solid 1px #D9D9D9;
	border-top: solid 1px #D9D9D9;
	margin-bottom: 10px;
	line-height: 20px;
}
.auto-refresh-div a {
	color: #000;
	cursor: pointer;
}
.auto-refresh-head {
	font-size: 16px;
	color: #2d2d2d;
	font-weight: bold;
	margin-left: 83%;
}
.auto-refresh-interval {
	float: right;
	padding: 0px 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 70%;
	border-bottom: solid 1px #D9D9D9;
}
.auto-refresh-ul{
	float: left;
	padding-left: 0;
	list-style: none;
	margin-top: 10px;
}
.auto-refresh-ul ul li {
	margin: 0;
	padding: 0;
	padding-left: 15px;
	border: 0;
	font-family: inherit;
	vertical-align: baseline;
	list-style: none;
}
.auto-refresh-pause, .auto-refresh-resume {
	margin-top: 10px;
	margin-left: -100px;
	position: fixed;
	color: #000;
	font-size: 12px;
	height: 15;
}
.configShow, .diff {
	margin-left: 16%;
	overflow: auto;
	width: 70%;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
}
.config {
	height: 60%;
	width: 60% !important;
}
.diffHead {
	background-color: #F5F5F5;
	padding: 10px;
}
.lineDog {
	background-color: #dbedff;
	margin-bottom: 10px;
}
.lineDiffMinus, .lineDiffPlus, .lineDog, .lineDiff {
	padding-left: 15px;
}
.lineDiffMinus {
	background-color: #ffdce0;
}
.lineDiffPlus {
	background-color: #cdffd8;
}
.param {
	font-weight: bold;
	padding-left: 13px;
}
.numRow {
	padding-left: 10px;
	padding-right: 20px;
}
.paramInSec {
	font-weight: bold;
}
.donate-menu {
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	color: #fff;
	margin-left: 30px;
	position: fixed;
	margin-left: 65px;
	margin-top: 25px;
}
.line {
	background-color: #f5faf4;
	border: 1px solid #ddd;
}
.line, .line3 {
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.line:hover, .line3:hover {
	background-color: #f6f8fa;
}
.accordion-link {
	float: right;
	margin-right: 1em;
}
.time-range {
	border: 0;
	background-color: #f5faf4;
	font-weight: bold;
	width: 18px;
	padding-left: 0;
	padding-right: 0;
}
.comment {
	color: #aaa;
}
.add-table {
	width: 100%;
}
.addName {
	background-color: #f6f6f6;
	width: 120px;
}
.addOption, .addName {
	border-bottom: 1px solid #ddd;
	padding: 15px;
}
.advance {
	display: none;
}
.advance-show  {
	font-size: 13px !important;
}
.advance-show  a{
	color: #23527c !important;
}
.addButton {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
}
.addButton:hover {
	background-color: #fff;
}
.addSuc {
	padding-left: 20px;
	padding-top: 20px;
	color: #23527c;
}
.add-note {
	width: 30%;
	padding-left: 10px;
	font-style: italic;
}
.overview {
	width: 100%;
}
.overview-wi {
	width: 46%;
	min-width: 566px	;
    max-width: 50%;
	min-height: 160px;
	float: left;
	margin: 20px;
}
.overviewHead {
	border-radius: 5px;
	background-color: #fbfbfb;
	font-weight: bold;
}
.overview-wi .overviewHead {
	border-bottom: 1px solid #A4C7F5;
}
.overview  tr{
	border-bottom: 1px solid #ddd;
	border-radius: 5px;
}
.checkbox {
	min-width: 30px;
	padding-top: 5px;
}
.checkbox-head {
	padding: 0;
}
.ip-field {
	width: 100px;
}
.group-field, .slave-field {
	min-width: 5%;
}
.slave-field {
	padding-left: 10px;
}
.cred-field {
	min-width: 214px;
}
.overviewTr {
	margin: 0;
	background-color: #f6f8fa;
	padding-left: 15px;
	font-size: 15px;
}
.serverUp, .serverDown, .serverNone {
	padding: 3px; 
	border-radius: 3px;
	color: #fff; 
	font-weight: bold;
}
.serverUp {
	background-color: #5CB85C; 
}
.serverNone {
	background-color: #ddd; 
}
.add-button, .add-button-wi {
	background-color: #5CB85C; 
	border-radius: 5px;
	color: #fff; 
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
	margin-right: 1px;
	cursor: pointer;
}
.add-button-wi {
	padding-right: 5px;
	padding-left: 5px;
	font-size: 13px;
}
.serverDown {
	background-color: red; 
}
.padding10 {
	padding: 10px;
	padding-left: 0px;
	border: none;
	width: 15%;
}
.padding20 {
	padding: 15px;
	width: 30%;
}
.first-collumn {
	padding-left: 15px;
	width: 20%;
}
.first-collumn-wi {
	padding-left: 15px;
	width: 40%;
}
.second-collumn {
	width: 20%;
}
.third-collumn {
	width: 45%;
}
.third-collumn-wi {
	width: 30%;
}
.ro {
  border: none;
}
.remove {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #ca4333;
    background-image: linear-gradient(180deg,#d44a3a,#bc3829);
    background-repeat: repeat-x;
    border-color: #d44a3a;
	padding: 5px;
	border-radius: 3px;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu {
	min-height: calc(100vh - 95px);
	font-size: 1.1em;
}
.menu a{
	background: #222a31;
	color: #fff;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #666;
	transition: 0.5s all;
	cursor: pointer;
}
.sidebar{
	width: 200px;
	margin: 20px;
}
.menu a:hover{
	background: #48505A;
	padding: 10px 0 10px 20px;
	color: #fff;
	border-left-color: #5D9CEB;
    border-left: 4px solid #5D9CEB;
}
.menu li:first-child a, .menu li .v_menu li:first-child a{
	border-radius: 3px 3px 0 0;
}
.menu li:last-child a, .menu li .v_menu li:last-child a{
	border-radius: 0 0 3px 3px;
	border-bottom: 0;
}
.menu li .v_menu li a{
	border-radius: 0;
}
.p_menu{position: relative;}
.v_menu{
	position: absolute;
	width: 100%;
	left: 180px;
	top: -9999px;
	opacity: 0;
	border-left: 10px solid transparent;
	transition: 0.5s opacity;
	z-index: 1001;
}
.v_menu a {
	background-color: #48505A;
}
.p_menu:hover .v_menu{
	opacity: 1;
	top: 0;
}
.p_menu::after{
	content: "";
	position: absolute;
	border:5px solid;
	border-color: transparent transparent transparent #eee;
	top:1em;
	right: 0.7em;
	transition: 0.5s;
}
.p_menu:hover::after{
	transform: scaleX(-1);
}
.head-submenu {
	margin-left: 20px;
}
@keyframes shadow {
	from {box-shadow: 0px 0px 0px red inset;}
	50% {text-shadow: 0 0 30px black;}
	to {box-shadow: 0 -5px 5px -5px rgb(38, 137, 60) inset}
}
@keyframes shadow-red {
	from {box-shadow: 0px 0px 0px red inset;}
	50% {text-shadow: 0 0 30px black;}
	to {box-shadow: 0 -5px 5px -5px #5D9CEB inset}
}
.form-control:hover {
	animation: shadow-red  0.3s forwards;
}
.form-control:invalid, .form-control:valid {
    background-image: linear-gradient(0deg,#d50000 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}
.form-control {
    background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: 0;
    transition: background 1s ease-out;
	font-size: 15px;
}
.form-login {
	text-align: center;
	background-color: #fff;
	padding: 10px;
	width: 220px;
	background-size: 0 !important;
	border: 0 !important;
}
.ui-button {
	padding-left: 10px !important;
	padding-right: 10px !important;
	background: #f4f9f380 !important;
}
.ui-state-default {
	background-color: #EBF1F1 !important;
}
.ui-state-active {
	background-color: #4A89D8 !important;
	border: none !important;
	border-color: #5D9CEB !important;
}
.ui-tabs-nav {
	border-radius: 0 !important;
	padding-left: 25px !important; 
	padding-top: 0.28em !important;
  }
.ui-tabs .ui-tabs-panel {
	padding: 0 !important;
	padding-bottom: 10px !important;
 }
.ui-tabs {
	padding-left: 0 !important;
	margin-top: -5px !important;
	margin-left: -2px;
}
.ui-widget-header {
	background: #5d9ceb !important;
 }
.ui-menu, .ui-menu-item {
	background: #EBF1F1 !important;
}
.ui-dialog { 
	z-index: 1000 !important;
}
.ui-selectmenu-open, .ui-selectmenu-menu {
	z-index: 1010 !important;
}
.need-field {
	color: red;
}
.ui-corner-all {
	border-radius: 0 !important;
}
a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}
a, a:visited {
    text-decoration: underline;
  }
a {
	color: #9d9d9d;
	text-decoration: none;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration:  derline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.logs_link, .accordion-link {
	color: #23527c !important;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  width: 100%;
}
caption {
  color: #777;
  text-align: left;
}
td,th {
  padding: 0;
  text-align: left;
  min-width: 25px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.update {
	background-color: #dff0d8 !important;
}
.alert {
	padding:15px;
	margin-bottom:20px;
	border:1px solid transparent;
	border-radius:4px;
	width: 400px;
	display: block;
}
.alert a {
	cursor: pointer;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 10px;	
}
.alert-danger, .alert-info, .alert-success, .alert-warning, .added {
	margin-left: 15px;
	margin-top: 15px;	
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	margin-bottom: -50px;	
}
.alert-success, .added{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.wrong-login {
	display: none; 
	margin-top: 220px;
	margin-right: 50px;
	width: 300px;
}
.validateTips {
	width: 540px; 
	margin: 0; 
	margin-bottom: 10px;
}
#errorMess {
	float: right;
}
.added {
	position: absolute;
	margin-left: 30px;
	margin-top: 790px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 10px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  padding-right: 10px;
}
.even {
	background-color: #f3f8fb;
}
.div-server {
	background-color: #fbfbfb;
	border: 1px solid #A4C7F5;
	height: 153px;
	width: 365px;
	padding: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 20px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-top: 13px;
	display: block;
	float: left;
}
.div-backends {
	width: 89.3%;
}
.server-name {
	padding-bottom: 3px;
    font-size: 1.4em;
    color: #5d9ceb;
    border-bottom: 1px solid #A4C7F5;
}
.server-status {
	border-radius: 50% 50%;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-left: 2px;
	margin-bottom: -2px;
}
.server-action {
	float: right;
	margin-top: 6px;
}
.server-desc {
	padding-bottom: 10px;
    color: #999;
    padding-top: 10px;
	height: 80px;
}
.server-act-links {
	margin-left: -2px;
}
.server-act-links a {
	margin-right: 2.3px !important
}
.server-act-links a:last-child {
	margin-right: 0 !important;
}
#left-collumn, #middle-collumn, #right-collumn {
	float: left;
}
.ajax-server {
	margin: 25px;
	margin-left: 440px;
	margin-bottom: 0;
	width: 60em;
	display: none;
	margin-top: px;
	margin-bottom: 0px;
	margin-top: 14px;
	height: 192px;
}
.haproxy-info {
	display: inline-block;
	width: 160px;
	padding-left: 30px;
	padding-top: 35px;
	font-size: 12px;
	float: left;
}
.top-info {
	display: inline-block;
	width: 350px;
	margin-top: 30px;
	font-size: 10px;
}
.update-icon {
	float: right;
	margin-top: 35px;
	margin-right: 15px;
}
.span-link {
	cursor: pointer;
}
#logo_span {
	float: left;
	margin-left: 8%;
	border-right: 3px solid #ddd;
	height: 270px;
}
#logo_span img {
	margin-top: -40px; 
	margin-bottom: -40px; 
	padding-left: 70px;
}
.chart-container {
	position: relative;
	height: 300px;
	width: 49%;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
@media (max-width: 1920px) {
  #logo_span {
	margin-left: 17%;
	}	
	
}
@media (max-width: 1900px) {
	#logo_span {
		margin-left: 15%;
		}
	.wrong-login {
		margin-right: -150px;
	}
}
@media (max-width: 1450px) {
	.ajax-server, .div-backends {
		clear: both !important;
		margin-left: 20px !important;
		width: 88% !important;
	}
	.div-server {
		margin-bottom: 30px !important;
	}
}
@media (max-width: 1280px) {
	.div-server {
		margin-bottom: 30px !important;
	}
	.ajax-server {
		clear: both !important;
		margin-left: 20px !important;
	}
	.div-backends {
		width: 84.6% !important
	}
}
@media (max-width: 1080px) {
	#logo_span {
		margin-left: -5%;
		}
	.chart-container {
		position: relative;
		height: 410px;
		width: 95%;
	}
	.overview-wi {
		width: 95%;
		max-width: 95%;
	}
	.wrong-login {
		margin-right: -50px;
	}
	.ajax-server {
		width: 88% !important;
	}
	.haproxy-info {
		width: 120px;
		padding-left: 10px;
	}
	.div-backends {
		width: 84.6% !important
	}
}
@media (max-width: 1024px) {
	#logo_span {
		margin-left: -5%;
		}
	.chart-container {
		position: relative;
		height: 410px;
		width: 95%;
	}
	.overview-wi {
		width: 95%;
		max-width: 95%;
	}
	.wrong-login {
		margin-right: -150px;
	}
	.ajax-server {
		width: 88% !important;
	}
	.haproxy-info {
		width: 120px;
		padding-left: 10px;
	}
	.div-backends {
		width: 84.2% !important
	}
	#rows {
		width: 50px;
	}
	#grep {
		width: 100px;
	}
}
@media (max-width: 768px) {
  #logo_span {
	margin-left: -12%;
	border: none;
	}
	.chart-container {
		position: relative;
		height: 410px;
		width: 95%;
	}
	.overview-wi {
		width: 95%;
		max-width: 95%;
	}
	.wrong-login {
		margin-right: -260px;
	}
	.overview {
		width: 90% !important;
	}
	.overview h3 {
		width: 46.4% !important;
	}
	.ajax-server {
		width: 88% !important;
	}
	.haproxy-info {
		width: 120px;
		padding-left: 10px;
	}
	.div-backends {
		width: 82.5% !important
	}
	#rows {
		width: 50px;
	}
	#grep {
		width: 100px;
	}
}
@media (max-width: 667px) {
  #logo_span {
	margin-left: -12%;
	border: none;
	}
	.chart-container {
		position: relative;
		height: 410px;
		width: 95%;
	}
	.overview-wi {
		width: 95%;
		max-width: 95%;
	}
	.wrong-login {
		margin-right: -210px;
	}
	.ajax-server {
		width: 88% !important;
	}
	.haproxy-info {
		width: 120px;
		padding-left: 10px;
	}
	.div-backends {
		width: 84.6% !important
	}
	#rows {
		width: 50px;
	}
	#grep {
		width: 100px;
	}
}
.loading, .loading_full_page, .loading_hapwi_overview {
	width: 100px;
	height: 100px;
	margin-left: 100%;
}
.loading_full_page {
	margin-left: 45%;
}
.loading_hapwi_overview{
	margin-left: 40%;
}
.loading_small {
	width: 39px;
	height: 39px;
	padding-left: 103%;
}
.loading_small_haproxyservers {
	width: 15px;
	height: 15px;
}
.tooltip {
	font-size: 12px; 
	padding-bottom: 10px;
}
.tooltipTop {
	margin-bottom: -20px; 
	padding-top: 10px;
	color: #9d9d9d;
}
