region 			    = "{{region}}"
size 	            = "{{size}}"
private_networking  = {% if privet_net == 'true' %}true{%else%}false{%endif%}

floating_ip		    = {% if floating_ip == 'true' %}true{%else%}false{%endif%}

name			    = "{{server_name}}"
os				    = "{{os}}"
ssh_key_name	    = "{{ssh_name}}"
ssh_ids		        = [{% if ssh_ids != 'None' %}{% for s in ssh_ids.split(',') %}{% if s != '' %}"{{s}}",{% endif %}{% endfor %}{% endif %}]

firewall            = {% if firewall == 'true' %}true{%else%}false{%endif%}

backup              = {% if backup == 'true' %}true{%else%}false{%endif%}

privet_net          = {% if privet_net == 'true' %}true{%else%}false{%endif%}

monitoring          = {% if monitoring == 'true' %}true{%else%}false{%endif%}

token	            = "{{token}}"

