region       			= {{region}}
instance_type 	        = "{{size}}"
project 	            = "{{project}}"
network_name	        = "{{network_name}}"
network_type     		= "{{network_type}}"

delete_on_termination   = {% if delete_on_termination == 'true' %}true{%else%}false{%endif%}

volume_size	        	= {{volume_size}}
volume_type	        	= "{{volume_type}}"
name			        = "{{server_name}}"
os      				= "{{os}}"
ssh_key_name        	= "{{ssh_name}}"
firewall                = {% if firewall == 'true' %}true{%else%}false{%endif%}

username	        = "{{username}}"
password	        = "{{pass}}"
