[main]
#Path to files destination
fullpath = /var/www/haproxy-wi/
cgi_path = %(fullpath)s/cgi-bin/
log_path = %(fullpath)s/log/
time_zone = UTC

[configs]
#Server for save configs from HAproxy servers
haproxy_configs_server = localhost
#Dir where configs will be save
haproxy_save_configs_dir = /var/www/haproxy-wi/cgi-bin/hap_config/

[ssh]
#If ssh connect disable entare password for ssh connect. Default enable
ssh_keys_enable = 1
#SSH keys to connect without password to HAproxy servers
ssh_keys = /var/www/haproxy-wi/cgi-bin/id_rsa.pem
#Username for connect ssh
ssh_user_name = root
ssh_pass = 

[logs]
#Logs save locally, disable by default
local_path_logs = /var/log/haproxy.log
#If exist syslog server for HAproxy logs
syslog_server_enable = 0
syslog_server = 

[telegram]
#Send log message to telegram channel
#Default bot send message disable
enable = 0
token = 
channel_name = 
proxy = 

[haproxy]
#Command for restart HAproxy service
restart_command = service haproxy restart
status_command = systemctl status haproxy
#Username and password for Stats web page HAproxy
user = admin
password = password
stats_port = 8085
stats_page = stats
haproxy_config_path = /etc/haproxy/haproxy.cfg
server_state_file = /etc/haproxy/haproxy.state
haproxy_sock = /var/run/haproxy.sock
#Temp store configs, for haproxy check
tmp_config_path = /tmp
