[Unit]
Description=Keep Alive Haproxy 
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/var/www/haproxy-wi/app/
ExecStart=/var/www/haproxy-wi/app/tools/keep_alive.py

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=keep_alive

RestartSec=2s
Restart=on-failure
TimeoutStopSec=1s

[Install]
WantedBy=multi-user.target
