{% extends "base.html" %}
{% block content %}
        <h2>
            404 - Page not found
        </h2>
        <style>
            #oops_div {
                position: absolute;
                right: 0;
                margin-top: 50px;
                bottom: 50px;
            }
        </style>
        <center>
            <h4>Sorry, but page not found. Try another page</h4>
        </center>
        <div id="oops_div">
            <img src="{{ url_for('static', filename='images/oops.png')}}" alt="Oops">
        </div>
{% endblock %}
