{% extends "base.html" %}
{% block content %}
    <h2>
        500 - Internal error
    </h2>
    <style>
        #oops_div {
            position: absolute;
            right: 0;
            margin-top: 50px;
            bottom: 50px;
        }
        </style>
    <center>
        <h4>Sorry, but something went wrong..... Check httpd error log and
            <a href="https://github.com/Aidaho12/haproxy-wi/issues" title="GitHub issues">create issue on GitHub</a>
            or write <a href="https://t.me/haproxy_wi" title="Roxy-WI chat">to the chat</a>
        </h4>
        <div>Error: {{e}}</div>
        <div id="oops_div">
            <img src="{{ url_for('static', filename='images/oops.png')}}" alt="Oops">
        </div>
    </center>
{% endblock %}
