{% import 'languages/'+lang|default('en')+'.html' as lang %}
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<meta id="translate" style="display: none;" data-delete="{{lang.words.delete|title()}}" data-cancel="{{lang.words.cancel|title()}}" data-add="{{lang.words.add|title()}}"
			  data-superAdmin_pass="{{lang.phrases.superAdmin_pass}}" data-superAdmin_services="{{lang.phrases.superAdmin_services}}" data-change="{{lang.words.change|title()}}"
			  data-change2="{{lang.words.change2|title()}}" data-password="{{lang.words.password}}" data-groups="{{lang.words.groups}}" data-save="{{lang.words.save|title()}}"
			  data-manage="{{lang.words.manage|title()}}" data-services3="{{lang.words.services3}}" data-logout="{{lang.words.logout|title()}}"
			  data-something_wrong="{{lang.words.something_wrong}}" data-check_logs="{{lang.words.check_logs}}" data-wait_mess="{{lang.phrases.wait_mess}}"
			  data-just_save="{{lang.words.just|title()}} {{lang.words.save}}" data-upload_and_restart="{{lang.phrases.upload_and_restart|title()}}"
			  data-are_you_sure="{{lang.phrases.are_you_sure}}" data-upload_and_reload="{{lang.phrases.upload_and_reload|title()}}" data-select_server="{{lang.errors.select_server}}"
			  data-empty_name="{{lang.errors.empty_name}}" data-edit="{{lang.words.edit|title()}}" data-close="{{lang.words.close|title()}}" data-server_info="{{lang.phrases.server_info}}"
			  data-generated_config="{{lang.words.generated|title()}} {{lang.words.config}}" data-restart="{{lang.words.restart|title()}}" data-start="{{lang.words.start|title()}}"
			  data-stop="{{lang.words.stop|title()}}" data-reload="{{lang.words.reload|title()}}" data-user_groups="{{lang.phrases.user_groups}}" data-settings="{{lang.words.settings|title()}}"
			  data-for="{{lang.words.for}}" />
		{% if title == 'Login page' %}
		<meta name="viewport" content="width=device-width, user-scalable=1">
		{% endif %}
		<link href="/inc/images/favicon/favicon.ico" rel="icon" type="image/png" />
		<link rel="apple-touch-icon" sizes="57x57" href="/inc/images/favicon/inc/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/inc/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/inc/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/inc/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/inc/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/inc/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/inc/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/inc/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/inc/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/inc/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/inc/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/inc/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/inc/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/inc/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/inc/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<script defer src="/inc/fa-solid.min.js"></script>
		<script defer src="/inc/fontawesome.min.js"></script>
		<script>FontAwesomeConfig = { searchPseudoElements: true, observeMutations: false };</script>
		<script defer src="/inc/ion.sound.min.js"></script>
		<script defer src="/inc/intro/introjs.min.js"></script>
		<link href="/inc/intro/introjs.min.css" rel="stylesheet">
		<link href="/inc/intro/introjs-modern.css" rel="stylesheet">
		<link href="/inc/css/awesome.css" rel="stylesheet">
		<link href="/inc/css/style.css" rel="stylesheet">
		<link href="/inc/css/nprogress.css" rel="stylesheet">
		<link href="/inc/css/jquery-ui.min.css" rel="stylesheet">
		<link href="/inc/css/jquery-ui.structure.min.css" rel="stylesheet">
		<script src="/inc/jquery-3.6.0.min.js"></script>
		<script src="/inc/jquery-ui.min.js"></script>
		<script src="/inc/js.cookie.min.js"></script>
		<script src="/inc/reconnecting-websocket.js"></script>
		<script src="/inc/hotkeys.js"></script>
		<link href="/inc/css/select2.css" rel="stylesheet" />
		<script src="/inc/select2.js"></script>
		<script src="/inc/script.js"></script>
		<script src="/inc/nprogress.js"></script>
		<link href="/inc/css/toastr.css" rel="stylesheet"/>
		<script src="/inc/toastr.js"></script>
	</head>
	<body>
		<input type="hidden" id="token" value="{{ token }}">
		<script>show_version();</script>
		<div class="top-menu">
			<div class="LogoText">
				<span id="logo_text">
					<a href="https://roxy-wi.org" title="Roxy-WI site" target="_blank">
						<img src="/inc/images/logo_menu.png" alt="logo" width="110" />
					</a>
				</span>
			</div>
			<div id="top-link" class="top-link">
				<nav id="menu">
					<ul class="menu">
						{% if user %}
						<li><a href="/app/overview.py" title="{{lang.menu_links.overview.title}}" class="overview-link ">{{lang.menu_links.overview.link}}</a></li>
						{% if '1' in user_services %}
						<li class="p_menu">
							<a href="/app/hapservers.py?service=haproxy" title="{{lang.menu_links.hapservers.haproxy.title}}" class="config-show">HAProxy</a>
							<ul class="v_menu">
								<li><a href="/app/hapservers.py?service=haproxy" title="{{lang.menu_links.hapservers.haproxy.title}}" class="overview-link head-submenu">{{lang.menu_links.hapservers.link}}</a> </li>
								<li><a href="/app/config.py?service=haproxy" title="{{lang.menu_links.config.haproxy.title}}" class="edit head-submenu">{{lang.menu_links.config.link}}</a></li>
								<li><a href="/app/statsview.py?service=haproxy" title="{{lang.menu_links.stats.haproxy.title}}" class="stats head-submenu">{{lang.menu_links.stats.link}}</a></li>
								<li><a href="/app/logs.py?service=haproxy" title="HAProxy {{lang.menu_links.logs.title}}" class="logs head-submenu">{{lang.menu_links.logs.link}}</a></li>
								<li><a href="/app/runtimeapi.py" title="Runtime API" class="runtime head-submenu">Runtime API</a></li>
								<li><a href="/app/metrics.py?service=haproxy" title="HAProxy {{lang.menu_links.metrics.title}}" class="metrics head-submenu">{{lang.menu_links.metrics.link}}</a></li>
							{% if role <= 3 %}
								<li><a href="/app/add.py#proxy" title="{{lang.menu_links.add_proxy.title}}" class="add-proxy head-submenu" id="add1">{{lang.menu_links.add_proxy.link}}</a></li>
								<li><a href="/app/versions.py?service=haproxy" title="{{lang.menu_links.versions.haproxy.title}}" class="version head-submenu">{{lang.menu_links.versions.link}}</a></li>
								<li><a href="/app/add.py#ssl" title="{{lang.menu_links.ssl.title}}" class="cert head-submenu" id="add3">{{lang.menu_links.ssl.link}}</a></li>
								<li><a href="/app/add.py#lists" title="{{lang.menu_links.lists.title}}" class="lists head-submenu" id="add7">{{lang.menu_links.lists.link}}</a></li>
								<li><a href="/app/waf.py?service=haproxy" title="Web application firewall" class="waf-menu head-submenu">WAF</a> </li>
							{% endif %}
							</ul>
						</li>
						{% endif %}
						{% if '2' in user_services %}
						<li class="p_menu">
							<a href="/app/hapservers.py?service=nginx" title="{{lang.menu_links.hapservers.nginx.title}}" class="nginx-menu">NGINX</a>
							<ul class="v_menu">
								<li><a href="/app/hapservers.py?service=nginx" title="{{lang.menu_links.hapservers.nginx.title}}" class="overview-link head-submenu">{{lang.menu_links.hapservers.link}}</a></li>
								<li><a href="/app/config.py?service=nginx" title="{{lang.menu_links.config.nginx.title}}" class="edit head-submenu">{{lang.menu_links.config.link}}</a></li>
								<li><a href="/app/statsview.py?service=nginx" title="{{lang.menu_links.stats.nginx.title}}" class="stats head-submenu">{{lang.menu_links.stats.link}}</a></li>
								<li><a href="/app/logs.py?service=nginx" title="NGINX {{lang.menu_links.logs.title}}" class="logs head-submenu">{{lang.menu_links.logs.link}}</a></li>
								<li><a href="/app/metrics.py?service=nginx" title="NGINX {{lang.menu_links.metrics.title}}" class="metrics head-submenu">{{lang.menu_links.metrics.link}}</a></li>
								{% if role <= 3 %}
								<li><a href="/app/add_nginx.py#proxy" title="{{lang.menu_links.add_proxy.title}}" class="add-proxy head-submenu">{{lang.menu_links.add_proxy.link}}</a></li>
								<li><a href="/app/versions.py?service=nginx" title="{{lang.menu_links.versions.nginx.title}}" class="version head-submenu">{{lang.menu_links.versions.link}}</a></li>
								<li><a href="/app/add.py?service=nginx#ssl" title="{{lang.menu_links.ssl.title}}" class="cert head-submenu">{{lang.menu_links.ssl.link}}</a></li>
								<li><a href="/app/waf.py?service=nginx" title="Web application firewall" class="waf-menu head-submenu">WAF</a> </li>
								{% endif %}
							</ul>
						</li>
						{% endif %}
						{% if '4' in user_services %}
						<li class="p_menu">
							<a href="/app/hapservers.py?service=apache" title="{{lang.menu_links.hapservers.apache.title}}" class="apache-menu">Apache</a>
							<ul class="v_menu">
								<li><a href="/app/hapservers.py?service=apache" title="{{lang.menu_links.hapservers.apache.title}}" class="overview-link head-submenu">{{lang.menu_links.hapservers.link}}</a></li>
								<li><a href="/app/config.py?service=apache" title="{{lang.menu_links.config.apache.title}}" class="edit head-submenu">{{lang.menu_links.config.link}}</a></li>
								<li><a href="/app/statsview.py?service=apache" title="{{lang.menu_links.stats.apache.title}}" class="stats head-submenu">{{lang.menu_links.stats.link}}</a></li>
								<li><a href="/app/logs.py?service=apache" title="Apache {{lang.menu_links.logs.title}}" class="logs head-submenu">{{lang.menu_links.logs.link}}</a></li>
								<li><a href="/app/metrics.py?service=apache" title="Apache {{lang.menu_links.metrics.title}}" class="metrics head-submenu">{{lang.menu_links.metrics.link}}</a></li>
								{% if role <= 3 %}
								<li><a href="/app/versions.py?service=apache" title="{{lang.menu_links.versions.apache.title}}" class="version head-submenu">{{lang.menu_links.versions.link}}</a></li>
								<li><a href="/app/add.py?service=apache#ssl" title="{{lang.menu_links.ssl.title}}" class="cert head-submenu" id="add3">{{lang.menu_links.ssl.link}}</a></li>
								{% endif %}
							</ul>
						</li>
						{% endif %}
						{% if '3' in user_services %}
						{% if role <= 2 %}
						<li class="p_menu">
							<a href="/app/hapservers.py?service=keepalived" title="{{lang.menu_links.hapservers.keepalived.title}}" class="ha">Keepalived</a>
							<ul class="v_menu">
								<li><a href="/app/hapservers.py?service=keepalived" title="{{lang.menu_links.hapservers.keepalived.title}}" class="overview-link head-submenu">{{lang.menu_links.hapservers.link}}</a> </li>
								<li><a href="/app/ha.py" title="{{lang.menu_links.ha.title}}" class="keepalived head-submenu">HA</a></li>
								<li><a href="/app/config.py?service=keepalived" title="{{lang.menu_links.config.keepalived.title}}" class="edit head-submenu">{{lang.menu_links.config.link}}</a></li>
								<li><a href="/app/logs.py?service=keepalived" title="Keepalived {{lang.menu_links.stats.title}}" class="logs head-submenu">{{lang.menu_links.logs.link}}</a></li>
								<li><a href="/app/versions.py?service=keepalived" title="{{lang.menu_links.versions.keepalived.title}}" class="version head-submenu keepalived_versions">{{lang.menu_links.versions.link}}</a></li>
							</ul>
						</li>
						{% endif %}
						{% endif %}
							<li class="p_menu">
								<a href="/app/smon.py?action=view" title="{{lang.menu_links.monitoring.title}}" class="stats">{{lang.menu_links.monitoring.link}}</a>
								<ul class="v_menu">
									<li><a href="/app/smon.py?action=view" title="{{lang.menu_links.monitoring.smon.dashboard}}" class="overview-link head-submenu">{{lang.menu_links.monitoring.smon.dashboard}}</a></li>
									<li><a href="/app/smon.py?action=history" title="{{lang.menu_links.monitoring.smon.history}}" class="lists head-submenu">{{lang.menu_links.monitoring.smon.history}}</a></li>
									{% if role <= 3 %}
									<li><a href="/app/smon.py?action=add" title="{{lang.menu_links.monitoring.smon.admin}}" class="edit head-submenu">{{lang.menu_links.monitoring.smon.admin}}</a></li>
									{% endif %}
									<li><a href="/app/smon.py?action=checker_history" title="{{lang.menu_links.monitoring.checker_history}}" class="lists head-submenu">{{lang.menu_links.monitoring.checker_history}}</a></li>
									<li><a href="/app/portscanner.py" title="{{lang.menu_links.monitoring.port_scan}}" class="port-scanner head-submenu">{{lang.menu_links.monitoring.port_scan}}</a></li>
									<li><a href="/app/nettools.py" title="{{lang.menu_links.monitoring.net_tools}}" class="net-tools head-submenu">{{lang.menu_links.monitoring.net_tools}}</a></li>
								</ul>
							</li>
						{% if role <= 2 %}
							<li class="p_menu">
								<a href="/app/servers.py#users" title="{{lang.menu_links.servers.title}}" class="runtime">{{lang.menu_links.servers.link}}</a>
								<ul class="v_menu">
									<li><a href="/app/servers.py#users" title="{{lang.words.servers|title()}}: {{lang.words.manage|title()}} {{lang.words.users2}}" class="users head-submenu">{{lang.words.users|title()}}</a></li>
									<li><a href="/app/servers.py#servers" title="{{lang.words.servers|title()}}: {{lang.words.manage|title()}} {{lang.words.servers2}}" class="runtime servers head-submenu">{{lang.words.servers|title()}}</a></li>
									<li><a href="/app/servers.py#ssh" title="{{lang.words.servers|title()}}: {{lang.words.manage|title()}} SSH {{lang.words.creds2}}" class="admin ssh head-submenu">SSH {{lang.words.creds|title()}}</a></li>
									<li><a href="/app/servers.py#checker" title="{{lang.words.servers|title()}}: {{lang.words.manage|title()}} Checker" class="checker head-submenu">Checker</a></li>
									<li><a href="/app/servers.py#settings" title="{{lang.words.servers|title()}}: {{lang.words.manage|title()}} Roxy-WI {{lang.words.settings2}}" class="settings head-submenu">{{lang.words.settings|title()}}</a></li>
									<li><a href="/app/servers.py#installproxy" title="{{lang.words.servers|title()}}: {{lang.words.proxy|title()}} {{lang.words.services}} {{lang.words.installation}}" class="hap-menu installproxy head-submenu">{{lang.words.proxy|title()}} {{lang.words.installation}}</a> </li>
									<li><a href="/app/servers.py#installmon" title="{{lang.words.servers|title()}}: {{lang.words.monitoring|title()}} {{lang.words.services}} {{lang.words.installation}}" class="hap1 installmon head-submenu">{{lang.words.monitoring|title()}} {{lang.words.installation}}</a> </li>
									<li><a href="/app/provisioning.py" title="{{lang.words.servers|title()}}: {{lang.words.provisioning|title()}}" class="hap1 head-submenu">{{lang.words.servers|title()}} {{lang.words.provisioning|title()}}</a> </li>
									<li><a href="/app/servers.py#backup" title="{{lang.words.servers|title()}}: {{lang.words.backup|title()}} {{lang.words.configs2}}" class="backup head-submenu">{{lang.words.backup|title()}}</a> </li>
									<li><a href="/app/viewlogs.py?type=2" title="{{lang.words.servers|title()}}: {{lang.words.view|title()}} {{lang.words.internal2}} {{lang.words.logs2}}" class="logs head-submenu">{{lang.words.internal|title()}} {{lang.words.logs}}</a></li>
								</ul>
							</li>
						{% endif %}
						{% if role <= 1 %}
							<li class="p_menu" id="admin-area">
								<a href="/app/users.py#users" title="{{lang.menu_links.admin_area.title}}" class="admin">{{lang.menu_links.admin_area.link}}</a>
								<ul class="v_menu">
									<li><a href="/app/users.py#users" title="{{lang.words.admin_area|title()}}: {{lang.words.manage|title()}} {{lang.words.users2}}" class="users head-submenu" id="admin-area-users">{{lang.words.users|title()}}</a></li>
									<li><a href="/app/users.py#groups" title="{{lang.words.admin_area|title()}}: {{lang.words.manage|title()}} {{lang.words.groups3}}" class="group groups head-submenu" id="admin-area-groups">{{lang.words.groups|title()}}</a></li>
									<li><a href="/app/users.py#servers" title="{{lang.words.admin_area|title()}}: {{lang.words.manage|title()}} {{lang.words.servers2}}" class="runtime servers head-submenu" id="admin-area-servers">{{lang.words.servers|title()}}</a></li>
									<li><a href="/app/users.py#ssh" title="{{lang.words.admin_area|title()}}: {{lang.words.manage|title()}} SSH {{lang.words.creds2}}" class="admin ssh head-submenu" id="admin-area-ssh">SSH {{lang.words.creds|title()}}</a></li>
									<li><a href="/app/users.py#checker" title="{{lang.words.admin_area|title()}}: Checker" class="checker head-submenu" id="admin-area-checker">Checker</a></li>
									<li><a href="/app/users.py#settings" title="{{lang.words.admin_area|title()}}: {{lang.words.manage|title()}} Roxy-WI {{lang.words.settings2}}" class="settings head-submenu" id="admin-area-settings">{{lang.words.settings|title()}}</a></li>
									<li><a href="/app/users.py#services" title="{{lang.words.admin_area|title()}}: {{lang.words.manage|title()}} Roxy-WI {{lang.words.services3}}" class="services head-submenu" id="admin-area-services">{{lang.words.services|title()}}</a></li>
									<li><a href="/app/viewlogs.py" title="{{lang.words.admin_area|title()}}: {{lang.words.view|title()}} {{lang.words.internal2}} {{lang.words.logs2}}" class="logs head-submenu" id="admin-area-logs">{{lang.words.internal|title()}} {{lang.words.logs}}</a></li>
									<li><a href="/app/users.py#updatehapwi" title="{{lang.words.admin_area|title()}}: {{lang.words.w_update|title()}} Roxy-WI" class="upload updatehapwi head-submenu" id="admin-area-update">{{lang.words.w_update|title()}}</a></li>
								</ul>
							</li>
						{% endif %}	
					{% endif %}
					</ul>
				</nav>
			</div>
		</div>
		<div class="container">
			{% if h2 %}
				<h2>
					{% block h2 %}{% endblock %}
					{% include 'include/login.html' %}
					{% if autorefresh %}
						<span class="auto-refresh">
							<a onclick="pauseAutoRefresh()" class="auto-refresh-pause" style="display: none; margin-top: 4px;"></a>
							<a onclick="pauseAutoResume()" class="auto-refresh-resume" style="display: none; margin-top: 4px;"></a>
							<span id="0" class="auto-refresh-span">
								<span class="auto-refresh-reload auto-refresh-reload-icon"></span>
								{{lang.words.auto|title()}}-{{lang.words.refresh}}
							</span>
							<span id="1" style="display: none;" class="auto-refresh-span">
								<span class="auto-refresh-reload auto-refresh-reload-icon"></span>
								{{lang.words.auto|title()}}-{{lang.words.refresh}}
							</span>
						</span>		
					{% endif %}
				</h2>
			{% endif %}
			{% if autorefresh %}
				<div class="auto-refresh-div">
					<div class="auto-refresh-head">
						{{lang.words.refresh|title()}} {{lang.words.interval|title()}}
					</div>
					<div class="auto-refresh-interval">
						<div class="auto-refresh-ul">
							<ul style="width: 130px;">
								<li>
									<a class="ui-button ui-widget ui-corner-all" onclick="setRefreshInterval(0)" title="Turn off auto-refresh">{{lang.words.no|title()}} {{lang.words.auto}}-{{lang.words.refresh}}</a>
								</li>
							</ul>
						</div>
						<div class="auto-refresh-ul" id="secIntervals">
							<ul style="width: 100px;">
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 5 {{lang.words.seconds2}}" onclick="setRefreshInterval(5000)">5 {{lang.words.seconds2}}</a></li>
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 10 {{lang.words.seconds2}}" onclick="setRefreshInterval(10000)">10 {{lang.words.seconds2}}</a></li>
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 30 {{lang.words.seconds2}}" onclick="setRefreshInterval(30000)">30 {{lang.words.seconds2}}</a></li>
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 45 {{lang.words.seconds2}}" onclick="setRefreshInterval(45000)">45 {{lang.words.seconds2}}</a></li>
							</ul>
						</div>
						<div class="auto-refresh-ul">
							<ul style="width: 100px;">
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every2}} 1 minute" onclick="setRefreshInterval(60000)">1 {{lang.words.minute}}</a></li>
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 5 {{lang.words.minutes}}" onclick="setRefreshInterval(300000)">5 {{lang.words.minutes}}</a></li>
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 15 {{lang.words.minutes}}" onclick="setRefreshInterval(900000)">15 {{lang.words.minutes}}</a></li>
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 30 {{lang.words.minutes}}" onclick="setRefreshInterval(1800000)">30 {{lang.words.minutes}}</a></li>
							</ul>
						</div>
						<div class="auto-refresh-ul">
							<ul style="width: 100px;">
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every3}} 1 {{lang.words.hour}}" onclick="setRefreshInterval(3600000)">1 {{lang.words.hour}}</a></li>
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 2 {{lang.words.hours}}" onclick="setRefreshInterval(7200000)">2 {{lang.words.hours}}</a></li>
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every}} 12 {{lang.words.hours}}" onclick="setRefreshInterval(43200000)">12 {{lang.words.hours2}}</a></li>
								<li><a title="{{lang.words.auto|title()}}-{{lang.words.refresh}} {{lang.words.every3}} 1 {{lang.words.day}}" onclick="setRefreshInterval(86400000)">1 {{lang.words.day}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			{% endif %}
			{% if h2 %}
				<ul id='browse_histroy'></ul>
			{% endif %}
			{% if role %}
				{% if role <= 2 %}
					<div id="apply" style="display: none;">
						<div class="alert alert-warning" id="apply_div"></div>
					</div>
				{% endif %}
			{% endif %}
			{% block content %}{% endblock %}
			<div id="ajax-compare"></div>
			<div id="ajax"></div>			
		</div>	
		<div id="show-updates" style="display: none;">	
			<div>
				{{lang.phrases.new_version}} <a href="/app/users.py#updatehapwi" class="link">{{lang.words.update|title()}}</a>
			</div>
		</div>	
		<div class="footer">
			<a href="#" id="hide_menu" title="{{lang.words.hide|title()}} {{lang.words.menu}}" style="float: left;">
				<span class="ui-state-default ui-corner-all">
					<span class="ui-icon ui-icon-arrowthick-1-w" id="arrow"></span>
				</span>
			</a>
			<div class="show_menu" style="display: none; float: left;">
				<a href="#" id="show_menu" title="{{lang.words.show|title()}} {{lang.words.menu}}">
					<span class="ui-state-default ui-corner-all">
						<span class="ui-icon ui-icon-arrowthick-1-e" id="arrow"></span>
					</span>
				</a>
			</div>
			<div id="version"></div>
			<div id="logo_footer">
				<a href="https://roxy-wi.org" title="Roxy-WI official site" target="_blank">
					<img src="/inc/images/logo_footer.png" alt="logo" id="logo_footer_img" />
				</a>
			</div>
			<div class="footer-div">
				<div id="useful-links">
					<a href="https://roxy-wi.org" class="footer-link" target="_blank" title="{{lang.words.about|title()}} Roxy-WI">{{lang.words.about|title()}}</a>
					<a href="https://github.com/hap-wi/roxy-wi/issues" class="footer-link" target="_blank" title="Community help">{{lang.words.help|title()}}</a>
					<a href="https://sd.roxy-wi.org" class="footer-link" target="_blank" title="Service Desk">SD</a>
					<a href="https://roxy-wi.org/contacts" class="footer-link" target="_blank">{{lang.words.contacts|title()}}</a>
					<a href="https://roxy-wi.org/cabinet" class="footer-link" target="_blank" title="Private cabinet">{{lang.words.cabinet|title()}}</a>
					<a href="https://roxy-wi.org/legal" class="footer-link" target="_blank" title="Legal Note">{{lang.words.legal|title()}}</a>
				</div>
			</div>
		</div>
		<div id="show-user-settings">
			<table class="overview" id="show-user-settings-table" title="{{lang.words.user3|title()}} {{lang.words.settings}}">
				<tr>
					<td class="padding20" style="width: 70%">{{lang.words.alerts|title()}}</td>
					<td>
						<select id="disable_alerting">
							<option value="0" title="{{lang.phrases.all_alerts_enabled}}">{{lang.phrases.all_alerts_enabled}}</option>
							<option value="1">{{lang.phrases.disable_alerts}}</option>
						</select>
					</td>
				</tr>
				<tr class="padding20">
					<td class="padding20">{{lang.words.language|title()}}</td>
					<td>
						<select id="lang_select">
							{% if lang.lang_short == 'ru' %}
							<option value="en" title="English">English</option>
							<option value="ru" title="Русский" selected>Русский</option>
							{% else %}
							<option value="en" title="English" selected>English</option>
							<option value="ru" title="Русский">Русский</option>
							{% endif %}
						</select>
					</td>
				</tr>
				<tr id="show-user-settings-group"></tr>
			</table>
		</div>
		<div id="statistic" style="display: none;">
			<div style="font-size: 1em;font-weight: bold;padding-top: 10px;" id="statistic-body"></div>
		</div>
		{% include 'include/change_pass_form.html' %}
	</body>
</html>
