{% extends "base.html" %}
{% block content %}
<center>
	<p>	
		<form action="{{ action }}" method="post">
			<input type="hidden" id="service" value="{{service}}">
			{% include 'include/select.html' %}
			<button type="submit" value="open" name="open" class="btn btn-default">Open</button>
		</form>
	</p>
	{% if not aftersave %}
		{% if stderr %}
			{% include 'include/errors.html' %}
		{% endif %}
	{% endif %}
	{% if open %}
		<div id="config_version_div"></div>
		<script>showListOfVersion(0)</script>
	{% endif %}
	{% if aftersave %}
		<div class="alert alert-info alert-two-row">The following version of the configuration file has been uploaded and saved as: {{ configver }} </div>
		{% if stderr %}
			{% include 'include/errors.html' %}	
		{% else %}
			<div class="alert alert-success">Config is ok</div>
			<a href="viewsttats.py?serv={{ serv }}" target="_blank" title="View stats">Go to view stats</a>
		{% endif %}
	{% endif %}
</center>
{% endblock %}