{% extends "base.html" %}
{% block content %}	
{% from 'include/input_macros.html' import input, checkbox %}
<script src="/inc/users.js"></script>
<table class="overview">
	<caption><h3>Create new HA cluster</h3></caption>
	<tr class="overviewHead">
		<td class="padding10 first-collumn">Master</td>
		<td>Slave</td>
		<td><span title="Interface for VRRP addreess">Interface(?)</span></td>
		<td>VRRP IP</td>
		<td><span title="HAProxy-WI will try install HAProxy">HAProxy(?)</span></td>
		<td><span title="HAProxy-WI will try install Nginx">Nginx(?)</span></td>
		<td>SYN flood protect</td>
		<td></td>
	</tr>
	<tr>
		<td class="padding10 first-collumn">
			<select id="master">
				<option disable selected>Choose master</option>
				{% for select in selects %}
					<option value="{{ select.2 }}">{{ select.1 }}</option>
				{% endfor %}
			</select>
		</td>
		<td>
			<select id="slave">
				<option disable selected>Choose master</option>
				{% for select in selects %}
					<option value="{{ select.2 }}">{{ select.1 }}</option>
				{% endfor %}
			</select>
		</td>
		<td>{{ input('interface', size='7') }}</td>
		<td>{{ input('vrrp-ip', size='14') }}</td>
		<td>{{ checkbox('hap') }}</td>
		<td>{{ checkbox('nginx') }}</td>
		<td>{{ checkbox('syn_flood') }}</td>
		<td>
			<a class="ui-button ui-widget ui-corner-all" id="create" title="Create HA configuration">Create</a>
		</td>
	</tr>
</table>
		
<table class="overview">
	<caption><h3>Or add VRRP to exist</h3></caption>
	<tr class="overviewHead">
		<td class="padding10 first-collumn">Master</td>
		<td>Slave</td>
		<td><span title="Interface for VRRP addreess">Interface(?)</span></td>
		<td>VRRP IP</td>
		<td><span title="If checked HAProxy-WI will restart Keepalived">Restart(?)</span></td>
		<td style="width: 23%;"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="padding10 first-collumn">
			<select id="master-add">
				<option disable selected>Choose master</option>
				{% for select in selects %}
					<option value="{{ select.2 }}">{{ select.1 }}</option>
				{% endfor %}
			</select>
		</td>
		<td>
			<select id="slave-add">
				<option disable selected>Choose master</option>
				{% for select in selects %}
					<option value="{{ select.2 }}">{{ select.1 }}</option>
				{% endfor %}
			</select>
		</td>
		<td>{{ input('interface-add', size='7') }}</td>
		<td>{{ input('vrrp-ip-add', size='14') }}</td>
		<td>{{ checkbox('kp') }}</td>
		<td></td>
		<td></td>
		<td>
			<a class="ui-button ui-widget ui-corner-all" id="add-vrrp" title="Add HA configuration">Add</a>
		</td>
	</tr>
</table>
<div id="ajax"></div>
<script>
$( function() {
	$( "select" ).selectmenu({
	  width: 180
	});
});
</script>
{% endblock %}