{% extends "base.html" %}
{% block content %}	
<script src="/inc/users.js"></script>
<table class="overview">
	<caption><h3 style="margin-left: 20px; margin-bottom: 10px;">Create new HA cluster</h3></caption>
	<tr class="overviewHead">
		<td class="padding10 first-collumn">Master</td>
		<td>Slave</td>
		<td>VRRP interface</td>
		<td>VRRP IP</td>
		<td><span title="Haproxy-WI will try install haproxy-1.18.5, if it does not work then haproxy-1.15">Install HAProxy(?)</span></td>
		<td>SYN flood protect</td>
		<td></td>
	</tr>
	<tr>
		<td class="padding10 first-collumn">
			<select id="master">
				<option disable selected>Choose master</option>
				{% for select in selects %}
					<option value="{{ select.2 }}">{{ select.1 }}</option>
				{% endfor %}
			</select>
		</td>
		<td>
			<select id="slave">
				<option disable selected>Choose master</option>
				{% for select in selects %}
					<option value="{{ select.2 }}">{{ select.1 }}</option>
				{% endfor %}
			</select>
		</td>
		<td>
			<input type="text" id="interface" class="form-control">
		</td>
		<td>
			<input type="text" id="vrrp-ip" class="form-control">
		</td>
		<td>
			<label for="hap"></label><input type="checkbox" id="hap">
		</td>
		<td>
			<label for="syn_flood" title="Enable SYN flood protect"><input type="checkbox" id="syn_flood" checked>
		</td>
		<td>
			<a class="ui-button ui-widget ui-corner-all" id="create" title="Create HA configuration">Create</a>
		</td>
	</tr>
</table>
		
<table>
	<caption><h3 style="margin-left: 20px; margin-bottom: 10px;">Or add VRRP to exist</h3></caption>
	<tr class="overviewHead">
		<td class="padding10 first-collumn">Master</td>
		<td>Slave</td>
		<td>VRRP interface</td>
		<td>VRRP IP</td>
		<td><span title="If checked Haproxy-WI will restart Keepalived">Restart Keepalived(?)</span></td>
		<td></td>
	</tr>
	<tr>
		<td class="padding10 first-collumn">
			<select id="master-add">
				<option disable selected>Choose master</option>
				{% for select in selects %}
					<option value="{{ select.2 }}">{{ select.1 }}</option>
				{% endfor %}
			</select>
		</td>
		<td style="width: 23%;">
			<select id="slave-add">
				<option disable selected>Choose master</option>
				{% for select in selects %}
					<option value="{{ select.2 }}">{{ select.1 }}</option>
				{% endfor %}
			</select>
		</td>
		<td style="width: 15%;">
			<input type="text" id="interface-add" class="form-control">
		</td>
		<td style="width: 16%;">
			<input type="text" id="vrrp-ip-add" class="form-control">
		</td>
		<td style="width: 25%;">
			<label for="kp"></label><input type="checkbox" id="kp">
		</td>
		<td>
			<a class="ui-button ui-widget ui-corner-all" id="add-vrrp" title="Add HA configuration">Add</a>
		</td>
	</tr>
</table>
<div id="ajax"></div>
{% endblock %}