{% extends "base.html" %}
{% block content %}
{% from 'include/input_macros.html' import input %}
	<table class="overview">
		<tr class="overviewHead">
			<td class="padding10 first-collumn">New black list</th>
			<td>Exists black lists</th>
			<td class="padding10 first-collumn">New white list</th>
			<td>Exists white lists</th>
		</tr>
		<tr>
			<td class="padding10 first-collumn" style="width: 25%;">
				Name: {{ input('new_blacklist_name') }}
				<button onclick="createList('black')">Create</button>
			</td>
			<td style="width: 30%;">
				{% for list in black_lists %}
					<a onclick="editList('{{ list }}', 'black')" style="cursor: pointer;" title="Edit list {{ list }}">{{ list }}</a>
				{% endfor %}
			</td>
			<td class="padding10 first-collumn" style="width: 25%;">
				Name: {{ input('new_whitelist_name') }}
				<button onclick="createList( 'white')">Create</button>
			</td>
			<td style="width: 30%;">
				{% for list in white_lists %}
					<a onclick="editList('{{ list }}', 'white')" style="cursor: pointer;" title="Edit list {{ list }}">{{ list }}</a>
				{% endfor %}
			</td>
		</tr>
		{{ input('group', value=group, type='hidden') }}
	</table>
	<div class="add-note addName alert-info" style="width: inherit; margin-right: 15px;">
		In this section you can create and edit black and white lists. And after use them in the HAProxy configs or in the "Add proxy" pages
	</div>
	<div id="ajax"></div>
	<div id="dialog-confirm" title="View certificate " style="display: none;">
		<span><b>Note:</b> Each new address should be specified from a new line</span>
		<textarea id="edit_lists" style="width: 100%" rows=20></textarea>
	</div>	
{% endblock %}