{% extends "base.html" %}
{% block content %}	
<style>
body, .container {
	background-color: #fff;
}
.top-menu, .footer {
	display: none !important;
}
.container {
	margin: 0 !important;
	width: 100% !important;
	max-width: 100% !important;
}
.form-control {
	text-align: center;
	background-color: #fff;
	padding: 10px;
	width: 220px;
	background-size: 0 !important;
	border: 0 !important;
}
#enter {
	width: 220px !important; 
	padding: 10px !important; 
	background-color: #ededee !important; 
	font-weight: bold !important;
}
</style>
<center style="margin-top: 15%; background-color: #5d9ceb;">
	{{error_log}}
		{{error}}
		{{db_create}}
	<div id="login-form" style="padding-top: 40px; padding-bottom: 50px; height: 250px; color: #000;">
		<!-- <span style="font-size: 50px; font-weight: bold; color: #fff;">HAProxy-WI</span> -->
		<span id="logo_span">
			<img src="/inc/images/logo_login.png" width="330">
		</span>
		<form name="auth" id="auth" action="login.py" class="form-horizontal" method="post" style="margin-top: 40px;left: 0;float: left;margin-left: 93px;">
			<br>
			<input type="text" name="login" id="login"  required class="form-control" placeholder="Login"><br /><br />
			<input type="password" name="pass" id="pass" required class="form-control" placeholder="Password"><br /><br />
			<input type="hidden" value="{{reff}}" name="ref" id="ref">
			<button type="submit" name="Login" value="Enter" id="enter">Login</button>
		</form>
		<div class="alert alert-danger" style="display: none; margin-top: 220px;margin-right: -210px;width: 300px;">
			Your login or password is incorrect
			<br />
			<span id="ban_10">
				<br />
				You can try again in <span id="ban_timer">10</span> seconds
			</span>
		</div>
		<br /><br />
</center>
<div id="dialog-confirm" title="View certificate " style="display: none;">
	<center>
		<div id="dialog-confirm-body">Hello! Do not pass by, support the project! 
			<b><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5XVQTMKQS57NE&lc=US&Z3JncnB0=" title="Paypal" style="color: red" target="_blank">Paypal</a> or 
			<a href="https://www.patreon.com/haproxy_wi/overview" title="Patreon" style="color: red" target="_blank">Patreon</a></b>
		</div>
	</center>
</div>
{% endblock %}