{% extends "base.html" %}
{% block content %}	
<style>
iframe {
	border: none;
	padding: 10px;
}
table, th, tr, td {
	border: 1px solid #ddd;
	align: center;
	text-align: center;
}
th, tr, td {
	width: 6%;
	padding: 10px;
	}
</style>
<link href="/inc/chart.min.css" rel="stylesheet">
<script src="/inc/metrics.js"></script>
<script src="/inc/chart.min.js"></script>
<div id="table_metrics"></div>
{% for s in servers %}
<div class="chart-container" style="">
	<canvas id="{{s.0}}" role="img"></canvas>
</div>
	<script>
		getChartData('{{s.0}}')
	</script>
{% endfor %}

<div id="metrics_iframe"></div>
<script>
	loadMetrics()
 </script>
{% endblock %}