{% extends "base.html" %}
{% block content %}	
<script>
	$("#secIntervals").css("display", "none");
</script>
{% if role <= 1 %}
	<table class="overview">
		<tr class="overviewHead">
			<td class="padding10 first-collumn">Login</td>
			<td class="padding10 second-collumn">Email</td>
			<td class="second-collumn">Group</td>
			<td>Role</td>
			<td class="padding10">
				<span class="add-button">
					<a title="Show all users" id="show-all-users" style="color: #fff">
						Show all
					</a>
				</span>
			</td>
		</tr>		
		{% set counter = 0 -%}
		{% for USER in users %}
			{% set counter = counter + loop.index0 %}
			{% if counter <= 2 %}
				<tr class="{{ loop.cycle('odd', 'even') }}">
					<td class="padding10 first-collumn"> {{ USER.1 }}</td>
					<td class="padding10 second-collumn"> {{ USER.2 }}</td>
					{% for group in groups %}
						{% if USER.5 == group.0|string() %}
							<td class="third-collumn">{{ group.1 }}</td>
						{% endif %}
					{% endfor %}
					<td>{{ USER.4 }}</td>
					<td></td>
				</tr>
			{% else %}
				<tr style="display: none;" class="show-users {{ loop.cycle('odd', 'even') }}">
					<td class="padding10 first-collumn"> {{ USER.1 }}</td>
					<td class="padding10"> {{ USER.2 }}</td>
					{% for group in groups %}
						{% if group.0|string() == USER.5 %}
							<td class="third-collumn">{{ group.1 }}</td>
						{% endif %}
					{% endfor %}
					<td>{{ USER.4 }}</td>
					<td></td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	<table class="overview">
	<tr class="overviewHead">	
		<th class="padding10 first-collumn" colspan=4>
			Tools status
		</th>
	</tr>
	
	<tr>
		<td class="padding10 first-collumn">
		{% if metrics_master|int() >= 1 %}
			<span title="running {{ metrics_master }} master processes"><span class="serverUp"> UP</span> Metrics master</span>
		{% else %}
			<span title="running {{ metrics_master }} master processes"><span class="serverDown"> DOWN</span> running {{metrics_master }} master processes
		{% endif %}
		</td>
		<td class="padding10 second-collumn">
		{% if metrics_worker|int() >= 1 %}
			<span title="running {{metrics_worker}} worker processes"><span class="serverUp"> UP</span> Metrics workers</span>
		{% else %}
			<span title="running {{metrics_worker}} worker processes"><span class="serverDown"> DOWN</span> Metrics workers</span>
		{% endif %}
		</td>
		<td class="third-collumn">
		{% if checker_master|int() >= 1 %}
			<span title="running {{ checker_master }} master processes"><span class="serverUp"> UP</span> Checker master</span>
		{% else %}
			<span title="running {{ checker_master }} master processes"><span class="serverDown"> DOWN</span> Checker master</span>
		{% endif %}
		</td>
		<td>
		{% if checker_worker|int() >= 1 %}
			<span title="running {{ checker_worker }} worker processes"><span class="serverUp"> UP</span> Checker workers</span>
		{% else %}
			<span title="running {{ checker_worker }} worker processes"><span class="serverDown"> DOWN</span> Checker workers</span>
		{% endif %}
		</td>
	</tr>
</table>
{% endif %}
<table class="overview">
	<tr class="overviewHead">
		<td class="padding10 first-collumn">
			Server
		</td class="padding10 second-collumn">
		<td class="padding10 second-collumn">
			HAproxy status
		</td>
		<td class="padding10  third-collumn">
			Action
		</td>
		<td class="padding10">
			Last edit
		</td  class="padding10">
		<td>
			<a onclick="showOverview()" title="Refresh" style="float: right; margin-right: 25px;"><img  src="/image/pic/update.png" alt="restart" class="icon"></a>
		</td>
	</tr>
<tbody id="ajaxstatus"></tbody>

<table class="overview">
	<tr class="overviewHead">
		<td class="padding10 first-collumn">
			Server
		</td class="padding10 second-collumn">
		<td class="padding10 second-collumn">
			WAF status
		</td>
		<td class="padding10  third-collumn">
			Action
		</td>
		<td class="padding10">
			WAF mode
		</td  class="padding10">
		<td>
			<a onclick="showOverviewWaf()" title="Refresh" style="float: right; margin-right: 25px;"><img  src="/image/pic/update.png" alt="restart" class="icon"></a>
		</td>
	</tr>
<tbody id="ajaxwafstatus"></tbody>	
</table>
<table class="overview" >
	<tr class="overviewHead">
		<td class="padding10 first-collumn">
			Server
		</td>
		<td class="padding10 second-collumn">
			HAproxy info
		</td>
		<td  class="padding10 third-collumn">
			Server status
		</td>
		<td class="padding10">
			Front/Back-ends
		</td>
		<td>
			<a onclick="showOverviewServers()" title="Refresh Server Info" style="float: right; margin-right: 25px;"><img  src="/image/pic/update.png" alt="restart" class="icon"></a>
		</td>
	</tr>
<tbody id="ajaxservers"></tbody>
</table>
<div id="dialog-confirm" style="display: none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:3px 12px 20px 0;"></span>Are you sure?</p>
</div>
<script>
	window.onload = showOverview()
</script>

{% endblock %}