{% extends "base.html" %}
{% block content %}
{% from 'include/input_macros.html' import input, select, checkbox %}
<link href="/inc/css/provisioning.css" rel="stylesheet">
<script src="/inc/users.js"></script>
<script src="/inc/fontawesome.min.js"></script>
{% include 'include/del_confirm.html' %}
<div id="tabs">
	<ul>
		<li><a href="#provisioning" title="Server provisioning - Roxy-WI">Provisioning</a></li>
		<li><a href="#providers" title="Providers settings - Roxy-WI">Providers</a></li>
		{% include 'include/login.html' %}
	</ul>
	<ul id='browse_histroy'></ul>
	<div id="provisioning">
		{% if not is_needed_tool %}
		<div style="text-align: center;">
			<br />
			<h3>You have not installed Terraform.</h3>
			<img src="/inc/images/no_servers.png" alt="There is no server">
			<h4>Read <a href="https://www.terraform.io/downloads.html"
			title="Download Terraform" target="_blank" class="link">here</a> how to install Terraform.</h4>
		</div>
		{% else %}
        <table class="overview" id="ajax-provisioning">
			<thead>
				<tr class="overviewHead">
					<th class="padding10 first-collumn">{{lang.words.name|title()}}</th>
					<th>{{lang.words.provider|title()}}</th>
					{% if role == 1 %}
					<th>{{lang.words.group|title()}}</th>
					{% endif %}
					<th>{{lang.words.cloud|title()}}</th>
					<th>{{lang.words.region|title()}}</th>
					<th>{{lang.words.OS}}</th>
					<th>IP</th>
					<th>{{lang.words.instance_type}}</th>
					<th>{{lang.words.status|title()}}</th>
					<th>{{lang.words.created_at}}</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="ajax-provisioning-body">
                {% include 'ajax/provisioning/provisioned_servers.html' %}
            </tbody>
        </table>
        <br /><span class="add-button" title="{{lang.words.create|title()}} {{lang.words.w_a}} {{lang.words.new}} {{lang.words.server}}" id="create-provider-button">+ {{lang.words.add|title()}}</span>
		{% endif %}
	</div>
	<div id="providers">
        <table class="overview" id="ajax-providers">
			<thead>
				<tr class="overviewHead">
					<th class="padding10 first-collumn">{{lang.words.name|title()}}</th>
					<th>{{lang.words.cloud|title()}}</th>
					{% if role == 1 %}
					<th>{{lang.words.group|title()}}</th>
					{% endif %}
					<th>{{lang.words.created_at}}</th>
					<th>{{lang.words.edited_at}}</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
                {% include 'ajax/provisioning/providers.html' %}
            </tbody>
        </table>
        <br /><span class="add-button" title="{{lang.words.add|title()}} {{lang.words.w_a}} {{lang.words.new}} {{lang.words.provider}}" id="add-provider-button">+ {{lang.words.add|title()}}</span>
	</div>
</div>
{% include 'include/provisioning/creating_dialogs.html' %}
{% include 'include/provisioning/providers_dialogs.html' %}
<script src="/inc/provisioning.js"></script>
{% endblock %}
