{% extends "base.html" %}
{% block content %}
{% from 'include/input_macros.html' import input, select, checkbox %}
<link href="/inc/provisioning.css" rel="stylesheet">
<script src="/inc/users.js"></script>
<script src="/inc/fontawesome.min.js"></script>
{% include 'include/del_confirm.html' %}
<div id="tabs">
	<ul>
		<li><a href="#provisioning" title="Server provisioning - Roxy-WI">Provisioning</a></li>
		<li><a href="#providers" title="Providers settings - Roxy-WI">Providers</a></li>
		{% include 'include/login.html' %}
	</ul>
	<ul id='browse_histroy'></ul>
	<div id="provisioning">
		{% if not is_terraform %}
		<center>
			<br />
			<h3>You have not installed Terraform. Read <a href="https://www.terraform.io/downloads.html"
			title="Download Terraform" target="_blank">here</a> how to install Terraform</h3>
		</center>
		{% elif servers|length == 0 %}
			{% include 'include/getstarted.html' %}
		{% else %}
        <table class="overview" id="ajax-provisioning">
			<thead>
				<tr class="overviewHead">
					<th class="padding10 first-collumn">Name</th>
					<th>Provider</th>
					{% if role == 1 %}
					<th>Group</th>
					{% endif %}
					<th>Cloud</th>
					<th>Region</th>
					<th>OS</th>
					<th>IP</th>
					<th>Instance type</th>
					<th>Status</th>
					<th>Created at</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="ajax-provisioning-body">
                {% include 'ajax/provisioning/provisioned_servers.html' %}
            </tbody>
        </table>
        <br /><span class="add-button" title="Create a new server" id="create-provider-button">+ Add</span>
		{% endif %}
	</div>
	<div id="providers">
        <table class="overview" id="ajax-providers">
			<thead>
				<tr class="overviewHead">
					<th class="padding10 first-collumn">Name</th>
					<th>Cloud</th>
					{% if role == 1 %}
					<th>Group</th>
					{% endif %}
					<th>Created at</th>
					<th>Edited at</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
                {% include 'ajax/provisioning/providers.html' %}
            </tbody>
        </table>
        <br /><span class="add-button" title="Add a new provider" id="add-provider-button">+ Add</span>
	</div>
</div>
{% include 'include/provisioning/creating_dialogs.html' %}
{% include 'include/provisioning/providers_dialogs.html' %}
<script src="/inc/provisioning.js"></script>
{% endblock %}
