{% extends "base.html" %}
{% block content %}	
{% set current_ver = versions.0 %}
						{% set new_ver = versions.1 %}
						{% set current_ver_without_dots = versions.2 %}
						{% set new_ver_without_dots = versions.3 %}
<script src="/inc/users.js"></script>
<table class="overview">
	<tr class="overviewHead">
		<td class="padding10 first-collumn" >Currnet version</td>
		<td class="padding10 first-collumn" style="width: 350px;">Last version</td>
		<td></td>
	</tr>
	<tr>
	<td class="padding10 first-collumn">
		<b>{{current_ver}}</b>
	</td>
	<td class="padding10 first-collumn" style="width: 350px;">
		<b>{{new_ver}}</b>
	</td>
	<td>
		
		{% if new_ver_without_dots > current_ver_without_dots and new_ver != "Sorry cannot get current version" %}
		<a class="ui-button ui-widget ui-corner-all" id="update_haproxy_wi" title="Update HAProxy">Update</a>
		{% endif %}
	</td>
</table>
<div class="add-note addName alert-info" style="width: inherit; margin-right: 15px;">
	<b style="font-size: 20px; display: block; padding-bottom: 10px;">Note:</b>
	For update you have to use HAProxy-WI repository. If do not use repositiry then use update.sh script in HAProxy-WI home directory	<br />
	<br />
	If server uses proxy to connection Internet add proxy settings in yum.conf
	<br />
	<br />
	Read more about update in <a href="https://haproxy-wi.org/updates.py" title="Doc" target="_blank">docs</a>
	and <a href="https://haproxy-wi.org/changelog.py" title="Changelog" target="_blank">changelog</a>
</div>
<div id="ajax"></div>
{% endblock %}