{% extends "base.html" %}
{% block content %}	
<h3 style="padding-left: 30px; width:inherit; margin: 0" class="overviewHead padding10">Only view, edit you can here: {{ fullpath }}/haproxy-webintarface.config</h3>
<div style="padding-left: 40px;">
	{% for name, value in config_items_section_name|dictsort(false) %}
		<br><b>Section: {{name}}</b>	<br>
		<div style="padding-left:30px;">
		{% for param, value2 in value|dictsort(false) %}
			<br>{{param}} = {{value2}}	
		{% endfor %}
		</div>
	{% endfor %}
</div>

{% endblock %}